section(id='a-noticeable-difference-independent-of-weight' class='content-header-with-content background-transparent')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/icons-wheels.svg' alt='TODO' width='34' height='29' class='lazy-image')
        //- div(class='label') 
        h2
          | A noticeable difference, 
          br
          | independent of weight
      div(class='content') 
        div(class='inner-content wysiwyg')
          p
            | The difference of the forces acting on riders weighing 
            span(style='color:#60BEF2') 50 kilograms 
            | / 
            span(style='color:#60BEF2') 110 lb
            | , and those weighing 
            span(style='color:#60BEF2') 90 kilograms 
            | / 
            span(style='color:#60BEF2') 198 lb 
            | is considerable. We have achieved our goal to blur these differences by using smart materials in the energy absorption system of Knee Protect Solution. Our stirrups provide all riders the same comfort, independent of their weight.