section(id='technology-advantages' class='items-3')
  div(class='container')
    div(class='inner-container')
      div(class='content')
        div(class='item')
          div(class='icon-wrapper')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Correct and comfortable leg positioning
        div(class='item')
          div(class='icon-wrapper')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Significantly reduced strain on knee joints
        div(class='item')
          div(class='icon-wrapper')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Stable and unchangeable foot position in the stirrup