section(id='comfort-for-riders' class='content-header-with-content background-reverted')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Comfort for riders
      div(class='content') 
        div(class='inner-content wysiwyg')
          p Knee Protect Solution stirrups have been created in cooperation with riders on various levels of training. From hobbyists, through amateurs, to professional riders. This large group included not only jumpers, but also dressage riders as well as eventers. A large part of the test-group were riders having suffered from injuries and therefore complaining about pain in their knees and ankles, occurring immediately after training. They testified that their pain is considerably reduced using our stirrups. We have adopted such a wide and diverse test-group, in order to create a product that satisfies the expectations of all kinds of riders, regardless of the level of training or discipline. In our opinion, this goal was achieved in 100%.