section(id='kinetic-energy-absorber-system' class='content-header-with-content-and-image')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2
          | Kinetic energy
          br
          | absorber system
      div(class='items')
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/stirrups-kinetic-energy-absorber-system-1.jpg' alt='TODO')
          div(class='column')
            div(class='icon-wrapper')
              span(class='icon circular-icon')
                img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='30' height='29' class='lazy-image')
            div(class='name') Upper absorber
            div(class='content') Developed to absorb part of the energy created by the direct pressure of the eyes of the stirrup to the stirrup leather. This mainly works when landing on stirrups after the jumps and makes the rider feel safer and more confident.
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/stirrups-kinetic-energy-absorber-system-2.jpg' alt='TODO')
          div(class='column')
            div(class='icon-wrapper')
              span(class='icon circular-icon')
                img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='30' height='29' class='lazy-image')
            div(class='name') Lower absorber
            div(class='content') Absorbs part of the energy created by landing on stirrups and also provides stable and comfortable foot support in the stirrup during the jumping course as well as during flat work. Also suits the needs of endurance riders.