section(id='technology-detailed-info-about' class='highlighted-list-with-content-and-image')
  div(class='container')
    div(class='inner-container')
      div(class='items')
        div(class='item')
          div(class='header logo-icon-with-label')
            h2
              | Adjustable tilt 
              br
              | of the footpad
          div(class='columns')
            div(class='column')
              div(class='image')
                picture(class='lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/stirrups-detailed-info-about-1.png' alt='TODO')
            div(class='column')
              div(class='content') Taking into account the different preferences of the riders, we made it possible to individually adapt the tilt of the footpad, giving the ability to adjust it classically (flat) and up to a tilt of 5 degrees.
        div(class='item')
          div(class='header logo-icon-with-label')
            h2
              | Footpad grip 
              br
              | and durability
          div(class='columns')
            div(class='column')
              div(class='image')
                picture(class='lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/stirrups-detailed-info-about-2.png' alt='TODO')
            div(class='column')
              div(class='content')
                | The footpad is made of durable and extremely abrasion-resistant composite. Spike-shaped extensions improve the adhesion of the shoe-sole, preventing the foot from slipping out of the stirrup.
                br
                br
                | We care about the full satisfaction of our customers. If our hard-wearing grips get abrased, you can send your pair of stirrups back to us and we will exchange your footpad for a new one
      
      div(class='scroll-down')
        div(class='text') Scroll To Discover More
        div(class='icon') 
          img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')