//-bsection(id='product-structure' class='highlighted-list-with-image')
section(id='technical-data' class='highlighted-header-with-content-and-gallery')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='header logo-icon-with-label')
          div(class='icon')
            div(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-wheels.svg' alt='TODO' width='34' height='29' class='lazy-image')
          //- div(class='label') 
          h2 Technical Data
        div(class='columns')
          div(class='column')

            div(class='images-outer')
              div(class='images')
                div(class='images-inner') 
                  
                  div(class='image')
                    div(class='image-inner')
                      picture(class='rwd-background lazy-picture')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                        img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-technical-data-gallery-image-1.png' alt='TODO')
                  
                  //- div(class='image')
                    div(class='image-inner')
                      picture(class='rwd-background lazy-picture')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                        img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-technical-data-gallery-image-1.png' alt='TODO')
                  
                  //- div(class='image')
                    div(class='image-inner')
                      picture(class='rwd-background lazy-picture')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                        img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-technical-data-gallery-image-1.png' alt='TODO')
              
              div(class='navigation')
                div(class='pages')
                  div
                  //- div
                  //- div
                div(class='previous')
                  span(class='circular-icon')
                    img(src='images/1px.gif' data-src='images/icons-navigation-previous.svg' alt='TODO' width='1' height='1' class='lazy-image')
                  //- span(class='button-icon')
                    img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
                div(class='next')
                  span(class='circular-icon')
                    img(src='images/1px.gif' data-src='images/icons-navigation-next.svg' alt='TODO' width='1' height='1' class='lazy-image')
                    
            //- div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/stirrups-detailed-info-about-2.png' alt='TODO')
          div(class='column')
            div(class='content wysiwyg')
              p
                | To get the right stirrup weight, the metal frame was made of high quality, durable aluminum. The footpad and also the upper absorber cover are made of durable composite. In this way, we achieved a weight of 
                span(style='color:#60BEF2') 560g 
                | / 
                span(style='color:#60BEF2') 1.24 lb 
                | for one stirrup.
              p This is the weigh most riders described as “appropriate”. They are neither too light nor too heavy. Thanks to the right balance they are virtually undetectable.