section(id='technology-gallery-with-content-only' class='content-gallery')
  div(class='container')
    div(class='inner-container')
      
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label')
        h2 stirrups
        h3 TECHNOLOGY
      
      div(class='images-outer')
        div(class='images')
          div(class='images-inner') 
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-gallery-image-1.png' alt='TODO')
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-gallery-image-1.png' alt='TODO')
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-gallery-image-1.png' alt='TODO')
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-gallery-image-1.png' alt='TODO')
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-gallery-image-1.png' alt='TODO')
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-stirrups-gallery-image-1.png' alt='TODO')
        
        div(class='navigation')
          div(class='pages')
            div
            div
            div
            div
            div
            div
          div(class='previous')
            span(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-navigation-previous.svg' alt='TODO' width='1' height='1' class='lazy-image')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
          div(class='next')
            span(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-navigation-next.svg' alt='TODO' width='1' height='1' class='lazy-image')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
      
      div(class='buttons')
        a(class='button button-blue button-with-background button-with-background-hover' href='shop-group-product.html' title='TODO')
          span(class='button-label') BUY NOW!
        a(class='button button-blue button-with-background-hover' href='shop.html' title='TODO')
          span(class='button-label') To the shop

      div(class='content')
        div(class='item')
          div(class='name') Match to yourself!
          div(class='info') Winderen stirrups are produced in a wide range of colors. The high-quality paint used gives their finish an extremely elegant look, and is highly resistant to spattering and bruising.
        //- div(class='item')
          div(class='name') Cut-open Withers
          div(class='info') The Back Protect Solution Saddle Half Pad has been designed to provide a maximum comfort, to allow free movement and to reduce the pressure on the spinous processes of the spine.
        //- div(class='item')
          div(class='name') Easy to Maintain
          div(class='info') The dirt resistance of the upper shell makes the pad easy to maintain. You can clean it with a moistened sponge or wash it (after removing the inside layers) at a temperature of 30˚C.