$navbar-height: 60px;
$navbar-submenu-height: 180px;
$navbar-logo-section-width: 280px;
$navbar-right-menu-width: 350px;
$navbar-menu-width: calc(100% - 350px); // calc(100% - $navbar-right-menu-width);
$navbar-z-index: 1000;
$navbar-expanded-height: $navbar-height+$navbar-submenu-height+200;

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $navbar-z-index;
}

.offset-navbar {
    height: $navbar-height;

    &-welcome {
        @media(max-width: $breakpoint-med) {
            height: $navbar-height;
        }
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    height: $navbar-height;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;

    font-family: $mainFont;
    font-size: 16px;
    font-weight: 600;
    color: $text;
    text-transform: uppercase;

    background-color: rgba($black, 0.8);
    z-index: $navbar-z-index;

    @media(max-width: $breakpoint-small) {
        background-color: #191919;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.navbar a:link {
    max-height: 30px;

    @media(min-width: $breakpoint-med) {
        max-height: 36px;
    }
}

.navbar a:link,
.navbar a:visited {
    color: $text;
    text-decoration: none;
}

.navbar .active i,
.navbar .active span {
    color: $blue;
}

.navbar a:hover {
    color: $blue;
    text-decoration: none;
}

.navbar-section {
    display: flex;
    flex: 1;

    @media(min-width: $breakpoint-med) {
        flex: unset;
    }
}

.navbar-spacer {
    display: block;
    flex: 1;

    @media(min-width: $breakpoint-med) {
        flex: 0;
    }

    @media(min-width: $breakpoint-large) {
        display: none;
    }
}

.navbar-bottom-spacer {
    display: none;
    margin-bottom: 0;
    transition: margin-bottom .3s ease-in;

    @media(min-width: $breakpoint-large) {
        display: block;
    }

    &.expanded {
        margin-bottom: $navbar-expanded-height;
    }
}

.navbar-hamburger-menu {
    align-items: center;
    display: flex;
    flex: 1;
    line-height: $navbar-height;

    @media(min-width: $breakpoint-med) {
        flex: 0;
    }

    @media(min-width: $breakpoint-large) {
        display: none;
    }
}

.navbar-logo-section {
    max-width: 64px;
    align-items: center;
    flex: 2;
    z-index: $navbar-z-index + 1;

    @media(min-width: $breakpoint-med) {
        max-width: unset;
        width: 100%;
        margin: 0 20px;
    }

    @media(min-width: $breakpoint-large) {
        max-width: $navbar-logo-section-width;
        width: unset;
    }
}

.navbar-nav-mobile>li>.navbar-cart-button {
    display: block;
}

.navbar-cart-button {
    display: none;
    position: relative;
    margin-right: 10px;

    @media(min-width: $breakpoint-med) {
        display: block;
    }
}

.navbar-cart-number.hidden {
    display: none;
}

.navbar-notification {
    position: absolute;
    right: -8px;
    top: 0;
}

/*
.navbar-button:hover .notification-white,
.n*/
.notification-white {
    background: $blue;
    color: #fff;
}

.navbar-buy {
    padding: 3px 10px;
    background: linear-gradient(180deg, #21BDE6, #094E87);
    border-radius: 3px;
    color: $text;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;

    &:hover {
        background: linear-gradient(180deg, #1991b1, #094E87);
        color: $text;
    }

    span {
        margin-left: 5px;
    }
}

@-moz-document url-prefix() {

    .navbar-menu,
    .navbar-menu-options,
    .navbar-submenu-options {
        scrollbar-width: none;
    }
}

.navbar-menu {
    display: none;
    height: $navbar-height;
    padding: 0;
    text-transform: uppercase;
    overflow: hidden;
    -ms-overflow-style: none;
    z-index: $navbar-z-index;
    padding-left: $navbar-logo-section-width;
    transition: height .3s ease-in;

    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px;
    }

    &:not(.fixed-top) {
        transform: translateY(-$navbar-height);
    }

    &.expanded {
        height: $navbar-expanded-height;
    }

    @media(min-width: $breakpoint-large) {
        display: block;
    }
}

.navbar-menu i {
    margin-right: 5px;

    @media(min-width: $breakpoint-small) {
        margin-right: 20px;
    }
}

.navbar-nav li {
    margin-left: 10px;

    @media(min-width: $breakpoint-small) {
        margin-left: 10px;
    }
}

.navbar-menu-options {
    color: $text;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: $navbar-height;
    width: $navbar-menu-width;

    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px;
    }

    .navbar-menu-option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;
        white-space: nowrap;
        padding: 0px 6px;

        &.active>.navbar-button-next,
        &.active>.navbar-button-prev {
            opacity: 1;
        }

        &.active>.navbar-submenu-options {
            opacity: 1;
            z-index: 1;
            pointer-events: all;
            padding-top: 10px;
        }

        &.active>a {
            color: $blue;
        }
    }

    .navbar-menu-option>a {
        font-family: $mainFont;
        text-transform: uppercase;
        float: left;
        max-height: unset;
        font-size: 14px;

        &:hover {
            color: $blue;
        }

        &.active {
            border-bottom: 2px solid $blue;
        }
    }
}

/* Kopia*/
/*
.navbar-submenu-options {
    background-color: rgba($black, 0.8);
    color: $text;
    display: flex;
    height: $navbar-submenu-height;
    left: 0px;
    opacity: 0;
    overflow-x: scroll;
    pointer-events: none;
    position: absolute;
    top: $navbar-height;
    transition: opacity .3s ease-in;
    width: 100vw;
    z-index: 0;
    white-space: normal;

    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px;
    }

    .navbar-submenu-option {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        min-width: 180px;
        max-width: 180px;

        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .navbar-submenu-option>a {
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
        max-height: 100%;
        height: 100%;
        text-transform: uppercase;
        float: left;
        padding: 0 15px;
        text-align: center;
        align-items: center;
        justify-content: center;

        img {
            width: auto;
            height: auto;
            margin: 0px 40px 20px;
            max-height: 70px;
            min-height: 70px;
        }

        &:hover {
            color: $blue;
        }

        &.active {
            border-bottom: 2px solid $blue;
        }
    }
}
*/


.navbar-submenu-options {
    background-color: rgba($black, 0.8);
    color: $text;
    display: flex;
    flex-flow: row wrap;
    left: 0px;
    opacity: 0;
    /*overflow-x: scroll;*/
    /*padding-left: $navbar-logo-section-width;*/
    pointer-events: none;
    position: absolute;
    top: $navbar-height;
    transition: opacity .3s ease-in;
    width: 100vw;
    z-index: 0;
    white-space: normal;

    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px;
    }

    .navbar-submenu-option {
        display: flex;
        justify-content: center;
        height: 100%;
        min-width: 180px;
        max-width: 180px;
        margin-bottom: 1rem;

        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .navbar-submenu-option>a {
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
        max-height: 100%;
        height: 100%;
        text-transform: uppercase;
        float: left;
        padding: 0 15px;
        text-align: center;
        align-items: center;
        justify-content: center;

        img {
            width: auto;
            height: auto;
            margin: 0px 40px 20px;
            max-height: 70px;
            min-height: 70px;
        }

        &:hover {
            color: $blue;
        }

        &.active {
            border-bottom: 2px solid $blue;
        }
    }
}


.navbar-options {
    color: $productBackground;
    display: flex;

    a:link,
    a:visited {
        color: $productBackground;
    }

    a:link.active,
    a:visited.active {
        color: $text;
    }

    a:hover {
        color: $blue;
    }

    li.navbar-option {
        margin-left: 0;
    }

    li:not(:last-child)::after {
        margin: 0 3px;
        content: "/";
    }
}

.navbar-nav-mobile>.navbar-currencies,
.navbar-nav-mobile>.navbar-languages,
.navbar-nav-mobile>.navbar-user {
    display: block;
}

.navbar-nav-mobile>.navbar-currencies>.navbar-dropdown>.dropdown-content,
.navbar-nav-mobile>.navbar-languages>.navbar-dropdown>.dropdown-content,
.navbar-nav-mobile>.navbar-user>.navbar-dropdown>.dropdown-content {
    bottom: 35px;
    right: auto;
    transform: translateX(-25%);
}

.navbar-currencies {
    display: none;

    @media(min-width: $breakpoint-med) {
        display: block;
    }
}

.navbar-languages {
    display: none;

    @media(min-width: $breakpoint-med) {
        display: block;
    }
}

.navbar-user {
    display: none;

    @media(min-width: $breakpoint-med) {
        display: block;
    }
}

.navbar-language {
    display: flex;
    align-items: center;
    white-space: nowrap;

    @media(max-width: $breakpoint-med) {
        font-size: 14px !important;
    }
}

.navbar-language img {
    height: auto;
    width: 22px;
    margin-top: 4px;
}

.navbar-logo {
    display: none;

    object {
        height: 36px;
    }

    @media(min-width: $breakpoint-med) {
        display: block;
    }
}

.navbar-logo-small {
    object {
        display: none;
        height: 36px;
    }

    @media(min-width: $breakpoint-med) {
        display: none;
    }
}

.navbar-right-menu {
    align-items: center;
    display: flex;
    float: right;
    height: $navbar-height;
    justify-content: flex-end;
    left: auto;
    margin: 0 20px;
    z-index: $navbar-z-index + 1;

    @media(min-width: $breakpoint-med) {
        width: $navbar-right-menu-width;
    }

    &:not(.fixed-top) {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.navbar-nav-mobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: $navbar-height;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.navbar-dropdown-language img {
    height: auto;
    width: 22px;
    margin-left: 10px;
}

.navbar-button {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: $mainFont;
    font-size: 16px;
    line-height: 27px;
    height: 27px;
    font-weight: 600;
    color: $text;
    display: flex;
    justify-content: space-between;

    .fa {
        margin-left: 4px;

    }

    .fa-chevron-down,
    .fa-chevron-up {
        color: $separator;
    }
}

/*
.navbar-button:hover,
.navbar-button.active {
    color: $blue;
}
*/

.navbar-button-prev,
.navbar-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .3s ease-in;
}

.navbar-button-next {
    right: 5px;
}

.navbar-button-prev {
    left: $navbar-logo-section-width;
}