.content {
    margin-top: -30px;
}

.page-container-offset {
    padding-top: 30px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $welcomeDetailsDark;


    a {
        color: $blue;
    }

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: lighten($blue, 25%);
    }

    a.extern {
        padding-right: 0px;
    }

    a.button {
        color: #fff;
    }

    a.button-primary {
        color: #fff;
    }
}

.page-header {
    width: 100%;
    font-size: 26px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    background: #151515;
    padding: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 5px;

    &.page-header-light {
        background-color: $welcomeProductsBackground;
    }

    @media only screen and (max-width: $breakpoint-med) {
        font-size: 22px;
    }
}

.page-header-slider {
    width: 100%;
    height: auto;
    padding-bottom: 36.5%;
    position: relative;

    @media only screen and (min-width: $breakpoint-med) {
        height: 540px;
    }
}

.page-header-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left center;
}

.page-header-slider-text-container {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}

.page-header-slider-text-content {
    background: rgba($black, 0.5);
    font-size: 40px;
    color: $text;
    line-height: 70px;
    font-weight: 300;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 3px 3%;

    @media only screen and (max-width: $breakpoint-med) {
        font-size: 15px;
        line-height: 29px;
    }
}

.page-footer-slider-image {
    display: block;
    background-size: cover;
    background-position: center bottom;
    height: 300px;
    width: 100%;

    @media only screen and (min-width: $breakpoint-med) {
        height: 613px;
        width: 100%;
    }
}

.page-content {
    width: 90%;
    margin: 0 auto;
}

.page-content-side-video {
    width: 100%;
    height: 360px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $breakpoint-med) {
        height: 200px;
    }
}

.page-content h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.page-content h2,
h3,
h4 {
    color: #dfdfdf;
}

.page-content h2 {
    width: 100%;
    margin: 0 0 30px;
    padding: 10px 0;
    margin: 0 0 30px;
    border-bottom: 1px solid $separator;
    font-size: 20px;
    font-weight: 600;
    font-family: $mainFont;

    @media only screen and (min-width: $breakpoint-med) {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
    }
}

.page-content h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: $mainFont;

    @media only screen and (min-width: $breakpoint-med) {
        font-size: 20px;
    }

    &:not(:first-child) {
        margin-top: 40px;
    }
}

.page-content h4 {
    font-size: 18px;

    @media only screen and (min-width: $breakpoint-med) {
        font-size: 20px;
    }
}

/*
.page-content {
    padding-bottom: 1rem;
}

.page-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    font-family: $mainFont;
}*/

.page-content p {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    word-break: break-word;

    @media only screen and (min-width: $breakpoint-med) {
        font-size: 18px;
        line-height: 28px;
    }

    &.desktop-justified {
        @media only screen and (min-width: $breakpoint-med) {
            text-align: justify;
        }
    }
}

.page-content ul {
    @media only screen and (max-width: $breakpoint-med) {
        font-size: 16px;
    }
}

/*
.page-content ul {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    font-family: $mainFont;

    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: disc;
    list-style-position: outside;
}
*/
.page-content .boxed-content {
    padding: 20px;
    border: 1px solid white;
    margin: 20px auto;

    @media only screen and (min-width: $breakpoint-med) {
        width: 90%;
    }
}

.page-content .boxed-content legend {
    padding: 0 10px;

    text-align: center;
    font-size: 16px;
    font-family: $mainFont;
    font-weight: 400;
    color: $text;
}

.page-content .boxed-content ul li {
    margin-bottom: 10px;
}

.page-content .boxed-content .icon-table {
    margin-bottom: 40px;
}

.page-content {
    ol {
        ol {
            margin-left: 3rem;
        }

        ul {
            margin-left: 3rem;
        }
    }

    ul {
        ol {
            margin-left: 3rem;
        }

        ul {
            margin-left: 3rem;
        }
    }
}


.page-footer-slider {
    width: 100%;
    height: 300px;

    @media only screen and (min-width: $breakpoint-med) {
        height: inherit;
    }
}

.page-footer-slider .page-footer-slider-pagination.swiper-pagination {
    @media only screen and (max-width: $breakpoint-med) {
        bottom: 60px;
    }
}

.page-footer-slider img {
    width: 100%;
    height: auto;
}

.page-footer-slider-navigation {
    display: none;
}

.page-footer-slider:hover .page-footer-slider-navigation {
    display: block;

    @media only screen and (pointer: none) {
        display: none;
    }
}

.page-footer-slider-navigation.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.page-footer-slider-navigation.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.page-footer-slider-pagination .swiper-pagination-bullet-active {
    background: $text;
}

.page-footer-saddle-half-pad-rent {
    padding-top: 20px;
    padding-bottom: 30px;
}

.page-footer-saddle-half-pad-rent-box {
    background: $welcomeDetailsLight;
}

.page-footer-saddle-half-pad-rent-details h2 {
    font-size: 24px;
    font-weight: 300;
    font-family: $mainFont;
}

.page-footer-saddle-half-pad-rent-details p {
    margin-top: 30px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 300;
    font-family: $mainFont;
}

.page-footer-saddle-half-pad-rent-learn-more {
    color: $text;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;

    i {
        margin-right: 10px;

        color: $blue;
    }

    &:hover {
        i {
            color: $text;
        }
    }
}

.page-footer-saddle-half-pad-rent-box .page-footer-saddle-half-pad-rent-image {
    height: 320px;
    margin-top: 0;
    margin-bottom: 0;

    background-image: url(../img/shop_hire.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-footer-go-to-shop {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 720px) {
    .page-footer-go-to-shop {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.page-footer-go-to-shop .button {
    padding: 15px 25px;

    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.page-footer-blog-image img {
    padding: 20px;
}




.page-container-new {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 300;
    color: #dfdfdf;
    line-height: 1.5;

    strong {
        font-family: "Open Sans";
        font-weight: 600;
        color: #dfdfdf;
        line-height: 1.25;
    }

    .page-header-slider {
        height: 550px;
        overflow: hidden;

        @media only screen and (max-width: $breakpoint-med) {
            height: 220px;
        }
    }

    .page-content {
        width: 100%;
    }

    .row {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .row-padding {
        margin: 0 auto;
        width: 90%;
    }

    .jarallax-keep-img {
        height: 500px;

        @media only screen and (max-width: $breakpoint-med) {
            height: 270px;
        }
    }

    .bg-15 {
        background-color: #151515;
    }

    .bg-1e {
        background-color: #1e1e1e;
    }

    h2 {
        text-align: left;
        font-size: 24px;
        line-height: 28px;
        margin-top: 5px;
        font-family: "Open Sans";
        font-weight: 300;
        color: #dfdfdf;
    }

    h3 {
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: 300;
        color: #dfdfdf;
        line-height: 0.8;
        border-bottom: 1px solid $separator;
    }

    ul.ul-check {
        width: 100%;

        span {
            color: $blue;
            padding-right: 0.25rem;
        }
    }
}




/* Nowa wersja stron opisowych */
.page2 {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;

    .page-header-slider {
        overflow: hidden;
        max-height: 540px;

        iframe {
            margin-top: -5vw;
            width: 100vw;
            height: calc(100vw/1.77);
        }
    }

    .container {
        max-width: 100%;
    }

    .row {
        margin: 0 auto;
        max-width: 1200px;
    }



    /* PZ kod */
    .video-header {
        position: absolute;
        top: -30%;
        width: 100%;
        overflow: hidden;
        padding-top: 60px;

        @media only screen and (max-width: $breakpoint-med) {
            position: absolute;
            top: 0;
            left: -50%;
            width: 200%;
            height: 100%;
            overflow: hidden;
            padding-top: 60px;
        }
    }

    .p {
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
        color: #dfdfdf;
    }

    .product-title-lowercase {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        font-weight: 300;
        padding: 0px;

        @media only screen and (max-width: $breakpoint-med) {
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            font-weight: 300;
            padding: 10px;
        }
    }

    .product-title-uppercase {
        font-size: 34px;
        font-weight: 600;
        line-height: 52px;
        padding-bottom: 14px;
        text-align: center;

        @media only screen and (max-width: $breakpoint-med) {
            font-size: 26px;
            line-height: 36px;
            padding-bottom: 16px;
        }
    }


    .title-line {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 300;
        color: #dfdfdf;
        border-bottom: 1px solid #444;
        padding: 10px 0;
        text-align: center;
    }

    .product-attributes {
        font-size: 26px;
        font-weight: 300;
        line-height: 30px;
        color: #dfdfdf;
        font-family: "Open Sans";
        text-align: center;
        line-height: 34px;

        @media only screen and (max-width: $breakpoint-med) {
            font-size: 22px;
            line-height: 30px;
        }
    }



}


.page-list {
    .row {
        padding-bottom: 1.5rem;
        padding-top: 2rem;
        border-bottom: 1px solid #444;
    }

    .page-list-image {
        margin: 0px;
        padding: 0px;

        a {
            padding-top: 0px;
            padding: 0px;
        }
    }

    .pagesubpages {
        img {
            width: 100%;
            height: auto;
        }

        .page-list-text {
            padding-top: 0px;
            margin-top: 0px;

            h2 {
                border: none;
                margin: 0px;
                font-family: "Open Sans", sans-serif;
                text-transform: uppercase;
                font-size: 34px;
                font-weight: 300;
                line-height: 38px;
                padding-top: 0px;
                padding-bottom: 0px;

                @media only screen and (min-width: $breakpoint-small) {
                    font-size: 28px;
                    line-height: 32px;
                }

                a {
                    margin-top: 0px;
                    padding-top: 0px;
                }
            }

            .page-list-info {
                font-size: 95%;

                @media only screen and (min-width: $breakpoint-small) {
                    font-size: 16px;
                }
            }

            .page-list-readmore {
                .button {
                    font-size: 18px;
                    display: inline-block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin-bottom: -5px;

                }

                .button:hover {
                    color: #fff !important;
                }

                .fa {
                    color: $blue;
                }
            }

            .page-list-buy {
                padding-top: 1rem;
            }

            .page-list-buy-now {
                display: inline-block;
                padding: 7px 22px;
                background: linear-gradient(180deg, #21BDE6, #094E87);
                border-radius: 3px;
                color: #fff !important;
                font-family: $mainFont;
                font-size: 14px;
                font-weight: 600;

                &:hover {
                    background: linear-gradient(180deg, #1991b1, #094E87);
                }
            }
        }
    }
}