/* ! PRINT CSS */
@media print {

   body {
     background: white;
     color: black;
   }
   li {
     list-style: none;
   }
   img {
     border: 0;
   }
   #header {
     display: none;
   }
   #sidebar {
     display: none;
   }
   #tabnav {
     display: none;
   }
   #headtitle {
     display: none;
   }
   #footer {
     display: none;
   }
   #newslast {
     display: none;
   }
   #page {
      margin-left: 0px;
      width: 98%;
   }
   #pageback {
     display: none;
   }

   #worker {
     display: none;
   }
   #page_language {
     display: none;
   }
   #page_tools {
     display: none;
   }

   #subfooter {
     display: none;
   }

   .product_back {
     display: none;
   }
   #koszyk_dodaj {
     display: none;
   }
   .noprint {
     display: none;
   }

   /*Prettyphoto */
   .pp_next {
     display: none;
   }
   .pp_previous {
     display: none;
   }
   .pp_content_container {
     display: none;
   }

}