.form-ideal {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.select-ideal {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 9px 20px;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 8px;

    @media only screen and (min-width: $breakpoint-med) {
        margin: 0 5px;
    }
}