/* Header - opcje sklepowe  ------------------------ */
#header .headercart {
   position: absolute;
   top: 20px;
   right: 20px;
   z-index: 333;
}
#header .headercart a {
   color: #000;
}
#header .headercart li {
   float: left;
   padding: 10px;
   font-size: 16px;
   font-weight: lighter;
   background-color: #ededed;
}
#header .headercart strong {
   font-weight: normal;
}
#header .headercart .cartprice {
   background-color: #EED4AC;
}
#header .cartprice a {
   color: #fff;
}

.headeruser {
   padding: 3px;
   cursor: pointer;
   padding-right: 0px !important;
	background: transparent url('../images/down.png') right 6px no-repeat;
}
.headeruser span {
   padding-left: 5px;
   padding-right: 25px;
}
.headeruser:hover {
   color: #0d4d7d;
}
.headeruser:hover {
   padding: 3px;
}
.headeruser .ssqboxlogin {
   display: none;
}
.headeruser:hover .ssqboxlogin {
   display: block;
   z-index: 100;
}
.ssqboxrejestracja  {
   margin-top: 10px;
   background: #eee;
}
.ssqboxrejestracja li {
   display: block !important;
   float: none !important;
   padding: 0px !important;
   margin: 0px !important;
   width: 100%;
}
.ssqboxrejestracja li a {
   font-size: 90%;
   padding: 5px 5px 5px 10px;
   display: block !important;
   color: #EED4AC !important;
}
.ssqboxrejestracja li a:hover {
   background: #fff;
}

/* Lista produktów ------------------------ */
.offer {

}
.offer h1 {
   margin-bottom: 20px;
}
.offerfiltr {
   position: absolute;
   top: 10px;
   right: 0px;
   width: 80px;
   text-align: center;
   display: none;
}
.offerfiltr a {
   color: #444 !important;
   padding-right: 10px;
}
.offersort {
   display: none;
   margin: 0px !important;
   padding: 0px !important;
   color: #444;
}
.offersort table  {
}
.offersort table td {
   background: #eee !important;
}
.profillogin {
   margin-left: 10%;
   width: 80%;
}
.popuplogin {
   width: 500px;
   max-width: 500px !important;
   min-height: 300px;
}
.popuplogin h1 {
   display: none;
}
.popuplogin .profillogin {
   margin-left: 0%;
   width: 100%;
}
.profillogin form i {
   display: none;
}
.popuplogin .profillogin form i {
   display: inline;
   position: absolute;
   right: 0px;
   top: 10px;
   color: #664D33;
   font-size: 400%;
}
.popuplogin .profillogin h2 {
   margin-bottom: 40px;
}
.popuplogin .profillogin label {
}
.popuplogin .shoplogin {
   width: 100%;
}

.shopofferlist {
   background: #474747;
}
.shopofferlist li {
   /*background: rgba(5, 5, 5, 0.4);*/
   margin-bottom: 30px;
   padding: 8px;
   margin-left: 20px;
   margin-right: 20px;
   box-sizing: border-box;
   border-bottom: 1px solid #FFC076;
}
.shopofferlist li:last-child {
   border: none;
}
.shopofferlistitem li {
   vertical-align: top;
   display: inline-block;
   min-height: 150px;
   background: transparent;
   margin-bottom: 0px;
   border: none;
   margin-left: 0px;
   margin-right: 0px;

}
.shopofferlistitem .item1 {
   width: 27%;
   height: 140px;
   text-align: center;
   vertical-align: middle;
}
.shopofferlistitem .item2 {
   width: 46%;
}
.shopofferlistitem .item3 {
   width: 20%;
   text-align: right;
}
.shopofferlistitem .item1 img {
   width: 220px;
   height: auto;
}

.shopofferlistitem .item3 .cfg {
   padding: 0px;
   margin: 20px;
   margin-right: 0px;
   margin-top: 90px;
}


.shopoffer_info {
   text-align: justify;
   padding: 15px;
   background: #eee;
   margin-bottom: 10px;
   min-height: 180px;
}
.shopoffer_image {
   min-height: 180px;
   min-width: 250px;
   float: left;
   padding-right: 20px;
}

.shoplogin {
   width: 45%;
   margin: 0 auto;

}
.shoplogin .button {
   width: 100%;
}
.shoplogin input {
   width: 100%;
}
.shoplogin li {
   float: none;
   width: 100%;
}
fieldset legend {
   text-align: left;
   font-size: 120%;
}
.shoploginbg {
   padding-top: 30px;
}

/* ! Form profil ------------------------ */
.formprofil {
   padding-left: 50px;
   padding-right: 20px;
}
.formprofil h2 {
   padding-top: 30px;
   padding-bottom: 15px;
   border-bottom: 1px solid #ffc076;
}

/* ! Reminder ------------------------ */
#formreminder {
   margin: 0 auto;
   max-width: 400px;
}


/* ! Lista produktów ------------------------ */
.offer table {
	/*border: 1px solid #e7e7e7;*/
	border-collapse: collapse; border-spacing: 0;
	width: 100%;
	text-align: left;
}
.offer tr th, thead th {
}
.offer .trspace td {
   padding: 15px;
   background: rgba(0, 0, 0, 0);
}
.offer .trspace td:hover {
   background: rgba(0, 0, 0, 0);
}

.offer tr td {
	padding: 8px;
   background: rgba(0, 0, 0, 0.3);
}
.offer td {
   vertical-align: top;
}
.offer tr:nth-child(2n) td {
	/*background: #f7f7f7;*/
}
.offer tr:hover td {
	background: rgba(5, 5, 5, 0.4);
}
.offer td, td img {
   vertical-align: top;
}
.offer tfoot td {
	text-transform: uppercase;
}
.offer tfoot th {
	color: #444;
	font-size: 12px;
	text-transform: uppercase;
}
.offer form {
   padding-left: 10px;
   padding-bottom: 10px;
   text-align: right;
}
.offer form input {
   margin-top: 10px;
}
.offer form ul {
   margin-top: 10px;
}
.offer strong {
   display: block;
   font-size: 140%;
   font-weight: lighter;
   margin-bottom: 20px;
}
/*.offer .image {
   width: 220px;
   height: 140px;
   text-align: center;
   vertical-align: middle;
}
.offer .image img {
   width: 220px;
   height: auto;
}*/
.offer h4 {
   line-height: 25px;
   margin-bottom: 10px;
}
.offer h4 span {
   font-size: 11px;
}
.offer .opis {
   color: #bbb;
   font-size: 90%;
}
.offer .dostepnosc {
   text-align: right;
   font-size: 11px;
}
.offer .cartadd {
   margin-top: 50px;
}
.offer .dostepnosc1 {
   color: #444444;
   padding: 3px;
   background-color: #bef0be;
}


/* ! Oferta UL ------------------------ */
.woffer {
   margin-left: 50px;
   margin-right: 50px;
}
.woffer h2 {
   font-size: 190%;
   padding-bottom: 10px;
   margin-bottom: 20px;
   font-weight: 200;
   border-bottom: 1px solid #EED4AC;
}
.woffer ul {
   padding: 10px;
   background: rgba(0, 0, 0, 0.3);
}
.woffer li {
   width: 270px;
   height: 270px;
   overflow: hidden;
}


/* Oznaczenia (nowosc) ------------------------ */
.produktnew {
   background-color: #18c219 !important;
   color: #ffffff;
   border-radius: 3px;
   padding: 4px;
   margin: 4px;
}
.produktpromo {
   background-color: #c2189d;
   color: #ffffff;
   border-radius: 3px;
   padding: 4px;
   margin: 4px;
}

/* Produkt ------------------------ */
.product {
   padding-bottom: 10px;
   background: linear-gradient(to right, rgba(93,93,93,1) 0%, rgba(93,93,93,1) 45%, rgba(93,93,93,0) 100%);
}
.producth1 {
   margin-bottom: 0px;
}
.productback {
   display: block;
   float: left;
   font-size: 220%;
   vertical-align: middle;
   padding: 20px;
   background: #2A2A2A;
}
.h2opis {
   display: inline-block;
   padding-bottom: 0px;
   margin-bottom: 0px;
   margin-top: 10px;
   line-height: 100%;
}
.pagecontentinfo {
   padding-top: 10px;
}
.productr {
   position: absolute;
   top: 20px;
   right: 10px;
   width: 60%;
   color: #FFC076;
   z-index: 400;
}
.productimage {
   width: 64.5%;
   float: left;
   overflow: hidden;
   text-align: center;
}
.productimage img {
   margin-top: 50px;
   width: 80%;
}
.productimage .pageimages {
   width: 100%;
   margin-bottom: 10px;
   text-align: center;
   overflow: hidden;
   height: 490px;
}
.productimage .pageimages img {
   width: auto;
   max-width: 600px;
   vertical-align: middle;
}
.productimage .pageimages li {
   width: 100%;
   height: auto;
   background: transparent;
   border: none;
   text-align: center;
   font: 0/0 a;
   height: 470px;
}
.productimage .pageimages li:before {
   content: ' ';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

.productimage .pageimages div {
   width: 100%;
   height: auto;
   display: inline-block;
   vertical-align: middle;
}

.productimage .rslides_tabs {
   position: absolute;
   height: 40px;
   width: 100%;
   top: 460px;
   text-align: center !important;
}
.productimage .rslides_tabs li {
   float: none !important;
   display: inline-block !important;
   text-align: center;
   height: 20px;
   width: 20px;
}
.productimage .rslides_tabs li a {
   display: block;
   height: 15px;
   width: 15px;
   font-size: 0px !important;
   background: #4E3C29;
   border-radius: 20px;
}
.productimage .rslides_tabs .rslides_here a {
   font-size: 0px !important;
   background: #FFC27C;
}
.product .phttp {
   margin-top: 30px;
}

.productcart {
   margin-left: 70%;
   padding-right: 20px;
}
.productcart .pagecontent {
   padding-bottom: 20px;
   line-height: 150%;
   border-bottom: 1px solid #ffc076;
}
.productcart strong {
   font-size: 14px;
}
.productcart .stroke {
   font-size: 110%;
   text-decoration: line-through;
}
.productcart form {
   text-align: right;
   /*border-top: 1px solid #aaa;*/
   padding-top: 40px;
}
form .cartilosc {
   border: 0px;
   border: 1px solid #FFC086 !important;
   height: 20px;
   text-align: center;
   font-size: 13px;
   color: #FFC086;
   background: transparent;
}
.product .productbrutto {
   font-size: 30px;
   font-weight: lighter;
}
.product .productnetto {
   margin-left: 20px;
   display: none;
}
.product .productoldprice {
   text-align: right;
}
.product .productadd {
   margin-top: 10px;
}
.product .productpromo {
   margin-top: 5px;
   color: #c2189d;
}
.product .productpromo a {
   color: #c2189d;
}

.productitem {
   margin-top: 10px;
}
.productitem li span {
   color: #999;
   padding-right: 5px;
}
.productitem .item_edittime {
   display: none;
}
.product .item_kolory {
   display: none;
}
.product .item_colors {
   list-style: none;
   z-index: 90;
}
.product .item_colors div {
   display: inline-block;
   vertical-align: top;
   width: 70px;
   height: 80px;
   cursor: pointer;
}
.product .item_colors div span {
   font-size: 80%;
   opacity: 0;
}
.product .item_colors div p {
   margin: 0 auto;
   width: 50px;
   height: 50px;
   display: block;
   border-radius: 3px;
   border: 1px solid transparent;
   transition: border-color 0.5s ease;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100% !important;
}
.product .item_colors .active p {
   border: 1px solid #FCC185 !important;
}
.product .item_colors .active span {
   opacity: 1;
   transition: visibility 0s, opacity 0.5s linear;
}
.product .item_rozmiary {
   margin-top: 20px;
   text-align: right;
}
.product .item_rozmiary li {
   display: inline-block;
   text-align: center;
   margin-right: -5px;
}
.product .item_rozmiary a {
   display: block;
   font-size: 130%;
   padding: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   border: 1px solid #FFC076;
   transition: background-color 200ms linear;
}
.product .item_rozmiary a:hover {
   background: #FFC076;
   color: #444;
   text-decoration: none;
}
.product .item_rozmiary .active a {
   background: #FFC076;
   color: #444;
   text-decoration: none;
}


.produktsubmenu {
   height: 40px;
   border-bottom: 1px solid #999;
}
.produktsubmenu li {
   float: left;
   margin-right: 15px;
   margin-left: 15px;
}
.produktsubmenu li a {
   display: block;
   height: 23px;
   padding: 8px;
   font-size: 130%;
   font-weight: lighter;
}
.produktsubmenu .active {
   border: 1px solid #999;
   border-bottom: 1px solid white;
}
.tabDetails h2 {
   font-size: 130%;
   font-weight: lighter;
}
.productrelations {
   margin-top: 40px;
}
.productrelations ul {
}
.productrelations h3 {
   margin-top: 30px;
   font-size: 130%;
   text-transform: uppercase;
   font-weight: lighter;
   border-bottom: 1px solid #999;
}

/* Koszyk ilosc ------------------------ */
.cartiloscadd {
   height: 40px;
   text-align: right;
   vertical-align: text-top;
}
.cartiloscadd .cartilosc {
   width: 60px;
   border-radius: 0px;
	-webkit-appearance:none;
}
.cartiloscadd li {
   display: inline-block;
   min-width: 25px;
   margin: 0px;
   padding: 0px;
   text-align: center;
   overflow: hidden;
   margin-right: -5px;
   vertical-align: text-top;
}
.cartiloscadd .last {
   margin-left: 10px;
}
.cartiloscadd li input {
   height: 35px;
   font-size: 14px;
}
.cartiloscadd .cartadd {
   font-size: 13px;
}
.cartiloscadd li a {
   display: block;
   height: 30px;
   padding-top: 5px;
   font-weight: bolder;
   border: 1px solid #ffc076;
}
.cartiloscadd li a:hover {
   background: #ffc076;
   color: #fff;
   text-decoration: none;
   transition: background-color 200ms linear;
}

/* Dodaj do koszyka------------------------ */
.cartadd {
   border-radius: 2px;
   display: block;
   min-width: 100px;
}
.cartadd i {
   font-size: 150%;
   padding-right: 8px;
   vertical-align: middle;
}
.cartadded label{
   background: #66a803;
}

/* Zamowienie ------------------------ */
.checkout {
   min-height: 600px;
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
   background:rgba(0, 0, 0, 0.3);
   padding-bottom: 100px;
}
.checkout fieldset {
   margin-left: 30px;
   margin-right: 30px;
}
.checkout fieldset legend {
   width: 100%;
}
.checkout fieldset h3 {
   border-bottom: 1px solid #503c28;
   padding-bottom: 15px;
   margin-bottom: 15px;
   padding-top: 20px;
}
.checkout #adress_more {
   width: 80%;
}
.checkout .shopplatnosc label {
   display: block;
   padding: 5px;
}
.checkout ul li {
   padding-bottom: 15px;
}
.h1checkout {
   text-align: center;
   font-size: 180%;
   color: #b2b2b2;
}
.h1checkout span {
   margin-right: 35px;
}
.h1checkout .active {
   color: #ffc076;
}

/* Platnosci ------------------------ */
.shopdostawa ul {
   margin-top: 10px;
   margin-left: 30px;
   font-size: 90%;
}
.shopdostawa li {
   padding: 5px;
   /*border-bottom: 1px solid #efefef;*/
}
.shopdostawa .dostawa1 {
   vertical-align: middle;
   display: inline-block;
   width: 40%;
   height: 30px;
   background: transparent url('../img/dostawa1.png') 33% 5px no-repeat;
}
.shopdostawa .dostawa10 {
   vertical-align: middle;
   display: inline-block;
   width: 40%;
   height: 30px;
   background: transparent url('../img/dostawa10.png') 3% 5px no-repeat;
}


.shopplatnosc {
   margin-bottom: 10px;
}
.shopplatnosc ul {
   margin-left: 30px;
   font-size: 90%;
}
.shopplatnosc li {
   padding: 5px;
   margin-bottom: 20px;
   clear: both;
}
.shopplatnosc li strong {
   font-size: 110%;
   color: #fff;
   line-height: 30px;
}
.shopplatnosc li input {
   margin-top: 23px;
}
.shopplatnosc li .platnosciinfo {
   width: 95%;
   min-height: 30px;
   float: right;
   background: #4c4b4b;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   vertical-align: middle;
   box-sizing: border-box;
   transition: background-color 0.3s ease;
}
.shopplatnosc li label:hover .platnosciinfo {
   background: #848484;
   transition: background-color 0.3s ease;
}
.shopplatnosc li .active .platnosciinfo {
   background: #848484;
}
.shopplatnosc li .active .arrow-left {
  border-right: 10px solid #848484;
}

.shopplatnosc li label:hover .arrow-left {
  border-right: 10px solid #848484;
}
.shopplatnosc li .arrow-left {
   transition: all 0.3s ease;
   position: absolute;
   left: -10px;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-right: 10px solid #4c4b4b;
}
.shopplatnosc li .platnosciimg {
   float: right;
   margin-right: 20px;
   line-height: 20px;
}
.shopplatnosc li .platnosciimg img {
   vertical-align: middle;
   max-height: 30px;

}
.shopplatnosc li .platnoscimore {
   display: none;
}
.shopdodatkowo ul {
   margin-left: 30px;
   margin-top: -20px;
}



.cartend {
   width: 200px;
   font-size: 110%;
   margin-top: -12px;
}

.shopend {
   border-top: 1px solid #503c28;
   border-bottom: 1px solid #503c28;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 90%;
   text-transform: uppercase;
}
.shopenddl dt {
	float:left;
	width:40%;
	text-align:left;
	padding:3px;
	padding-right:5px;
}
.shopenddl dd {
	margin-left:42%;
	padding:3px;
}
.shopenddl1 {
   padding-bottom: 20px;
   border-bottom: 1px solid #503c28;
}
.shopenddl1 dt {
   color: #cecece;
}
.shopenddl2 {
   /*margin-top: 20px;*/
   margin-left: 59%;
   width: 40%;
   text-align: right;
}
.shopenddl .total {
   font-size: 140%;
}
.shopenddl2 .total dd {
   color: #ffc076;
}



/* Koszyk ------------------------ */
.cart {
}
.cartlistli li {
   padding-top: 10px;
   padding-bottom: 10px;
   min-height: 70px;
   border-bottom: 1px solid #eee;
}
.cartlistli div {
   float: left;
}
.cartlistli .w5 {
   width: 5%;
   float: left;
}
.cartlistli .w10 {
   width: 5%;
   float: left;
}
.cartlistli .w15 {
   width: 15%;
   float: left;
}
.cartlistli .w25 {
   width: 20%;
   float: left;
}
.cartlistli .w50 {
   width: 50%;
   float: left;
}

#shop_cart {
}
.cartlistbg {
   padding-left: 20px;
   padding-right: 20px;
   background: #474747;
}
.cartlist li {
   /*background: rgba(0, 0, 0, 0.4);*/
   border-bottom: 1px solid #FFBF81;
}
.cartlist li:last-child {
   border: none;
}
.cartlistli {
   vertical-align: middle;
}
.cartlistli li {
   background: transparent;
   display: inline-block;
   vertical-align: top;
   width: 20%;
   padding: 4px;
   padding-top: 10px;
   padding-bottom: 0px;
   box-sizing: border-box;
   border-bottom: 0px;
   vertical-align: middle;
}
.cartlistli .carttitle {
   width: 38%;
}
.cartlistli .cartimage {
   width: 25%;
   padding: 0px;
   padding-top: 20px;
   padding-right: 30px;
   text-align: center;
}
.cartlistli .cartimage a {
   padding: 4px;
}
.cartlistli .cartimage a {
   display: block;
}
.cartlist .cartiloscadd {
   margin-top: 15px;
}
.cartlist .cartiloscadd li {
   width: 25px;
   padding: 0px;
}
.cartlist .cartiloscadd .cartiloscadd2 {
   width: 55px;
}



.cartlist tr {
   background: rgba(0, 0, 0, 0.4);
}
.cartlist tr td {
	border-bottom: 1px solid #FFBF81;
}
.cartlist .cart1 {
   width: 30%;
}
.cartlist .cart2 {
   width: 120px !important;
}
.cartlist .cart3 {
   width: 20%;
}
.cartlist .cart4 {
   width: 5%;
}
.cartlist .cartiloscadd {
   height: auto;
}
.cartlist .cartnetto {
   display: none;
}
.cartlist .cartprice {
   text-align: right;
   font-weight: lighter;
   font-size: 120%;
   width: 15%;
}
.cartlist .cartprice div {
   width: 100%;
   min-height: 150px;
   border: 1px solid transparent;
}
.cartlist .cartprice ul {
   margin-top: 45px;
}
.cartlist .cartprice ul li {
   width: 100%;
}
.cartlist .cartdelete {
   position: absolute;
   top: 0px;
   right: 0px;
   font-size: 110%;
   margin-right: 5px;
}
.cartlist .cartdelete:hover {
   text-decoration: none;
}
.cartlist tfoot .cartprice {
   font-size: 130% !important;
   text-transform: none;
}
.cartlist tfoot {
	text-transform: uppercase;
}
.cartfoot {
   margin-top: 30px;
   margin-right: 40px;
   text-align: right;
}
.cartfoot dl {
   margin-left: 60%;
   width: 40%;
   padding: 3px;
}
.cartfoot dt {
   float: left;
   width: 65%;
}
.cartfoot dd {
   float: right;
   width: 35%;
}
.cartfoot .cartfoott {
   margin-top: 10px;
   font-size: 140%;
}


/* ! Reseler ------------------------ */
.profireseler {
   padding-left: 50px;
   padding-right: 50px;
}


/* ! Lista zamowien ------------------------ */
.orderlist {
   padding-left: 50px;
   padding-right: 50px;
}
.orderlist li {
   padding: 10px !important;
   padding-bottom: 20px;
   padding-top: 20px;
   border-bottom: 1px #F6BF8A solid;
}
.orderlist .float50 {
   float: left;
   width: 40%;
   margin-right: 40px;
}
.orderlist .float502 {
   margin-left: 47%;
   width: 47%;
}
.orderlist li dt {
   background: none;
   color: #999;
}
.orderlist li dl {
   border: none;
}
.orderlist li dd {
   padding-left: 4px;
}
.orderlist li .button {

}
.orderlist li h2 {
   margin-top: 0px;
}
.orderlist form img {
   margin-left: 20px;
   vertical-align: middle;
}

.ordersthxcontent {
   max-width: 800px;
   margin: 0 auto;
   padding-left: 30px;
   padding-right: 30px;
   background: rgba(0, 0, 0, 0.3);
   padding-bottom: 200px;
}
.ordersthxcontent h2 {
   font-size: 250%;
   margin-top: 0px;
   padding-top: 40px;
   padding-bottom: 20px;
   text-align: center;
}
.ordersthxcontent h3 {
   margin-top: 30px;
   padding-bottom: 30px;
   margin-bottom: 30px;
   border-bottom: 1px solid #ffc076;
}
.ordersthxcontent h4 {
   padding-bottom: 30px;
}
.ordersthxcontent img {
   padding-bottom: 20px;
}
.ordersthxcontent .adress {
   margin-bottom: 30px;
   font-size: 120%;
   line-height: 170%;
}
.ordersthxcontent .dotpay .button {
   margin-bottom: 50px;
   zoom: 1.3;
}
.ordersthxcontent .dotpay img {
   display: none;
}
.ordersthxcontent .dotpay p {
   display: none;
}

.ulcontentlr {
   margin-bottom: 30px;
}
.ulcontentlr li {
   padding-top: 5px;
   padding-bottom: 5px;
   border-bottom: 1px solid #503C28;
}
.ulcontentlr li i {
   color: #ffc076;
   margin-right: 10px;
}
.ulcontentlr li .flw50 {
   width: 40%;
   float: left;
   vertical-align: middle;
}
.ulcontentlr li .frw50 {
   width: 50%;
   float: right;
   text-align: right;
   vertical-align: middle;
}





/* ! Adres ------------------------ */
#formadres {
   margin: 0 auto;
   max-width: 700px;
   padding-top: 30px;
}
#formadres fieldset {
   padding-top: 30px;
   border: 0px !important;
}
/* Reminder ------------------------ */
#formpass {
   margin: 0 auto;
   max-width: 400px;
}
#formpass fieldset {
   border: 0px !important;
}

/* ! Wypożycz ------------------------ */
.pagehire b,strong {
   /*color: #FFC076;*/
}
.pagehire .div50l {
   width: 49%;
   margin-right: 0.5%;
}
.pagehire .div50l .pagecontent {
   padding-left: 40px;
   padding-right: 30px;
   text-align: justify;
}
.pagehire .div50r {
   width: 49%;
}
.pagehire .pagehirer {
   width: 90%;
}
.shophire {
   margin-top: -5px;
   width: 100%;
}
.shophire li {
   text-align: left;
   box-sizing: border-box;
   background: #5a5a5a;
   border-radius: 3px;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 20px;
   min-height: 150px;
}
.shophire li .image {
   float: right;
}
.shophire li .image img {
   max-height: 130px;
   width: auto;
}
.shophire li .line {
   border-bottom: 1px solid #FFC076;
}
.shophire .shophirer {
   margin-bottom: 30px;
}
.formreturn {
   margin: 0 auto;
   max-width: 700px;
}
