.shop-home-container {
    /*background: $contentBackground;*/
}

.shop-home-slider {
    width: 100%;
    height: 60vh;
    max-height: 540px;
    display: none;
    margin-top: 15px;

    /*background-image: url(/templates/1/img/shop_home/slider_2.jpg);*/
    background-position: center center;
    background-size: cover;

    color: $text;

    @media(min-width: $breakpoint-med) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.shop-home-slider h1 {
    font-family: $mainFont;
    font-size: 50px;
    font-weight: 300;
    line-height: 1em;
}

.shop-home-slider p {
    margin-top: 50px;

    font-family: $mainFont;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
}

.shop-home-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}

.shop-home-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    height: 200px;
    width: 100%;
    margin-bottom: 20px;

    /*background-position: center center;*/
    background-position: top;
    background-size: cover;

    @media(min-width: $breakpoint-med) {
        height: 380px;
        width: 50%;
        max-width: 590px;
        background-position: center center;
    }
}

.shop-home-product-name {
    width: 80%;
    padding: 20px 0;

    background-color: rgba(0, 0, 0, 0.5);
    color: $text;
    font-family: $mainFont;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.shop-home-product-coming-soon {
    margin-top: 10px;

    font-size: 20px;
    font-family: $mainFont;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}