section(id='compliance-with-fei-requirements' class='content-header-with-content-and-two-columns-list')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/icons-wheels.svg' alt='TODO' width='34' height='29' class='lazy-image')
        //- div(class='label') 
        h2
          | Compliance with 
          br
          | FEI requirements
      div(class='content') 
        div(class='inner-content wysiwyg')
          p One of the priorities we set when designing the Gel Bits System bits was its compliance with FEI requirements. Thanks to that we were able to design a bit that meets guidelines of the jumping, dressage and eventing rules:
      div(class='columns')
        div(class='column')
          div(class='item') Horses that have problems with getting on the bit and yielding to the hand
          div(class='item') Sensitive horses that have difficulty accepting a metal mouthpiece
          div(class='item') Horses that destroy synthetic bits by chewing on them
          div(class='item') Smooth surface of the bit
          div(class='item') Made of synthetic, durable material
          div(class='item') All mouthpieces’ hardness allowed by the rules
        div(class='column')
          div(class='item') Tongue relief port with acceptable height
          div(class='item') 18 mm thickness, suitable for both horses and ponies
          div(class='item') cheekpieces allowed for dressage (loose ring, eggbutt, D-ring and baucher)
          div(class='item') the shape of the curb bit and all lengths of cheekpieces allowed by the rules
          div(class='item') white and orange bit color not forbidden in all disciplines