section(class='content-definition-list')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon no-border')
            img(src='images/1px.gif' data-src='images/logo-gel-bits-system.svg' alt='TODO' width='48' height='48' class='lazy-image')
        //- div(class='label')
        h2 Gel bits system
      
      div(class='content')
        div(class='inner-content wysiwyg')
          p
            | Horse-friendy gel bits with interechangeable 
            br
            | cheek pieces system.

      div(class='buttons')
        a(class='button button-blue button-with-background button-with-background-hover' href='shop-group-product.html' title='TODO')
          span(class='button-label') BUY NOW!
        a(class='button button-blue button-with-background-hover' href='shop.html' title='TODO')
          span(class='button-label') To the shop
    
      div(class='items')
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-image-1.png' alt='TODO')
          div(class='column')
            div(class='text') Ported Mullen Mouth Mouthpiece with Bit Guards
            div(class='text') Has a rigid stainless-steel core
            div(class='text') Anatomical shape with space for the tongue
            div(class='text') Integrated guards
            div(class='text')
              | Available in sizes: 
              br
              | 115 mm / 125 mm / 135 mm / 145 mm
              br
              | 4.5” / 4.9” / 5.3” / 5.7”
            div(class='options')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-1.png' alt='TODO')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-2.png' alt='TODO')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-3.png' alt='TODO')
              div(class='text-icon')
                | 115 
                br
                | mm
              div(class='text-icon')
                | 125 
                br
                | mm
              div(class='text-icon')
                | 135 
                br
                | mm
              div(class='text-icon')
                | 145 
                br
                | mm
        
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-image-2.png' alt='TODO')
          div(class='column')
            div(class='text') Ported Mullen Mouth Mouthpiece
            div(class='text') Has a rigid stainless-steel core
            div(class='text') Anatomical shape with space for the tongue
            div(class='text')
              | Available in sizes: 
              br
              | 115 mm / 125 mm / 135 mm / 145 mm  
              br
              | 4.5” / 4.9” / 5.3” / 5.7”
            div(class='options')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-4.png' alt='TODO')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-2.png' alt='TODO')
              div(class='text-icon')
                | 115 
                br
                | mm
              div(class='text-icon')
                | 125 
                br
                | mm
              div(class='text-icon')
                | 135 
                br
                | mm
              div(class='text-icon')
                | 145 
                br
                | mm
      
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-image-3.png' alt='TODO')
          div(class='column')
            div(class='text') Rigid Mullen Mouth Mouthpiece
            div(class='text') Has a rigid stainless-steel core
            div(class='text') Anatomical shape with space for the tongue
            div(class='text')
              | Available in sizes: 
              br
              | 115 mm / 125 mm / 135 mm / 140 mm 
              br
              | 4.5” / 4.9” / 5.3” / 5.5”
            div(class='options')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-4.png' alt='TODO')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-2.png' alt='TODO')
              div(class='text-icon')
                | 115 
                br
                | mm
              div(class='text-icon')
                | 125 
                br
                | mm
              div(class='text-icon')
                | 135 
                br
                | mm
              div(class='text-icon')
                | 140
                br
                | mm
      
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-image-4.png' alt='TODO')
          div(class='column')
            div(class='text') FLEXI Mullen Mouth Mouthpiece
            div(class='text') Has a flexible steel core
            div(class='text') Flexibility: Medium 
            div(class='text')
              | Available in sizes: 
              br
              | 115 mm / 125 mm / 135 mm / 140 mm 
              br
              | 4.5” / 4.9” / 5.3” / 5.5”
            div(class='options')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-4.png' alt='TODO')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-5.png' alt='TODO')
              div(class='text-icon')
                | 115 
                br
                | mm
              div(class='text-icon')
                | 125 
                br
                | mm
              div(class='text-icon')
                | 135 
                br
                | mm
              div(class='text-icon')
                | 140 
                br
                | mm
      
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-image-5.png' alt='TODO')
          div(class='column')
            div(class='text') Super Flexi Mullen Mouth Mouthpiece
            div(class='text') Has a flexible steel core
            div(class='text') Flexibility: High
            div(class='text')
              | Available in sizes: 
              br
              | 115 mm / 125 mm / 135 mm / 140 mm  
              br
              | 4.5” / 4.9” / 5.3” / 5.5”
            div(class='options')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-4.png' alt='TODO')
              div(class='image-icon')
                picture(class='lazy-picture rwd-background')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-definitions-option-image-6.png' alt='TODO')
              div(class='text-icon')
                | 115 
                br
                | mm
              div(class='text-icon')
                | 125 
                br
                | mm
              div(class='text-icon')
                | 135 
                br
                | mm
              div(class='text-icon')
                | 140 
                br
                | mm