section(id='design-especially-for' class='highlighted-list-with-image')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='header logo-icon-with-label')
          div(class='logo')
            img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
          //- div(class='label') 
          h2
            | Designed
            br
            | especially for
        div(class='columns')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/gel-bits-system-design-especially-for.png' alt='TODO')
          div(class='column')
            div(class='items')
              div(class='item')
                h3 Horses that have problems with getting on the bit and yielding to the hand
              div(class='item')
                h3 Sensitive horses that have difficulty accepting a metal mouthpiece
              div(class='item')
                h3 Horses that destroy synthetic bits by chewing on them
              div(class='item')
                h3 Horses allergic to metal bits