section(id='comfort-for-riders' class='content-header-with-content background-reverted')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2
          | Durable against destruction from 
          br
          | chewing
      div(class='content') 
        div(class='inner-content wysiwyg')
          p A big challenge in the design phase was to make a mouthpiece that’s both soft and comfortable for horses and strong enough to hold up to chewing. After many attempts, we finally managed to achieve it. The soft, gel structure is willingly chewed and accepted by horses and at the same time is extremely resistant to being destroyed by chewing.
          p We did a lot of tests with horses, which, to the despair of their owners, destroyed different synthetic mouthpieces very quickly. These same horses didn’t destroy the Winderen gel bit. We even let dogs chew on it to ensure the strength of our gel. As carnivores, they have much sharper teeth and stronger jaws. Winderen bits performed more than satisfactorily*
      div(class='additional-content') 
        div(class='additional-inner-content')
          | * We assure you that no dogs were harmed during 
          br
          | the tests – on the contrary, they had quite a good time