section(id='gel-bits-system' class='content-header-with-content background-reverted')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon no-border')
            img(src='images/1px.gif' data-src='images/logo-gel-bits-system.svg' alt='TODO' width='48' height='48' class='lazy-image')
        //- div(class='label')
        h2 Gel bits system
        h3
          | Horse-friendy gel bits with interechangeable 
          br
          | cheek pieces system.
      div(class='content') 
        div(class='inner-content wysiwyg')
          p As we all know, choosing the right bit can be quite a challenge. A horse’s needs can change over time, so when designing the Winderen Gel Bits System we wanted to make the process of selecting the right bit for the needs and temperament of your horse as easy as possible.