section(id='horse-friendly-bits' class='content-header-with-content')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Horse-friendly bits
      div(class='content')
        div(class='inner-content wysiwyg')
          p For over three years we have been running in-depth tests and observations which ultimately led us to develop our Gel Bits System bits. During this period, we tested our ideas on hundreds of horses and riders with varying levels of skill and experience.
          p This extensive group, consisting of professional riders, amateurs and leisure riders, helped lead us to the right conclusions. As a result, we’ve created a gel that our test horses easily accepted and that is extremely durable against destruction from horses’ teeth. Many of our test riders observed that their horses were chewing the bit more willingly and relaxing faster during work without evading the bit. The horses were getting on the bit quickly and working with a good, stable contact, which made training sessions more effective and relaxed.