//-bsection(id='product-structure' class='highlighted-list-with-image')
section(id='interchangeable-system' class='highlighted-header-with-content-and-gallery')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        //- div(class='header logo-icon-with-label')
          div(class='icon')
            div(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-wheels.svg' alt='TODO' width='34' height='29' class='lazy-image')
          //- div(class='label') 
          h2 Technical Data
        div(class='columns')
          div(class='column')

            div(class='images-outer')
              div(class='images')
                div(class='images-inner') 
                  
                  div(class='image')
                    div(class='image-inner')
                      picture(class='rwd-background lazy-picture')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                        img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-interchangeable-system-gallery-image-1.png' alt='TODO')
                  
                  div(class='image')
                    div(class='image-inner')
                      picture(class='rwd-background lazy-picture')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                        img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-interchangeable-system-gallery-image-1.png' alt='TODO')
                  
                  div(class='image')
                    div(class='image-inner')
                      picture(class='rwd-background lazy-picture')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                        img(src='images/1px.gif' data-src='images/discover-the-products-gel-bits-system-interchangeable-system-gallery-image-1.png' alt='TODO')
              
              div(class='navigation')
                div(class='pages')
                  div
                  div
                  div
                div(class='previous')
                  span(class='circular-icon')
                    img(src='images/1px.gif' data-src='images/icons-navigation-previous.svg' alt='TODO' width='1' height='1' class='lazy-image')
                  //- span(class='button-icon')
                    img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
                div(class='next')
                  span(class='circular-icon')
                    img(src='images/1px.gif' data-src='images/icons-navigation-next.svg' alt='TODO' width='1' height='1' class='lazy-image')
                    
            //- div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/stirrups-detailed-info-about-2.png' alt='TODO')
          div(class='column')
            div(class='content wysiwyg')
              p This is why we have created a system of interchangeable cheek pieces and mouthpieces. This innovative solution lets you connect any of our mouthpieces with our entire range of cheek pieces, allowing a wide range of possibilities and modifications in the functionality of our bits. The other important thing is that mouthpieces and cheek pieces can be quickly and independently interchanged as often as you like.