section(id='our-gel-bits-system' class='content-image-with-content')
  div(class='container')
    div(class='inner-container')
      //- div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/logo-global-innovation-made-locally.svg' alt='TODO' width='48' height='48' class='lazy-image')
        //- div(class='label') 
        h2 
          | Global innovation
          br
          | made locally
      //-div(class='logo') 
        img(src='images/1px.gif' data-src='images/logo-global-innovation-made-locally.svg' alt='TODO' width='48' height='48' class='lazy-image')
      //-h2
        | Global innovation
        br
        | made locally
      div(class='content')
        div(class='content-inner')
          div(class='column')
            div(class='image') 
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/logo-fei.jpg' alt='TODO')
          div(class='column')
            div(class='text') Our Gel Bits System complies with the 25th edition of the FEI Dressage Rules, the 26th edition of the FEI Jumping Rules and the 25th edition of the FEI Eventing Rules.