section(id='safe-for-horses' class='content-header-with-content-and-image')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Safe for horses
      div(class='items')
        div(class='item')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/gel-bits-system-safe-for-horses.jpg' alt='TODO')
          div(class='column')
            div(class='icon-wrapper')
              span(class='icon circular-icon')
                img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='30' height='29' class='lazy-image')
            div(class='content') The synthetic gel used in a Winderen mouthpiece has been fully tested and found to be completely safe for horses. It has FDA certification, which is internationally recognised as proof of high standards, quality, and safety. This means that your horse can safely chew the Winderen bit with no ill effects