section(id='technology-video' class='video-with-description')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2
          | Achieve complete harmony with your horse, maintaining 
          br
          | light, stable and precise contact with its mouth
      div(class='content')
        div(class='inner-content')
          | Winderen Gel Bits System bits are made of durable synthetic gel that’s comfortable and readily accepted by horses, and at the same time is extremely resistant to being destroyed by chewing.
          br
          br
          | The Gel Bits System is also an innovative approach for riders who use more than one bit in their daily training. Each of our gel mouthpieces can be combined with different types of cheek pieces in order to create the right bit for you. The whole process of changing cheek pieces is very simple and takes just a few moments.
      div(class='video')
        div(class='iframe')
          div(class='outer-iframe')
            div(class='inner-iframe')
              //- iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
              iframe(src='https://player.vimeo.com/video/521822138?h=534e34a55f&title=0&byline=0&portrait=0' width='640' height='360' frameborder='0' allow='autoplay; fullscreen; picture-in-picture' allowfullscreen='true')
      div(class='scroll-down')
        div(class='text') Scroll To Discover More
        div(class='icon') 
          img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')