@media all and (min-width: $width-extra) {
  header {
    .navigation {
      > ul {
        > li {
          > .inner-navigation {
            > ul {
              > li {
                width: calc(100% / 3);
                padding: 0px 0px calc(100% / 3) 0px;
              }
            }
          }
        }
      }
    }
  }

  .container {
    padding: 0px $space-extra 0px $space-extra;
  }
}