// Basic meta tags
meta(charset="utf-8")
meta(name='viewport', content='width=device-width,initial-scale=1.0')

// Meta tags
meta(name='description', content='')
meta(name='keywords', content='')

// Open Graph tags
meta(name='og:title', content='')
meta(name='og:description', content='')
meta(name='og:type', content='')
meta(name='og:url', content='')
meta(name='og:image', content='')

// Styles
link(href='css/app.css', rel='stylesheet')

// Favicons
link(rel='apple-touch-icon' sizes='128x128' href='images/favicon-128x128.png')
link(rel='icon' type='image/png' sizes='64x64' href='images/favicon-64x64.png')
link(rel='icon' type='image/png' sizes='32x32' href='images/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='images/favicon-16x16.png')

//- // Fonts
//- link(rel='preconnect' href='https://fonts.googleapis.com')
//- link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Spectral&display=swap')
//- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext" rel="stylesheet"> 
//- <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet"> 