footer
  div(class='container')
    div(class='inner-container no-max-width')
      div(class='row')
        div(class='logo')
          a(href='#' title='TODO')
            img(src='images/1px.gif' data-src='images/logo.svg' alt='TODO' width='224' height='88' class='lazy-image')
            img(src='images/1px.gif' data-src='images/logo-mobile.svg' alt='TODO' width='199' height='32' class='lazy-image')
      div(class='row')
        div(class='column')
          div(class='label') Can we help you?
          div(class='info') We answer all questions from our customers right away
          div(class='link') 
            a(href='#' title='TODO')
              span(class='icon') 
                img(src='images/1px.gif' data-src='images/icons-customer-support.svg' alt='TODO' width='48' height='48' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
              span(class='label') Customer support
        div(class='column')
          div(class='label') Keep in touch
          div(class='info') Follow us on our social media networks
          div(class='socials')
            a(href='https://www.facebook.com/' title='TODO' target='_blank')
              img(src='images/1px.gif' data-src='images/icons-social-facebook.svg' alt='TODO' width='48' height='48' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-social-facebook-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
            a(href='https://www.instagram.com/' title='TODO' target='_blank')
              img(src='images/1px.gif' data-src='images/icons-social-instagram.svg' alt='TODO' width='48' height='48' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-social-instagram-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
            a(href='https://www.youtube.com/' title='TODO' target='_blank')
              img(src='images/1px.gif' data-src='images/icons-social-youtube.svg' alt='TODO' width='48' height='48' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-social-youtube-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
        div(class='column')
          div(class='label') Online shop
          div(class='info') Quick shopping directly from the manufacturer
          div(class='buttons')
            a(href='shop.html' title='TODO' class='button button-blue button-with-background button-with-background-hover button-with-icon')
              //- https://www.winderen.com/pl/shop_offer/
              span(class='button-icon')
                span(class='button-flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
              span(class='button-icon')
                span(class='button-flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
              span(class='button-label') Buy now
      div(class='row navigation')
        div(class='column')
          div(class='icon')
            img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='30' height='29' class='lazy-image')
          div(class='label') About Winderen
          div(class='links')
            ul
              li
                a(href='#' title='TODO') Our Mission
              li
                a(href='friends.html' title='TODO') Our Friends
              li
                a(href='testimonials.html' title='TODO') Testimonials
        div(class='column')
          div(class='icon')
            img(src='images/1px.gif' data-src='images/icons-magnifier.svg' alt='TODO' width='30' height='30' class='lazy-image')
          div(class='label') Our products
          div(class='links')
            ul
              li
                a(href='discover-the-products-saddle-half-pads.html' title='TODO') Saddle Half Pads
                  //- https://www.winderen.com/en/page/59/saddle-half-pads.html
              li
                a(href='discover-the-products-stirrups.html' title='TODO') Stirrups
                  //- https://www.winderen.com/en/page/167/stirrups.html
              li
                a(href='discover-the-products-gel-bits-system.html' title='TODO') Gel Bits System
                  //- https://www.winderen.com/en/page/658/bits.html
              li
                a(href='discover-the-products-saddle-pads.html' title='TODO') Saddle Pads
                  //- https://www.winderen.com/en/page/321/saddle-pads.html
              li
                a(href='discover-the-products-stable-bandages.html' title='TODO') Stable Bandages And Wraps
                  //- https://www.winderen.com/en/page/374/stable-bandages-and-wraps.html
              li
                a(href='discover-the-products-training-bandages.html' title='TODO') Training Bandages And Wraps
                  //- https://www.winderen.com/en/page/1106/training-bandages-and-wraps.html
              li
                a(href='#' title='TODO') Overreach Boots
              li
                a(href='discover-the-products-rugs.html' title='TODO') Rugs
                  //- https://www.winderen.com/en/page/1401/rugs.html
        div(class='column')
          div(class='icon')
            img(src='images/1px.gif' data-src='images/icons-book-star.svg' alt='TODO' width='34' height='25' class='lazy-image')
          div(class='label') Learn more
          div(class='links')
            ul
              li
                a(href='#' title='TODO') Knowledge Zone
              li
                a(href='instruction-main.html' title='TODO') Instructions
              li
                a(href='#' title='TODO') FAQ
              li
                a(href='reviews.html' title='TODO') Reviews
              li
                a(href='videos.html' title='TODO') Videos
        div(class='column')
          div(class='icon')
            img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='20' height='22' class='lazy-image')
          div(class='label') Shop now
          div(class='links')
            ul
              li
                a(href='shop.html' title='TODO') Online Shop
                //- https://www.winderen.com/en/shop_offer/
              li
                a(href='#' title='TODO') Terms and Conditions
              li
                a(href='#' title='TODO') Refunds Policy
              li
                a(href='#' title='TODO') Payments and Delivery
        div(class='column')
          div(class='icon')
            img(src='images/1px.gif' data-src='images/icons-group-of-people.svg' alt='TODO' width='29' height='31' class='lazy-image')
          div(class='label') Partner zone
          div(class='links')
            ul
              li
                a(href='#' title='TODO') Become a Partner
          div(class='icon')
            img(src='images/1px.gif' data-src='images/icons-person.svg' alt='TODO' width='17' height='23' class='lazy-image')
          div(class='label') Account
          div(class='links')
            ul
              li
                a(href='#' title='TODO') Manage your Account
              li
                a(href='#' title='TODO') Register now
      div(class='row')
        div(class='column logos')
          img(src='images/1px.gif' data-src='images/logo-cash-on-delivery.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-bank-transfer.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-bancontact.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-paypal.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-visa.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-deal.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/tmp-image-1.jpg' alt='TODO' class='lazy-image')
        div(class='column copyrights-and-links')
          a(href='#' title='TODO') Terms of Service
          span Copyright © Winderen Sp. z o.o.