header
  div(class='container')
    div(class='inner-container no-max-width')
      div(class='content')
        div(class='text')
          div(class='label') We offer complimentary returns for online orders
          div(class='link')
            a(href='#' title='TODO') Read more
        div(class='navigation')
          include ./components/header-navigation-desktop.pug
          include ./components/header-navigation-mobile.pug
      div(class='bar')
        include ./components/header-ship-to.pug
        include ./components/header-currency.pug
        include ./components/header-language.pug
      
      div(class='options')
        include ./components/header-buy-now.pug
        include ./components/header-shopping-cart.pug
        include ./components/header-account.pug
          
      include ./components/header-logo.pug
      include ./components/header-button-menu.pug
      include ./components/header-socials.pug
      include ./components/header-language-detection-message.pug
      
      include ./components/header-ship-to-overlay.pug