div(id='privacy-policy-info')
  div(class='container')
    div(class='inner-container')
      div(class='descriptiom')
        | By using this website you agree to our use of cookies. 
        //- br
        | You can change settings regarding cookies at any time 
        //- br
        | and also learn more about them.
      div(class='options')
        a(href='page.html' title='TODO' target='_blank') Read more
        span Accept