section(id='our-friends')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Our friends
      div(class='content')
        div(class='friends')
          div(class='friend')
            div(class='image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-our-friends-image-1.jpg' alt='TODO')
            div(class='name-and-socials')
              div(class='name')
                | Monika
                br
                | Grundkowska
              div(class='socials')
                a(href='#' title='Facebook' target='_blank') 
                  img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
                a(href='#' title='Instagram' target='_blank') 
                  img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
          div(class='friend')
            div(class='image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-our-friends-image-2.jpg' alt='TODO')
            div(class='name-and-socials')
              div(class='name')
                | Michał
                br
                | Tyszko
              div(class='socials')
                a(href='#' title='Instagram' target='_blank') 
                  img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
          div(class='friend')
            div(class='image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-our-friends-image-3.jpg' alt='TODO')
            div(class='name-and-socials')
              div(class='name')
                | Aleksandra
                br
                | Dąbkowska
              div(class='socials')
                a(href='#' title='Facebook' target='_blank') 
                  img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
                a(href='#' title='Instagram' target='_blank') 
                  img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='info')
          div(class='general-text') Friends of our brand are exceptional people who are connected with horses on a professional basis.
          div(class='bottom')
            div(class='icon')
              span(class='circular-icon')
                img(src='images/1px.gif' data-src='images/icons-heart.svg' width='10' height='10' alt='TODO' class='lazy-image')
            div(class='additional-text') Thank you for being with us!
      div(class='text-with-button')
        div(class='buttons')
          a(href='friends.html' title='TODO' class='button button-with-hover button-with-black-background-hover button-with-icon')
            //- https://www.winderen.com/en/friends/
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-heart.svg' alt='TODO' width='1' height='1' class='lazy-image')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-heart-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
            span(class='button-label') Meet them all