section(id='reviews')
  div(class='container')
    div(class='inner-container')
      div(class='reviews')
        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-1.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/fr.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Joanna
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') I have had enough lateral control with this cheek piece so I have not yet tried the full cheek that I also bought. I love how these are interchangeable. The bit overall is easy to clean. I just dunk it in water right after the ride and everything seems to slide right off of it easier than a traditional metal bit.

        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-2.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/ca.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Caitlin
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') Very impressed by the quality of the Winderen saddle pads. These are actually made in the EU. It goes perfectly with my Winderen half pad and keeps my horse very comfortable. Accommodates my long saddle flap as well.
        
        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-3.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/ca.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Jan-Michel
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') Aleksandra went out of her way to answer all my questions, help me customize my order, and follow up when needed. Thank you!
        
        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-4.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/us.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Karen
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') My horse has kissing spines and seems to appreciate this pad. It is vital to position the saddle and pad perfectly correctly and then everything is balanced and stays in place.
        
        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-5.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/no.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Alicia
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') My horse was a head shaker, puller, behind the bit, he even reared once. I did it all… I had an equine dentist come out, she told me the bit I was using fit him well and did not touch any teeth or pinch. I had a equine chiropractor come out, and they told me he was in prime condition with the issues to cause any pain while riding. So, what was it?!! I guess he just didn’t like metal in his mouth. I bought a cheap rubber bit from the local tack shop and BAM. He loved it. But, it was torn up after 2 rides. I then stepped up to the happy mouth, and within a week, there were sharp edges. When I found Winderen products I noticed a year warranty. Even if the bit lasted 6 months, it would pay for itself and last WAYYY longer than any other alternative to metal bit. The price was worth it, and my horse LOVES IT!
        
        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-6.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Kristi
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') I’ve finally found a bit my Percheron Cross mare seems comfortable in but can’t destroy. There is not one chew mark and the corners of her mouth no longer get sore. So far, we love this bit!
        
        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-7.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/se.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Mikael
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') First class!
            
        div(class='review')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can save the trouble of brushing it because it doesn’t stick at all
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 1
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 1
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 2
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 2
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 3
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 3
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 4
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 4
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 5
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 5
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 6
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 6
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 7
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 7
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 8
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 8
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 9
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 9
            
        div(class='review hidden')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-review-image-8.png' alt='TODO')
          div(class='details')
            div(class='name-and-stars') 
              div(class='author')
                span(class='flag')
                  img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span(class='name') Brian 10
              div(class='stars')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
                img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') This is amazing! You can...... 10
      
      div(class='buttons')
        //- a(href='https://www.winderen.com/pl/page/1441/popregi.html' title='TODO' class='button button-with-orange-hover')
          span(class='button-label') Learn more
        span(class='button button-with-background-hover button-with-icon')
          span(class='button-icon')
            img(src='images/1px.gif' data-src='images/icons-book-star.svg' alt='TODO' width='1' height='1' class='lazy-image')
          span(class='button-icon')
            img(src='images/1px.gif' data-src='images/icons-book-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
          span(class='button-label') Read more