section(id='product-reviews-and-support')
  div(class='container')
    div(class='inner-container')
      
      div(class='reviews')
        
        div(class='review')
          div(class='author-and-stars')
            div(class='author')
              span(class='flag')
                img(src='images/1px.gif' data-src='images/flags-4x3/fr.svg' width='1' height='1' alt='TODO' class='lazy-image')
              span(class='name') Joanna
            div(class='stars')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
          div(class='quotation') The best Pad for my back (I have discopatie) and for my horses back also! Without it I couldn’t ride without pain in my back and now I have no more problems! My horse’s back also does not show any tension! Proved by vet and physiotherapist! I am using it from almost 3 years, every day and will not change to any other pad!
        
        div(class='review')
          div(class='author-and-stars')
            div(class='author')
              span(class='flag')
                img(src='images/1px.gif' data-src='images/flags-4x3/us.svg' width='1' height='1' alt='TODO' class='lazy-image')
              span(class='name') Kelly
            div(class='stars')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
          div(class='quotation') This is my favorite half pad! Completely eliminated my horses’ saddle bumps and fits seamlessly under the saddle. Quality is superb and the horses love it!
        
        div(class='review hidden')
          div(class='author-and-stars')
            div(class='author')
              span(class='flag')
                img(src='images/1px.gif' data-src='images/flags-4x3/pl.svg' width='1' height='1' alt='TODO' class='lazy-image')
              span(class='name') Kelly 1
            div(class='stars')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
          div(class='quotation') This is... 1
        
        div(class='review hidden')
          div(class='author-and-stars')
            div(class='author')
              span(class='flag')
                img(src='images/1px.gif' data-src='images/flags-4x3/de.svg' width='1' height='1' alt='TODO' class='lazy-image')
              span(class='name') Kelly 2
            div(class='stars')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
          div(class='quotation') This is... 2
        
        div(class='review hidden')
          div(class='author-and-stars')
            div(class='author')
              span(class='flag')
                img(src='images/1px.gif' data-src='images/flags-4x3/us.svg' width='1' height='1' alt='TODO' class='lazy-image')
              span(class='name') Kelly 3
            div(class='stars')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange-empty.svg' alt='TODO' width='1' height='1' class='lazy-image')
          div(class='quotation') This is... 3
      
        div(class='buttons')
          //- a(href='https://www.winderen.com/pl/page/1441/popregi.html' title='TODO' class='button button-with-orange-hover')
            span(class='button-label') Learn more
          span(class='button button-with-background-hover button-with-icon')
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-book-star.svg' alt='TODO' width='1' height='1' class='lazy-image')
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-book-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
            span(class='button-label') Read more
      
      div(class='support')
        div(class='content')
          div(class='avatars')
            div(class='avatar')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-1.png' alt='TODO')
            div(class='avatar')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-2.png' alt='TODO')
            div(class='avatar')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-3.png' alt='TODO')
          div(class='text')
            | We are here to help
            br
            | Ask away!
          div(class='icon') 
            span(class='circular-icon') 
                img(src='images/1px.gif' data-src='images/icons-speech-bubble.svg' alt='TODO' width='48' height='48' class='lazy-image')
                //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='contacts')
            div(class='contact')
              a(href='mailto:support@winderen.com' title='TODO') support@winderen.com
            div(class='contact')
              a(href='tel:+48666111266' title='TODO') +48 666 111 266
          //-h3 TODO
          //-h4 TODO
          //-div(class='buttons')
            a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
              span(class='button-label') Learn more