section(id='reviews-filters')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='selection') All reviews
        div(class='filters')
          div(class='filter selected')
            a(href='reviews.html' title='TODO') All reviews
            //- https://www.winderen.com/en/reviews/
          div(class='filter')
            a(href='reviews.html' title='TODO') Stirrups
            //- https://www.winderen.com/en/reviews/2/
          div(class='filter')
            a(href='reviews.html' title='TODO') Bits
            //- https://www.winderen.com/en/reviews/3/
          div(class='filter')
            a(href='reviews.html' title='TODO') Saddle Half Pads
            //- https://www.winderen.com/en/reviews/12/
          div(class='filter')
            a(href='reviews.html' title='TODO') Saddle Pads
            //- https://www.winderen.com/en/reviews/27/
          div(class='filter')
            a(href='reviews.html' title='TODO') Stable bandages and wraps
            //- https://www.winderen.com/en/reviews/28/
          div(class='filter')
            a(href='reviews.html' title='TODO') Training bandages and wraps
            //- https://www.winderen.com/en/reviews/29/
          div(class='filter')
            a(href='reviews.html' title='TODO') Caps
            //- https://www.winderen.com/en/reviews/48/
          div(class='filter')
            a(href='reviews.html' title='TODO') Rugs
            //- https://www.winderen.com/en/reviews/80/
          div(class='filter')
            a(href='reviews.html' title='TODO') Girths
            //- https://www.winderen.com/en/reviews/81/
          div(class='filter')
            a(href='reviews.html' title='TODO') Customer Support
            //- https://www.winderen.com/en/reviews/-1/