section(id='shop-collections')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        h2 Winderen Collections
        
      div(class='items')
        div(class='item')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-winderen-collections-1.jpg' alt='TODO')
          div(class='content')
            h3 Jump in
            h4 THE SHOW JUMPING WORLD
            div(class='buttons')
              a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
                span(class='button-label') Learn more
        div(class='item')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-winderen-collections-2.jpg' alt='TODO')
          div(class='content')
            h3 Explore
            h4 THE DRESSAGE COLLECTION
            div(class='buttons')
              a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
                span(class='button-label') Learn more
        div(class='item')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-winderen-collections-3.jpg' alt='TODO')
          div(class='content')
            h3 Discover
            h4 THE Pony COLLECTION
            div(class='buttons')
              a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
                span(class='button-label') Learn more
        div(class='item')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-winderen-collections-4.jpg' alt='TODO')
          div(class='content')
            h3 Cross over
            h4 THE everything COLLECTION
            div(class='buttons')
              a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
                span(class='button-label') Learn more
        div(class='item')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-winderen-collections-5.jpg' alt='TODO')
          div(class='content')
            h3 Discover
            h4 NANO SILVER LINE COLLECTION
            div(class='buttons')
              a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
                span(class='button-label') Learn more
        div(class='item-custom support')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-winderen-collections-6.jpg' alt='TODO')
          div(class='content')
            div(class='avatars')
              div(class='avatar')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-1.png' alt='TODO')
              div(class='avatar')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-2.png' alt='TODO')
              div(class='avatar')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-3.png' alt='TODO')
            div(class='text')
              | We are here to help
              br
              | Ask away!
            div(class='icon') 
              span(class='circular-icon') 
                  img(src='images/1px.gif' data-src='images/icons-speech-bubble.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
            div(class='contacts')
              div(class='contact')
                a(href='mailto:support@winderen.com' title='TODO') support@winderen.com
              div(class='contact')
                a(href='tel:+48666111266' title='TODO') +48 666 111 266
            //-h3 TODO
            //-h4 TODO
            //-div(class='buttons')
              a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
                span(class='button-label') Learn more