section(id='shop-navigation')
  div(class='container')
    div(class='inner-container')
      div(class='items-outer')
        
        div(class='items')
          div(class='items-inner')
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-1.png' alt='TODO')
                div(class='name') saddle Half Pads
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-2.png' alt='TODO')
                div(class='name') Stirrups
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-3.png' alt='TODO')
                div(class='name') Gel Bits
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-4.png' alt='TODO')
                div(class='name') SADDLE PADS
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-5.png' alt='TODO')
                div(class='name') stable BANDAGES & WRAPS
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-6.png' alt='TODO')
                div(class='name') TRAINING BANDAGES & WRAPS
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-7.png' alt='TODO')
                div(class='name') overreach boots
            div(class='item')
              a(href='shop-group.html' title='TODO')
                div(class='image')
                  div(class='inner-image')
                    picture(class='rwd-background lazy-picture')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                      img(src='images/1px.gif' data-src='images/tmp-shop-navigation-8.png' alt='TODO')
                div(class='name') caps
        
        div(class='navigation')
          div(class='previous')
            span(class='circular-icon')
              img(src='images/icons-navigation-previous-black.svg' alt='TODO' width='1' height='1')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
          div(class='next')
            span(class='circular-icon')
              img(src='images/icons-navigation-next-black.svg' alt='TODO' width='1' height='1')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')