section(id='shop')
  div(class='container')
    div(class='inner-container')
      div(class='logo-icon-with-label')
        h1
          | Quick shopping directly
          br
          | from the manufacturer
        
      div(class='items')
        div(class='item')
          div(class='new-label') New
          h2
            | Back Protection
            br
            | Solution
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-1.png' alt='TODO')
          h3 Saddle Half Pads
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy
        div(class='item')
          h2
            | Knee PROTECT
            br
            | SOLUTION
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-2.png' alt='TODO')
          h3 Stirrups
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy
        div(class='item')
          h2 
            | Gel bits
            br
            | SYSTEM
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-3.png' alt='TODO')
          h3 Gel Bits
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy
        div(class='item')
          h2
            | ANATOMIC
            br
            | top line
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-4.png' alt='TODO')
          h3 Saddle Pads
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy
        div(class='item')
          h2
            | ThermO
            br
            | clear
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-5.png' alt='TODO')
          h3 Stable bandages and wraps
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy
        div(class='item')
          h2 
            | ThermO
            br
            | clear
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-6.png' alt='TODO')
          h3 Training bandages and wraps
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy
        div(class='item')
          h2
            //- ThermO clear
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-7.png' alt='TODO')
          h3 Overreach boots
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy
        div(class='item')
          h2
            //- ThermO clear
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-shop-group-8.png' alt='TODO')
          h3 Caps
          div(class='buttons')
            a(href='shop-group.html' title='TODO' class='button button-with-icon button-blue button-with-black-background-hover button-with-background')
              //- https://www.winderen.com/pl/shop_offer/81/popregi.html
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
              span(class='button-icon')
                img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO'  width='1' height='1' class='lazy-image')
              span(class='button-label') Buy