section(id='our-videos')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        h2 Videos
      div(class='videos')
        div(class='video')
          a(href='https://www.youtube.com/watch?v=QyD-IK90Iss' title='TODO' target='_blank')
            div(class='image')
              picture(class='rwd-background rwd-background-overlay lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-video-image-1.jpg' alt='TODO')
              span(class='new-label') New
              span(class='play circular-icon')
                img(src='images/1px.gif' data-src='images/icons-play.svg' alt='TODO' width='1' height='1' class='lazy-image')
        div(class='video')
          a(href='https://www.youtube.com/watch?v=QyD-IK90Iss' title='TODO' target='_blank')
            div(class='image')
              picture(class='rwd-background rwd-background-overlay lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-video-image-2.jpg' alt='TODO')
              span(class='new-label') New
              span(class='play circular-icon')
                img(src='images/1px.gif' data-src='images/icons-play.svg' alt='TODO' width='1' height='1' class='lazy-image')
        div(class='video')
          a(href='https://www.youtube.com/watch?v=QyD-IK90Iss' title='TODO' target='_blank')
            div(class='image')
              picture(class='rwd-background rwd-background-overlay lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-video-image-3.jpg' alt='TODO')
              span(class='new-label') New
              span(class='play circular-icon')
                img(src='images/1px.gif' data-src='images/icons-play.svg' alt='TODO' width='1' height='1' class='lazy-image')
        div(class='video')
          a(href='https://www.youtube.com/watch?v=QyD-IK90Iss' title='TODO' target='_blank')
            div(class='image')
              picture(class='rwd-background rwd-background-overlay lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-video-image-4.jpg' alt='TODO')
              span(class='new-label') New
              span(class='play circular-icon')
                img(src='images/1px.gif' data-src='images/icons-play.svg' alt='TODO' width='1' height='1' class='lazy-image')
      div(class='text-with-button')
        h3 Check out our latest productions
        div(class='buttons')
          a(href='videos.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
            //- https://www.winderen.com/en/news/0/2/
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-youtube.svg' alt='TODO' width='1' height='1' class='lazy-image')
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-youtube-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
            span(class='button-label') Watch more