section(id='discover-innovative-products')
  //- div(class='header')
    div(class='container')
      div(class='inner-container')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h1
          | Discover the world of
          br
          | our innovative products
  div(class='main')
    div(class='container')
      div(class='inner-container')
        include ./content-discover-innovative-products-items-first-five.pug
        include ./content-discover-innovative-products-items-all-the-rest.pug
  //- div(class='footer')
    div(class='container')
      div(class='inner-container')
        div(class='banner')
          picture(class='rwd-background lazy-picture')
            //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
            //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
            img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-banner.jpg' alt='TODO')
          div(class='banner-content')
            h2 See all our innovative products
            div(class='buttons')
              a(href='https://www.winderen.com/pl/page/399/odkryj-produkty.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
                span(class='button-icon')
                  img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
                span(class='button-icon')
                  img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
                span(class='button-label') Discover now