section(id='technology-designed-especially-for' class='highlighted-content-with-image inverted')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='header logo-icon-with-label')
          div(class='icon')
            div(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-wheels.svg' alt='TODO' width='34' height='48' class='lazy-image')
          //- div(class='label') 
          h2 Designed especially for:
        div(class='columns')
          div(class='column')
            div(class='image circular')
              div(class='inner-image')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-technology-designed-especially-for.png' alt='TODO')
          div(class='column')
            div(class='items')
              div(class='item')
                h3 Sensitive horses 
              div(class='item')
                h3 Nervous horses
              div(class='item')
                h3 
                  | Young horses that have not yet 
                  br
                  | had contact with a girth
              div(class='item')
                h3 Horses with special health conditions
              div(class='item')
                h3 Girthy horses