section(id='testimonials')
  div(class='container')
    div(class='inner-container')
      div(class='testimonials')
        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-1.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') Erin Lane
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-instagram.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | @riderreviews 
            div(class='quotation') Not only is Erin Lane a lifelong rider and trainer, but also a media director of a famous equestrian blog, „Noelle Floyd”. Are you curious about what Erin has to say about her experience with the Winderen Back Protect Solution half pad? Check out her video-review, presented on Noelle Floyd’s @riderreviews Instagram page.
        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-2.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') Nicola Baur-Rona
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-link.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | nicolabaurdressage.com
            div(class='quotation') Professional Grand Prix dressage rider and blogger from Austria, Nicola Baur-Rona, shares her experience of the Winderen Back Protect Solution half pad on her blog.
        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-3.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') Julia Gazela Drelich
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-youtube.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | go to video
            div(class='quotation') Julia Gazela Drelich, a Polish rider and Youtuber who suffered from chronic knee pain, shares her impressions about riding with Winderen Knee Protect Solution stirrups on her Youtube channel „Gazel Horse Team”.

        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-4.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') Karina Harris
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-link.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | thehuntequestrian.com
            div(class='quotation') A very detailed and complex review of the Winderen Comfort pad presented by Karina Harris, a horse-girl from the USA, on her blog „The Hunt”. Find out how she rated the pad according to the following features: performance, quality, fit, washability, durability, aesthetics, and value.

        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-5.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') Vanessa Stubenvoll
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-link.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | vanessastubenvoll.wordpress.com
            div(class='quotation') Another interesting review from an Austrian showjumping rider, Vanessa Stubenvoll, who is sharing her experience of our training bandages and wraps.

        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-6.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') Agathe Martin
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-youtube.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | go to video
            div(class='quotation') A French rider and Youtuber, Agathe Martin, talks about her experience with various Winderen products in another „Focus on” episode on her YouTube channel.

        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-7.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') elise blair
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-link.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | braceyourselfeb.wordpress.com
            div(class='quotation') Elise Blair, a rider from England, tells a story on her „Brace yourself” blog about performance of the Winderen Slim half pad while getting her horse Dave back in shape after a break.

        div(class='testimonial')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-testimonial-image-8.jpg' alt='TODO')
          div(class='details')
            div(class='name-and-link') 
              div(class='name') Kasia Zawalska-Furtak
              div(class='link')
                a(href='#' title='Instagram' target='_blank')
                  img(src='images/1px.gif' data-src='images/icons-youtube.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  | go to video
            div(class='quotation') On the Youtube channel „Just horses”, Kasia Zawalska-Furtak, a rider and trainer from Poland, shares her thoughts on different Winderen products after 10 months of use