section(id='technology-list-info-with-image-1' class='list-info-with-image')
  div(class='container')
    div(class='inner-container')
      //- div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Anatomical fit
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Anatomical fit
      div(class='items')
        div(class='item')
          div(class='column')
            div(class='content')
              p The Winderen Pressure Relief Girth is anatomically shaped to a horse’s build. The softly finished cutback areas at the elbows give more space for elbow motion, while at the same time providing additional comfort to the sensitive elbow skin. A wide girth design helps reduce point pressure by distributing the force over a larger surface.
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-technology-list-info-with-text-image-1.jpg' alt='TODO')
        div(class='item')
          div(class='column')
            div(class='content wysiwyg')
              p We’ve also inserted high-quality elastics on both sides of the girth: these are flat and stretchy, but simultaneously very strong and durable.
              p In the jumping version, the elastics are positioned at different levels so that the front one is lower and the back one is higher. This improves the adjustment of the girth to the horse’s body and makes the saddle flaps fit tighter, increasing the comfort and stability of the rider’s calf and allowing it to lie closer to the horse’s body.
          div(class='column')
            div(class='image circular')
              div(class='inner-image')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-technology-list-info-with-text-image-2.png' alt='TODO')