section(id='quick-shopping-directly')
  div(class='container')
    div(class='inner-container')
      div(class='text-with-button')
        h2
          | Quick shopping directly
          br
          | from the manufacturer
        div(class='buttons')
          a(href='shop.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
            //- https://www.winderen.com/pl/shop_offer/
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
            span(class='button-label') To the shop