section(id='knowledge-zone')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Knowledge zone
      div(class='articles')
        div(class='article')
          div(class='column')
            div(class='image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-knowledge-zone-image-1.jpg' alt='TODO')
          div(class='column')
            h3 Nanosilver line: learn why we have trusted silver ions
            div(class='lead') Even in the cleanest stable, our horses and we are exposed daily to contact with bacteria, viruses, and fungi. There is no escape from them because they may be literally everywhere: in the stable, bedding, or horses’ coats.
            div(class='link') 
              a(href='https://www.winderen.com/en/news/70/nanosilver-line-learn-why-we-have-trusted-silver.html' title='TODO')
                span(class='icon circular-icon') 
                  img(src='images/1px.gif' data-src='images/icons-book.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  img(src='images/1px.gif' data-src='images/icons-book-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
                span(class='label') Read now
        div(class='article')
          div(class='column')
            div(class='image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-knowledge-zone-image-2.jpg' alt='TODO')
          div(class='column')
            h3 What will be the best for your horse?
            div(class='lead') A properly selected bit is the key to correct, soft and flexible communication with the horse. Choosing “the one” is often difficult for riders at all levels, because matching an eagerly accepted mouthpiece depends on many different factors.
            div(class='link') 
              a(href='https://www.winderen.com/en/news/70/nanosilver-line-learn-why-we-have-trusted-silver.html' title='TODO')
                span(class='icon circular-icon') 
                  img(src='images/1px.gif' data-src='images/icons-book.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  img(src='images/1px.gif' data-src='images/icons-book-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
                span(class='label') Read now
      div(class='text-with-button')
        h4 How our technologies support horses and riders
        div(class='buttons')
          a(href='https://www.winderen.com/en/news/' title='TODO' class='button button-with-black-background-hover button-with-icon')
            span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-book.svg' alt='TODO' width='1' height='1' class='lazy-image')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-book-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
            span(class='button-label') More articles