section(id='technology-description')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 How to choose the right size
      div(class='content')
        div(class='description wysiwyg')
          p In order to choose the right size of Winderen Pressure Relief Girth, first measure your current girth as shown in the picture below to check the actual length, and then compare it with the sizes we offer.
        div(class='alert') Important!
        div(class='description wysiwyg') 
          p Don’t just rely on the size stamped on your current girth as, in some girths, the leather and elastics may tend to stretch from regular use. Trust us, we’ve measured 50 different girths, from various manufacturers, that have been in use over different periods of time. When we compared their given lengths to their actual lengths, we found the difference to be from 5 to even 15 cm longer! To minimise this occurrence, our girths are fitted with extremely strong inside reinforcements to prevent excessive stretching.
          p Available in two colours.
      div(class='images column-2-1')
        div(class='image')
          picture(class='lazy-picture')
            //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
            //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
            img(src='images/1px.gif' data-src='images/tmp-technology-description-image-1.png' alt='TODO')
        div(class='image')
          picture(class='lazy-picture')
            //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
            //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
            img(src='images/1px.gif' data-src='images/tmp-technology-description-image-2.png' alt='TODO')
      div(class='details')
        div(class='label') Size chart
        div(class='table-size')
          div(class='column')
            div(class='icon') A
            div(class='value') 125 cm / 130 / 135 cm
          div(class='column')
            div(class='icon') B
            div(class='value') 60 cm / 65 cm