section(id='videos')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='icon')
          div(class='circular-icon')
            img(src='images/1px.gif' data-src='images/icons-youtube.svg' alt='TODO' width='48' height='48' class='lazy-image')
        //- div(class='label') 
        h2
          | check out our 
          br
          | latest productions
      div(class='videos')
        div(class='video')
          div(class='iframe')
            div(class='outer-iframe')
              div(class='inner-iframe')
                iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
          div(class='details')
            h3 Equestrian insights
            div(class='info') Day at the stables with Anna and Jacek Mierzwińscy
        div(class='video')
          div(class='iframe')
            div(class='outer-iframe')
              div(class='inner-iframe')
                iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
          div(class='details')
            h3 Winderen Gel Bits System
            div(class='info') Winderen Gel Bits System was created to help riders achieve complete harmony with their horses while maintaining light, stable and precise contact during riding. Made of a durable horse-friendly gel material and laced with technologically advanced solutions, the Winderen Gel Bits System provides exceptional comfort along with multiple adjustment options.
        div(class='video')
          div(class='iframe')
            div(class='outer-iframe')
              div(class='inner-iframe')
                iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
          div(class='details')
            h3 Equestrian insights
            div(class='info') Shooting day with the Tyszko family
        div(class='video')
          div(class='iframe')
            div(class='outer-iframe')
              div(class='inner-iframe')
                iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
          div(class='details')
            h3 Winderen BACK PROTECT SOLUTION
            div(class='info') Innovative Winderen Back Protect Solution saddle half pad was designed to make you and your horse feel more comfortable and relaxed during riding while protecting both your and your horse’s back. Thanks to five technologically advanced layers, the Back Protect Solution half pad ensures maximum riding pleasure for both the horse and the rider. Available in versions Comfort (18 mm) Slim (10 mm) and Correction.
        div(class='video')
          div(class='iframe')
            div(class='outer-iframe')
              div(class='inner-iframe')
                iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
          div(class='details')
            h3 Equestrian insights
            div(class='info') Day at the stables with our friend Katarzyna Łukasik