section(id='shop-products')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        h1 Back product solution
        h2 Saddle half pads
        
      div(class='items')
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='new-label') New
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-1.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-1.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-2.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-3.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-4.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-5.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-7.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-8.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-9.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-10.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-11.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-12.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-13.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-16.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-18.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') JUMPING
                div(class='subname') Comfort (18 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-2.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-1.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-2.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-3.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-4.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-5.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-7.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-8.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-9.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-10.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-11.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-12.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-13.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-16.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-18.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') JUMPING
                div(class='subname') Slim (10 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-3.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-1.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-2.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-3.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-4.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-5.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-7.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-8.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-9.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-10.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-11.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-12.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-13.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-16.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-18.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') JUMPING
                div(class='subname') Cover
              div(class='price-currency')
                div(class='price') 69.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-4.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-1.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-2.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-3.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-4.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-5.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-7.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-8.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') DRESSAGE
                div(class='subname') Comfort (18 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='new-label') New
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-5.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-1.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-2.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-3.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-4.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-5.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-7.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-8.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') DRESSAGE
                div(class='subname') Slim (10 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-6.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-1.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-2.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-3.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-4.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-5.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-7.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-8.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') DRESSAGE
                div(class='subname') Cover
              div(class='price-currency')
                div(class='price') 69.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='new-label') New
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-7.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') CORRECTION JUMPING
                div(class='subname') Comfort (18 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-8.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-14.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') CORRECTION JUMPING 
                div(class='subname') Slim (10 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-9.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') CORRECTION DRESSAGE 
                div(class='subname') Comfort (18 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='new-label') New
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-10.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') CORRECTION DRESSAGE
                div(class='subname') Slim (10 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-11.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-12.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-11.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') PONY 
                div(class='subname') Comfort (18 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-12.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-12.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-11.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') PONY 
                div(class='subname') Slim (10 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item')
          div(class='product')
            a(href='shop-group-product.html' title='TODO')
              div(class='image-specification')
                div(class='new-label') New
                div(class='image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-image-13.png' alt='TODO')
                div(class='specification')
                  div(class='label') Color
                  div(class='options')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-6.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-17.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-12.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-15.png' alt='TODO' class='lazy-image')
                    img(src='images/1px.gif' data-src='images/tmp-shop-product-color-11.png' alt='TODO' class='lazy-image')
              div(class='name-subname')
                div(class='name') PONY 
                div(class='subname') Slim (10 mm)
              div(class='price-currency')
                div(class='price') 229.00
                div(class='currency') eur
        
        div(class='item-custom help')
          div(class='content')
            div(class='avatars')
              div(class='avatar')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-shop-group-avatar-1.png' alt='TODO')
            div(class='text')
              | Do you need help to
              br
              | choose the right pad?
            div(class='buttons')
              a(href='https://www.winderen.com/en/news/22/which-saddle-half-pad-will-be-the-best-for-your.html' title='TODO' class='button button-with-black-hover button-with-icon')
                span(class='button-icon')
                  img(src='images/1px.gif' data-src='images/icons-book.svg' alt='TODO' width='1' height='1' class='lazy-image')
                span(class='button-icon')
                  img(src='images/1px.gif' data-src='images/icons-book-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
                span(class='button-label') See the guide
        
        div(class='item-custom support')
          div(class='content')
            div(class='avatars')
              div(class='avatar')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-1.png' alt='TODO')
              div(class='avatar')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-2.png' alt='TODO')
              div(class='avatar')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-3.png' alt='TODO')
            div(class='text')
              | We are here to help
              br
              | Ask away!
            div(class='icon') 
              span(class='circular-icon') 
                  img(src='images/1px.gif' data-src='images/icons-speech-bubble.svg' alt='TODO' width='48' height='48' class='lazy-image')
                  //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
            div(class='contacts')
              div(class='contact')
                a(href='mailto:support@winderen.com' title='TODO') support@winderen.com
              div(class='contact')
                a(href='tel:+48666111266' title='TODO') +48 666 111 266
            //-h3 TODO
            //-h4 TODO
            //-div(class='buttons')
              a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
                span(class='button-label') Learn more