section(id='technology-list-info-with-image-2' class='list-info-with-image irregular')
  div(class='container')
    div(class='inner-container')
      //- div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Anatomical fit
      div(class='items')
        div(class='item')
          div(class='column')
            div(class='content wysiwyg')
              p IMPACT PROTECTION
              p Padding the girth with innovative materials not only reduces pressure on the horse’s sternum, increasing freedom of movement and breathing, but also provides protection against external impacts such as bumping a cross country fence or hitting the girth area with the front hooves during a jump. The force of the impact is absorbed and dissipated, effectively protecting the horse from bruises and encouraging free and confident jumps.
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-technology-list-info-with-text-image-3.jpg' alt='TODO')
        div(class='item')
          div(class='column')
            div(class='content wysiwyg')
              p HIGH-QUALITY LEATHER
              p For the Winderen Pressure Relief Girth we have selected superior full-grain leathers – soft and comfortable on the inside, durable and elegant on the outside. Thanks to the exceptional quality of the materials we have used, with proper care, you will be able to enjoy your girth for many years to come.
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-technology-list-info-with-text-image-4.jpg' alt='TODO')
        div(class='item')
          div(class='column')
            div(class='content wysiwyg')
              p FUNCTIONAL MOUNTS
              p To ensure comfort for riders as well, we have provided the girth with a large, functional and secure snap hook. This snap hook can be easily pulled out from under the elegant overlap for the quick attachment of a breastplate. When not in use, it stays safely hidden under the overlap to prevent snagging. In addition, we have placed a large eyelet covered with a flap above the snap hook for the quick and secure attachment of draw reins.
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-technology-list-info-with-text-image-5.jpg' alt='TODO')