section(id='product-structure' class='highlighted-list-with-image')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='header logo-icon-with-label')
          div(class='logo')
            img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
          //- div(class='label') 
          h2 Structure
        div(class='columns')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-product-structure.png' alt='TODO')
          div(class='column')
            div(class='items')
              div(class='item clickable')
                h3 Ballistic nylon upper shell
                div(class='info') 
                  div(class='inner-info') Replaceable, wear and tear-resistant, and durable - the upper shell protects the rest of the layers from external factors and prevents the Saddle Half Pad from moving and slipping underneath the saddle.
              div(class='item clickable')
                h3 DYNAMIC STABILIZATION LAYER
                div(class='info') 
                  div(class='inner-info') Test
              div(class='item clickable')
                h3 FORCE EQUALIZER
                div(class='info') 
                  div(class='inner-info') Test
              div(class='item clickable')
                h3 BIOMECHANICAL CONNECTIVE TISSUE
                div(class='info') 
                  div(class='inner-info') Test
              div(class='item clickable')
                h3 KEVLAR BOTTOM SHELL
                div(class='info') 
                  div(class='inner-info') Test