section(id='friends')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        div(class='quotation') 
          | „A friend is a person with whom I may 
          br
          | be sincere. Before him I may think aloud.”
          br
          br
          | —R. Emmerson
      div(class='friends')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-4.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Aleš
              br
              | Opatrný
            div(class='socials')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-5.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Bronislav
              br
              | Chudyba
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-6.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Krzysztof
              br
              | Złocki
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-7.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Nicola 
              br
              | Baur-Rona
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-8.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Żaneta
              br
              | Skowrońska-Kozubik 
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              //- a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-9.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Michał
              br
              | Tyszko
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-10.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Pauliza
              br
              | Koza
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-11.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Magdalena
              br
              | Krasnowska
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-12.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Dawid 
              br
              | Kubiak
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-13.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Magdalena 
              br
              | Krasnowska
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')
        div(class='friend')
          div(class='image')
            picture(class='rwd-background lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/tmp-our-friends-image-14.jpg' alt='TODO')
          div(class='name-and-socials')
            div(class='name')
              | Aleksandra 
              br
              | Kierznowska
            div(class='socials')
              a(href='#' title='Facebook' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-facebook.svg' width='1' height='1' alt='TODO' class='lazy-image')
              a(href='#' title='Instagram' target='_blank') 
                img(src='images/1px.gif' data-src='images/icons-social-simple-instagram.svg' width='1' height='1' alt='TODO' class='lazy-image')