div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-6.jpg' alt='TODO')
  div(class='content')
    h2 Rugs
    h3
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-6.png' alt='TODO' class='lazy-image')
    h4 Stirrups with double shock abvsorbers
    div(class='buttons')
      a(href='discover-the-products-rugs.html' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now
div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-7.jpg' alt='TODO')
  div(class='content')
    h2 Training Bandages And Wraps
    h3
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-7.png' alt='TODO' class='lazy-image')
    h4 Half pads with 5 technologically advanced layers
    div(class='buttons')
      a(href='discover-the-products-training-bandages.html' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now
div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-8.jpg' alt='TODO')
  div(class='content')
    h2 Stable Bandages And Wraps
    h3
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-8.png' alt='TODO' class='lazy-image')
    h4 Stirrups with double shock abvsorbers
    div(class='buttons')
      a(href='discover-the-products-stable-bandages.html' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now