div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-1.jpg' alt='TODO')
  div(class='content')
    h2 Pressure relief
    h3 Girths
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-1.png' alt='TODO' class='lazy-image')
    h4 Girths padded with innovative materials
    div(class='buttons')
      a(href='#' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now
div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-2.jpg' alt='TODO')
  div(class='content')
    h2 Back protect solution
    h3 Saddle Half Pads
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-2.png' alt='TODO' class='lazy-image')
    h4 Half pads with 5 technologically advanced layers
    div(class='buttons')
      a(href='discover-the-products-saddle-half-pads.html' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now
div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-3.jpg' alt='TODO')
  div(class='content')
    h2 Knee protect solution
    h3 Stirrups
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-3.png' alt='TODO' class='lazy-image')
    h4 Stirrups with double shock abvsorbers
    div(class='buttons')
      a(href='discover-the-products-stirrups.html' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now
div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-4.jpg' alt='TODO')
  div(class='content')
    h2 Gel bits system
    //- h3 Stirrups
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-4.png' alt='TODO' class='lazy-image')
    h4 Horse-friendly gel bits with intzerchangeable cheek pieces
    div(class='buttons')
      a(href='discover-the-products-gel-bits-system.html' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now
div(class='item')
  div(class='image')
    picture(class='rwd-background lazy-picture')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
      //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-image-5.jpg' alt='TODO')
  div(class='content')
    h2 Anatomic top line
    h3 Saddle Pads
    div(class='icon')
      img(src='images/1px.gif' data-src='images/tmp-discover-innovative-products-icon-5.png' alt='TODO' class='lazy-image')
    h4 Half pads with 5 technologically advanced layers
    div(class='buttons')
      a(href='discover-the-products-saddle-pads.html' title='TODO' class='button button-with-orange-hover')
        //- https://www.winderen.com/pl/page/1441/popregi.html
        span(class='button-label') Learn more
      a(href='shop-group.html' title='TODO' class='button button-with-blue-background-hover button-with-icon')
        //- https://www.winderen.com/pl/shop_offer/81/popregi.html
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now