section(id='product-advantages-with-video')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2 Back protect solution
        h3 Saddle half pads
      div(class='content')
        div(class='inner-content')
          | The Winderen Saddle Half Pad with Back Protect Solution technology 
          //- br
          | was designed to make you feel relaxed in the saddle while protecting both 
          //- br
          | our and your horse’s back. Five technologically advanced layers provide you with 
          //- br
          | maximum comfort, stability and enhance your riding experience by connecting 
          //- br
          | horse and rider in complete harmony. See how we combined cutting-edge 
          //- br
          | technology with elegance and comfort.
      div(class='list')
        div(class='item')
          div(class='icon')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Considerable reduction of pressure spots
        div(class='item')
          div(class='icon')
          div(class='icon')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Improved saddle fit
        div(class='item')
          div(class='icon')
          div(class='icon')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Muscle support
      div(class='video')
        div(class='iframe')
          div(class='outer-iframe')
            div(class='inner-iframe')
              iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
      div(class='scroll-down')
        div(class='text') Scroll To Discover More
        div(class='icon') 
          img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')