section(id='technology-important' class='highlighted-content-with-image inverted')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='header logo-icon-with-label')
          div(class='icon')
            div(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-wheels.svg' alt='TODO' width='34' height='48' class='lazy-image')
          //- div(class='label') 
          h2
            | Pressure Relief
            br
            | technology
        div(class='columns')
          div(class='column')
            div(class='image circular')
              div(class='inner-image')
                picture(class='rwd-background lazy-picture')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/tmp-technology-important-image.png' alt='TODO')
          div(class='column')
            div(class='description wysiwyg')
              p During training, the horse’s thorax expands in all directions like an inflated balloon, with the girth pressing on the sternum, sensitive muscles, and nerves. This increased pressure on the girth area can affect various processes inside the horse’s body, and may make it react nervously to girthing up for many reasons, so it is crucial that the horse be made to feel as comfortable as possible.
              p That’s why our Winderen Pressure Relief Girth features innovative materials that reduce the pressure both to the horse's sternum and muscles. This solution helps increase comfort and freedom of movement during riding, making this girth ideal even for sensitive horses.