section(id='technology-list-quotations')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='header logo-icon-with-label')
          div(class='logo')
            img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
          //- div(class='label') 
          h2 Tested by professionals
        div(class='quotations')
          div(class='item')
            div(class='column')
              div(class='image')
                div(class='inner-image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-technology-quotation-image-1.png' alt='TODO')
            div(class='column')
              div(class='quotation') „For my horses, changing the girth to Winderen made a huge difference from the first day! I work mostly with young and very sensitive horses who need optimally matched equipment and maximum comfort during work. The anatomical shape and profile of the girth, with an evenly distributed pressure point in the widest part, makes even the most demanding horses avoid discomfort when tacking up and pulling up the girth. The unwanted reaction that often accompanies youngest and delicate horses during their first steps under the saddle and the „cold back” effect after fastening the girth were both completely eliminated which is a clear signal to me that I provide my horses with comfort and freedom. This is definitely my number one on the market.”
              div(class='author') Katarzyna Łukasik
          div(class='item')
            div(class='column')
              div(class='image')
                div(class='inner-image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-technology-quotation-image-2.png' alt='TODO')
            div(class='column')
              div(class='quotation') „I had the opportunity to participate in the testing of the Winderen girth prototypes. I have put them on many horses and have noticed some really positive traits of this product. The Winderen girth is horse-friendly and gives them freedom of movement. Thanks to the wide sternum part, it definitely stabilizes the saddle and distributes the pressure better, which results in better comfort for the horse. I feel that the girth improves their well-being during training, which translates into joy from work :) And we all want to choose the equipment so as to increase comfort giving the horses what is best :)”
              div(class='author') Katarzyna Łukasik
          div(class='item')
            div(class='column')
              div(class='image')
                div(class='inner-image')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-technology-quotation-image-3.png' alt='TODO')
            div(class='column')
              div(class='quotation') „I use the Winderen girth for a very sensitive mare. I noticed that after fastening the girth the saddle is extremely stable, to the extent that I no longer need to put on a breastplate for jumping training because the saddle doesn’t change the position from the beginning to the end of the training at all. The system of fastenings on different levels is also very practical for me. Not only because the buckles don’t push my legs away, but also because this system also allows me to fasten the girth to the back billet first, which is a saddling method recommended by many physiotherapists.”
              div(class='author') Krzysztof Złocki