section(id='shop-shipping')
  div(class='container')
    div(class='inner-container')
      div(class='column')
        div(class='title') Fast delivery
        div(class='info')
          div(class='logo')
            img(src='images/1px.gif' data-src='images/logo-ups.png' alt='TODO' class='lazy-image')
          div(class='text') 2-3 days
        div(class='ship-to')
          div(class='inner-ship-to')
            div(class='label') Ship to:
            div(class='country')
              div(class='selected')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                span United Kingdom
              div(class='values') 
                div(class='inner-values') 
                  div(class='select-label') Country of delivery
                  div(class='value ship-to-selection-change') Change
      div(class='column')
        div(class='title') Secure payments
        div(class='logos')
          img(src='images/1px.gif' data-src='images/logo-cash-on-delivery.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-bank-transfer.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-bancontact.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-paypal.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-visa.png' alt='TODO' class='lazy-image')
          img(src='images/1px.gif' data-src='images/logo-deal.png' alt='TODO' class='lazy-image')