div(class='shopping-cart has-items')
  a(href='#' title='TODO')
    span(class='icon')
      img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span 25