div(class='ship-to')
  div(class='label') Ship to:
  div(class='country')
    div(class='selected')
      img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
      span United Kingdom
    div(class='values') 
      div(class='inner-values') 
        div(class='select-label') Country of delivery
        div(class='value ship-to-selection-change') Change