
ul
  li
    a(href='#' title='TODO') Menu

  li(class='menu-item-has-children menu-item-current')
    a(href='discover-the-products.html' title='TODO') Discover the products
    div(class='inner-navigation')
      ul
        li
          a(href='discover-the-products-saddle-half-pads.html' title='TODO')
            //- https://www.winderen.com/en/page/59/saddle-half-pads.html
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-1.png' alt='TODO' class='lazy-image')
            div(class='name') Saddle Half Pads
        li
          a(href='discover-the-products-stirrups.html' title='TODO')
            //- https://www.winderen.com/en/page/167/stirrups.html
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-2.png' alt='TODO' class='lazy-image')
            div(class='name') Stirrups
        li
          a(href='discover-the-products-gel-bits-system.html' title='TODO')
            //- https://www.winderen.com/en/page/658/bits.html
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-3.png' alt='TODO' class='lazy-image')
            div(class='name') Gel Bits System
        li
          a(href='discover-the-products-saddle-pads.html' title='TODO')
            //- https://www.winderen.com/en/page/321/saddle-pads.html
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-4.png' alt='TODO' class='lazy-image')
            div(class='name') Saddle Pads
        li
          a(href='discover-the-products-stable-bandages.html' title='TODO')
            //- https://www.winderen.com/en/page/374/stable-bandages-and-wraps.html
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-5.png' alt='TODO' class='lazy-image')
            div(class='name') Stable Bandages And Wraps
        li
          a(href='discover-the-products-training-bandages.html' title='TODO')
            //- https://www.winderen.com/en/page/1106/training-bandages-and-wraps.html
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-6.png' alt='TODO' class='lazy-image')
            div(class='name') Training Bandages And Wraps
        li
          a(href='#' title='TODO')
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-7.png' alt='TODO' class='lazy-image')
            div(class='name') Overreach Boots
        li
          a(href='discover-the-products-rugs.html' title='TODO')
            //- https://www.winderen.com/en/page/1401/rugs.html
            div(class='image')
              img(src='images/1px.gif' data-src='images/tmp-navigation-image-8.png' alt='TODO' class='lazy-image')
            div(class='name') Rugs
  li
    a(href='shop.html' title='TODO') Shop
    //- https://www.winderen.com/en/shop_offer/
  li
    a(href='#' title='TODO') Knowledge zone