div(class='ship-to-overlay')
  div(class='ship-to-inner-overlay')
    div(class='header')
      div(class='label') Country of delivery:
      div(class='flag')
        img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
      div(class='country') United Kingdom
    div(class='info')
      | If this is wrong, please pick your country
      br
      | below to get the best Winderen experience
    div(class='buttons')
      a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue with-background button-with-icon')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-icon')
          img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
        span(class='button-label') Buy now
    div(class='continents-and-countries')
      div(class='continent')
        div(class='name') Europe
        div(class='countries')
          ul
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Albania (al)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Algeria (dz)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Andorra (ad)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Austria (at)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Belarus (by)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Belgium (be)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Bosnia and Herzegovina (ba)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Bulgaria (bg)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Croatia (hr)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Cyprus (cy)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Czech Republic (cz)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Denmark (dk)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Deutschland (de)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Estonia (ee)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Finland (fi)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | France (fr)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Gibraltar (gi)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Greece (gr)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Hungary (hu)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Iceland (is)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Ireland (ie)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Italy (it)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Latvia (lv)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Liechtenstein (li)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Lithuania (lt)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Luxembourg (lu)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Macedonia, the Former Yugoslav Republic of (mk)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Malta (mt)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Moldova, Republic of (md)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Monaco (mc)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Netherlands (nl)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Northern Ireland (xi)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Norway (no)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Poland (pl)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Portugal (pt)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Romania (ro)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Russian Federation (ru)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | San Marino (sm)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Serbia and Montenegro (cs)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Slovakia (sk)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Slovenia (si)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Spain (es)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Sweden (se)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Switzerland (ch)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Ukraine (ua)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | United Kingdom (gb)

      div(class='continent')
        div(class='name') North America
        div(class='countries')
          ul
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Bahamas (bs)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Belize (bz)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Bermuda (bm)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Canada (ca)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Costa Rica (cr)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Cuba (cu)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Dominican Republic (do)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Honduras (hn)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Martinique (mq)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Mexico (mx)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Panama (pa)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | United States (us)

      div(class='continent')
        div(class='name') South America
        div(class='countries')
          ul
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Argentina (ar)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Brazil (br)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Chile (cl)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Colombia (co)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Ecuador (ec)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Paraguay (py)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Peru (pe)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Uruguay (uy)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Venezuela (ve)

      div(class='continent')
        div(class='name') Australasia
        div(class='countries')
          ul
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Australia (au)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | New Caledonia (nc)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | New Zealand (nz)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Papua New Guinea (pg)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | United States Minor Outlying Islands (um)

      div(class='continent')
        div(class='name') Asia
        div(class='countries')
          ul
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Armenia (am)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Azerbaijan (az)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Bahrain (bh)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Hong Kong (hk)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | India (in)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Indonesia (id)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Israel (il)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Japan (jp)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Jordan (jo)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Kazakhstan (kz)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Korea South (kr)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Kuwait (kw)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Kyrgyzstan (kg)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Malaysia (my)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Mongolia (mn)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Oman (om)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Philippines (ph)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Qatar (qa)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Saudi Arabia (sa)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Singapore (sg)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Taiwan, Province of China (tw)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Thailand (th)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Turkey (tr)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Turkmenistan (tm)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | United Arab Emirates (ae)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Uzbekistan (uz)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Viet Nam (vn)

      div(class='continent')
        div(class='name') Africa
        div(class='countries')
          ul
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Angola (ao)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Egypt (eg)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Libya (ly)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Mauritius (mu)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Morocco (ma)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | South Africa (za)
            li
              a(href='#' title='TODO')
                img(src='images/1px.gif' data-src='images/flags-4x3/gb.svg' width='1' height='1' alt='TODO' class='lazy-image')
                | Tunisia (tn)