div(class='language')
  div(class='selected') English
  div(class='values') 
    div(class='inner-values')
      div(class='select-label') Select language
      div(class='value')
        a(href='#' title='TODO') DEUTSCH
      div(class='value')
        a(href='#' title='TODO') français
      div(class='value')
        a(href='#' title='TODO') ENGLISH
      div(class='value')
        a(href='#' title='TODO') ITALIANO
      div(class='value')
        a(href='#' title='TODO') MAGYAR
      div(class='value')
        a(href='#' title='TODO') español
      div(class='value')
        a(href='#' title='TODO') čeština
      div(class='value')
        a(href='#' title='TODO') NEDERLANDS
      div(class='value')
        a(href='#' title='TODO') POLSKI
      div(class='value')
        a(href='#' title='TODO') РУССКИЙ
      div(class='value')
        a(href='#' title='TODO') SVENSKA
      div(class='value')
        a(href='#' title='TODO') AU/NZ ENGLISH
      div(class='value')
        a(href='#' title='TODO') 日本語
      div(class='value')
        a(href='#' title='TODO') DANSK
      div(class='value')
        a(href='#' title='TODO') NORSK