div(class='language-detection')
  div(class='details') Zauważyliśmy, że język Twojej przeglądaki jest inny niż język strony. Zmień język na: 
  div(class='buttons')
    a(href='https://www.winderen.com/en/news/22/which-saddle-half-pad-will-be-the-best-for-your.html' title='TODO' class='button button-with-blue-background-hover')
      //- span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-book.svg' alt='TODO' width='1' height='1' class='lazy-image')
      //- span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-book-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Angielski
  div(class='circular-icon')
    img(src='images/icons-close.svg' alt='TODO' width='1' height='1')
    //-img(src='images/1px.gif' data-src='images/icons-arrow-bottom-expand-gray.svg' alt='TODO' width='1' height='1' class='lazy-image')
    img(src='images/icons-close-gray.svg' alt='TODO' width='1' height='1')
    //-img(src='images/1px.gif' data-src='images/icons-arrow-bottom-expand-gray.svg' alt='TODO' width='1' height='1' class='lazy-image')