div(class='logo')
  a(href='index.html' title='TODO')
    img(src='images/1px.gif' data-src='images/logo.svg' alt='TODO' width='224' height='88' class='lazy-image')
    img(src='images/1px.gif' data-src='images/logo-mobile.svg' alt='TODO' width='199' height='32' class='lazy-image')