div(class='buy-now')
  //- a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue button-with-background with-icon')
  a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue button-with-icon')
    span(class='button-icon')
      img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
    span(class='button-label') Buy now