div(class='socials')
  div(class='label') Social media
  div(class='items')
    a(href='https://www.facebook.com/' title='TODO' target='_blank')
      img(src='images/1px.gif' data-src='images/icons-social-facebook.svg' alt='TODO' width='48' height='48' class='lazy-image')
    a(href='https://www.instagram.com/' title='TODO' target='_blank')
      img(src='images/1px.gif' data-src='images/icons-social-instagram.svg' alt='TODO' width='48' height='48' class='lazy-image')
    a(href='https://www.youtube.com/' title='TODO' target='_blank')
      img(src='images/1px.gif' data-src='images/icons-social-youtube.svg' alt='TODO' width='48' height='48' class='lazy-image')