div(class='currency')
  div(class='selected') Eur
  div(class='values') 
    div(class='inner-values')
      div(class='select-label') Select currency
      div(class='value')
        a(href='#' title='TODO') Eur
      div(class='value')
        a(href='#' title='TODO') Pln