div(class='account')
  div(class='icon-wrapper')
    span(class='icon')
      img(src='images/1px.gif' data-src='images/icons-account.svg' alt='TODO' width='1' height='1' class='lazy-image')
      img(src='images/1px.gif' data-src='images/icons-account-gray.svg' alt='TODO' width='1' height='1' class='lazy-image')
  div(class='values')
    div(class='inner-values')
      div(class='select-label') Client: Grzegorz
      div(class='value')
        a(href='#' title='TODO') My account
      div(class='value')
        a(href='#' title='TODO') My orders
      div(class='value')
        a(href='#' title='TODO') Partner zone
      div(class='value logout')
        a(href='#' title='TODO') Log out