section(id='available-in-two-thicknesses' class='header-with-images-two-columns')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        //- div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label')
        h2
          | Available in two
          br
          | thicknesses
      div(class='items')
        div(class='item')
          div(class='image')
            picture(class='lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              source(srcset='images/1px.gif' data-srcset='images/discover-the-products-saddle-half-pads-available-in-two-thicknesses-1-desktop.png' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-available-in-two-thicknesses-1-mobile.png' alt='TODO')
          div(class='name') Comfort
          div(class='info') The Winderen Saddle Half-Pad Comfort (18 mm / 0,7” thick) suits most saddles
        div(class='item')
          div(class='image')
            picture(class='lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              source(srcset='images/1px.gif' data-srcset='images/discover-the-products-saddle-half-pads-available-in-two-thicknesses-2-desktop.png' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-available-in-two-thicknesses-2-mobile.png' alt='TODO')
          div(class='name') SLIM
          div(class='info') The Winderen Saddle Half-Pad Comfort (18 mm / 0,7” thick) suits most saddles