section(id='dimensions')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='container')
          div(class='inner-container')
            div(class='logo')
              img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
            //- div(class='label') 
            h2 Dimensions
      div(class='items')
        
        div(class='item')
          h3 Jumping
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-dimension-1.jpg' alt='TODO')
          div(class='table')
            div(class='row')
              div(class='icon-wrapper')
                span 16”
              div(class='spec')
                div(class='spec-row')
                  div(class='symbol') A
                  div(class='description') 18,5 cm / 7,25 in
                div(class='spec-row')
                  div(class='symbol') B
                  div(class='description') 56,5 cm / 22,25 in
                div(class='spec-row')
                  div(class='symbol') C
                  div(class='description') 19 cm / 7,50 in 
            div(class='row')
              div(class='icon-wrapper')
                span 17”
              div(class='spec')
                div(class='spec-row')
                  div(class='symbol') A
                  div(class='description') 18,5 cm / 7,25 in
                div(class='spec-row')
                  div(class='symbol') B
                  div(class='description') 59 cm / 23,25 in
                div(class='spec-row')
                  div(class='symbol') C
                  div(class='description') 19 cm / 7,50 in 
            div(class='row')
              div(class='icon-wrapper')
                span 18”
              div(class='spec')
                div(class='spec-row')
                  div(class='symbol') A
                  div(class='description') 18,5 cm / 7,25 in
                div(class='spec-row')
                  div(class='symbol') B
                  div(class='description') 61,5 cm / 24,25 in
                div(class='spec-row')
                  div(class='symbol') C
                  div(class='description') 19 cm / 7,50 in 
        
        div(class='item')
          h3 Dressage
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-dimension-2.jpg' alt='TODO')
          div(class='table')
            div(class='row')
              div(class='icon-wrapper')
                span 16”
              div(class='spec')
                div(class='spec-row')
                  div(class='symbol') A
                  div(class='description') 18,5 cm / 7,25 in
                div(class='spec-row')
                  div(class='symbol') B
                  div(class='description') 54,5 cm / 21,50 in
                div(class='spec-row')
                  div(class='symbol') C
                  div(class='description') 21,5 cm / 8,50 in 
            div(class='row')
              div(class='icon-wrapper')
                span 17”
              div(class='spec')
                div(class='spec-row')
                  div(class='symbol') A
                  div(class='description') 18,5 cm / 7,25 in
                div(class='spec-row')
                  div(class='symbol') B
                  div(class='description') 57 cm / 22,50 in
                div(class='spec-row')
                  div(class='symbol') C
                  div(class='description') 21,5 cm / 8,50 in 
            div(class='row')
              div(class='icon-wrapper')
                span 18”
              div(class='spec')
                div(class='spec-row')
                  div(class='symbol') A
                  div(class='description') 18,5 cm / 7,25 in
                div(class='spec-row')
                  div(class='symbol') B
                  div(class='description') 59,5 cm / 23,50 in
                div(class='spec-row')
                  div(class='symbol') C
                  div(class='description') 21,5 cm / 8,50 in 
        
        div(class='item')
          h3 Pony
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-dimension-3.jpg' alt='TODO')
          div(class='table')
            div(class='row')
              div(class='icon-wrapper')
                span 15”
              div(class='spec')
                div(class='spec-row')
                  div(class='symbol') A
                  div(class='description') 15 cm / 6 in
                div(class='spec-row')
                  div(class='symbol') B
                  div(class='description') 50 cm / 19,75 in
                div(class='spec-row')
                  div(class='symbol') C
                  div(class='description') 18 cm / 7 in 
      
      div(class='scroll-down')
        div(class='text') Scroll To Discover More
        div(class='icon') 
          img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')