section(id='technology-opinion')
  div(class='container')
    div(class='inner-container')
      
      div(class='opinions')
        
        div(class='opinion')
          div(class='image')
            div(class='inner-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-opinion-1.jpg' alt='TODO')
          div(class='details')
            //- div(class='author-and-stars')
            div(class='author')
              //- span(class='flag')
                img(src='images/1px.gif' data-src='images/flags-4x3/fr.svg' width='1' height='1' alt='TODO' class='lazy-image')
              div(class='name') Anna Jasińska-Kaźmierczak
              div(class='position') Veterinary Doctor
            //- div(class='stars')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
              img(src='images/1px.gif' data-src='images/icons-star-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
            div(class='quotation') “I work with horses on a daily basis using manual therapy and acupuncture. There are many methods that try to solve the problems with spine muscles but the key to success lies in a perfect fit of the saddle and a free muscle movement. I observed the process of the Winderen - Back Protect Solution Pad from its beginning. The pad has been simultaneously tested on three of my horsey patients. I knew the horses that were selected for the tests very well - when I started to work with them, they all had problems with proper development of spinal muscles as well as with relaxation during the training.
        
      div(class='support')
        div(class='content')
          div(class='avatars')
            div(class='avatar')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-1.png' alt='TODO')
            div(class='avatar')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-2.png' alt='TODO')
            div(class='avatar')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-3.png' alt='TODO')
          div(class='text')
            | We are here to help
            br
            | Ask away!
          div(class='icon') 
            span(class='circular-icon') 
                img(src='images/1px.gif' data-src='images/icons-speech-bubble.svg' alt='TODO' width='48' height='48' class='lazy-image')
                //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='contacts')
            div(class='contact')
              a(href='mailto:support@winderen.com' title='TODO') support@winderen.com
            div(class='contact')
              a(href='tel:+48666111266' title='TODO') +48 666 111 266
          //-h3 TODO
          //-h4 TODO
          //-div(class='buttons')
            a(href='https://www.winderen.com/pl/shop_offer/81/popregi.html' title='TODO' class='button  button-with-black-background-hover')
              span(class='button-label') Learn more

//- include ./includes/components/content-product-reviews-and-support.pug


//- product-reviews-and-support