section(id='significant-parts' class='highlighted-content-with-image')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='column')
          div(class='image')
            picture(class='lazy-picture')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
              //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
              img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-significant-parts.png' alt='TODO')
        div(class='column')
          div(class='icon-wrapper')
            span(class='icon circular-icon')
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='30' height='29' class='lazy-image')
          div(class='content') Significant parts of the energy have been dissipated and absorbed