section(id='product-structure' class='highlighted-list-with-image')
  div(class='container')
    div(class='inner-container')
      div(class='wrapper')
        div(class='header logo-icon-with-label')
          div(class='logo')
            img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
          //- div(class='label') 
          h2 Structure
        div(class='columns')
          div(class='column')
            div(class='image')
              picture(class='lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/tmp-product-structure.png' alt='TODO')
          div(class='column')
            div(class='items')
              div(class='item clickable')
                h3 Ballistic nylon upper shell
                div(class='info') 
                  div(class='inner-info') Replaceable, wear and tear-resistant, and durable - the upper shell protects the rest of the layers from external factors and prevents the Saddle Half Pad from moving and slipping underneath the saddle.
              div(class='item clickable')
                h3 DYNAMIC STABILIZATION LAYER
                div(class='info') 
                  div(class='inner-info') This modern material is used to increase the surface of the saddle in contact with the horse's back and thereby stabilizes the saddle. This layer helps to compensate for the horse's body structure when the saddle does not fit properly.
              div(class='item clickable')
                h3 FORCE EQUALIZER
                div(class='info') 
                  div(class='inner-info') This non-Newtonian material used in modern military industries is highly flexible and offers a substantial ability to store and absorb kinetic energy. It is used to capture excess energy generated while riding.
              div(class='item clickable')
                h3 BIOMECHANICAL CONNECTIVE TISSUE
                div(class='info') 
                  div(class='inner-info') The synthetic biomechanical connective tissue designed to protect the muscles under the pad reduces the forces acting on the muscles along the horse's back and to facilitate their loosening and development.
              div(class='item clickable')
                h3 KEVLAR BOTTOM SHELL
                div(class='info') 
                  div(class='inner-info') This layer has been designed to make the Back Protect Solution Saddle Half Pad stay firmly on the saddle cloth preventing the saddle from slipping. The porous structure of the Kevlar mesh ensures that the system of absorbers is supplied with fresh air protecting it against moisture.