section(id='technology-gallery-with-content-and-video' class='content-gallery')
  div(class='container')
    div(class='inner-container')
      
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label')
        h2 saddle half pad
        h3 Correction
      
      div(class='images-outer')
        div(class='images')
          div(class='images-inner') 
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-gallery-image-2.png' alt='TODO')
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-gallery-image-2.png' alt='TODO')
            
            div(class='image')
              div(class='image-inner')
                picture(class='rwd-background lazy-picture')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                  //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                  img(src='images/1px.gif' data-src='images/discover-the-products-saddle-half-pads-gallery-image-2.png' alt='TODO')
        
        div(class='navigation')
          div(class='pages')
            div
            div
            div
          div(class='previous')
            span(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-navigation-previous.svg' alt='TODO' width='1' height='1' class='lazy-image')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
          div(class='next')
            span(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-navigation-next.svg' alt='TODO' width='1' height='1' class='lazy-image')
            //- span(class='button-icon')
              img(src='images/1px.gif' data-src='images/icons-star-black.svg' alt='TODO'  width='1' height='1' class='lazy-image')
      
      div(class='buttons')
        a(class='button button-blue button-with-background button-with-background-hover' href='shop-group-product.html' title='TODO')
          span(class='button-label') BUY NOW!
        a(class='button button-blue button-with-background-hover' href='shop.html' title='TODO')
          span(class='button-label') To the shop
              
      div(class='gallery-content')
        div(class='inner-gallery-content wysiwyg')
          p The “Correction” version of Winderen’s Saddle Half Pad has a special cover that ensures the perfect fit regardless of the number of inserts used. No matter which configuration you choose its, panels remain stable and in an optimal position.
          p Correction saddle half-pad is based on Back Protect Solution inserts in Comfort version (18 mm / 0.7” thick) or Slim (10 mm / 0.4” thick).
              
      div(class='content')
        
        div(class='item')
          div(class='circular-image-wrapper')
            div(class='circular-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/saddle-half-pads-gallery-image-1.jpg' alt='TODO')
          div(class='name') Inserts with 6 pockets
          div(class='info')
            | More precise fit to the horse’s muscles. The shape of the panels was created in consultation with veterinarians and physiotherapists to perfectly adapt to the horse’s back line. 
            br
            br
            | The middle panel helps to correct the position and adherence of the saddle to the back of horses with hollowed back lines.
        
        div(class='item')
          div(class='circular-image-wrapper')
            div(class='circular-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/saddle-half-pads-gallery-image-2.jpg' alt='TODO')
          div(class='name') Cover Pad “Correction”
          div(class='info') 
            | The Correction Pad comes with a cover with an elastic band that perfectly fits the inserts.
            br
            br
            | No matter which configuration of the pads you choose, the panels are always in an optimal and stable position.
        
        div(class='item')
          div(class='circular-image-wrapper')
            div(class='circular-image')
              picture(class='rwd-background lazy-picture')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                img(src='images/1px.gif' data-src='images/saddle-half-pads-gallery-image-3.jpg' alt='TODO')
          div(class='name') Correction Panels “Felt”
          div(class='info')
            | The set includes panels in three thicknesses: 2 mm / 0.08”, 3 mm / 0.12” and 4 mm / 0.16”.
            br
            br
            | It allows you to adjust the pad up to 9 mm / 0.35” and makes it possible to regulate the desired correction in the range from 2 mm / 0.08” to 9 mm / 0.35” on both sides.
      
      div(class='gallery-video-conetnt')
        div(class='header logo-icon-with-label')
          //- div(class='logo')
            img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
          //- div(class='label') 
          h2 Discover more
        //- div(class='content')
          div(class='inner-content') We designed the Innovative stirrups Winderen Knee Protect Solution with kinetic energy absorber system in order to significantly reduce strain on the rider’s knee joints during riding, especially when jumping over fences. At the same time, Winderen Knee Protect Solution stirrups allow achieving an unusually solid and unchangeable foot position in the stirrup, which provides stable and comfortable lower leg application.
        div(class='video')
          div(class='iframe')
            div(class='outer-iframe')
              div(class='inner-iframe')
                //- iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
                iframe(src='https://player.vimeo.com/video/394422043?h=b5eb8d4b97&title=0&byline=0&portrait=0' width='640' height='360' frameborder='0' allow='autoplay; fullscreen; picture-in-picture' allowfullscreen='true')
      //- div(class='content')
        div(class='inner-content') The concern of a solid and unchangeable foot position in the stirrup is faced by many riders. During our researches, it turned out that in most cases stirrups move or fall out because of micromovements in the rigid connection point of stirrup leather with the stirrup. Our absorber-system, to a large extent, prevents that phenomenon, allowing the riders to feel a stable and comfortable leg position while jumping over fences and also during flat work. Simultaneously our stirrups significantly reduce the risk of shifting or losing a stirrup, leading to the loss balance often caused by stiff stirrups.
      //- div(class='scroll-down')
        div(class='text') Scroll To Discover More
        div(class='icon') 
          img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')