section(id='technology-video' class='video-with-description')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        //- h2 Pressure relief
      div(class='content')
        div(class='inner-content') The Winderen Saddle Half Pad with Back Protect Solution technology was designed to make you feel relaxed in the saddle while protecting both our and your horse’s back. Five technologically advanced layers provide you with maximum comfort, stability and enhance your riding experience by connecting horse and rider in complete harmony. See how we combined cutting-edge technology with elegance and comfort.
      div(class='video')
        div(class='iframe')
          div(class='outer-iframe')
            div(class='inner-iframe')
              //- iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
              iframe(src='https://player.vimeo.com/video/521816057?h=35895ea483&title=0&byline=0&portrait=0' width='640' height='360' frameborder='0' allow='autoplay; fullscreen; picture-in-picture' allowfullscreen='true')
      div(class='scroll-down')
        div(class='text') Scroll To Discover More
        div(class='icon') 
          img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')