section(id='product-structure' class='highlighted-list-with-image faq')
  div(class='container container-10px-lg')
    div(class='inner-container faq-instruction')
      div(class='columns')
        div(class='column')
          h2 FAQ
          div(class='items')
            div(class='item clickable')
              h3 What type of saddle half pad do I need?
              div(class='info') 
                div(class='inner-info') For more information regarding which saddle half pad will be the best for you, please take a look at                        . 
            div(class='item clickable')
              h3 How does the Winderen pad work?
              div(class='info') 
                div(class='inner-info') Test
            div(class='item clickable')
              h3 How to clean the Winderen’s saddle pad?
              div(class='info') 
                div(class='inner-info') Test
            div(class='item clickable')
              h3 My pad is getting hard when it’s cold. What should I do?
              div(class='info') 
                div(class='inner-info') Test
            div(class='item clickable')
              h3 How do I change the cover?
              div(class='info') 
                div(class='inner-info') Test
            div(class='item clickable')
              h3 What is the difference between dressage and jumping pads?
              div(class='info') 
                div(class='inner-info') Test
            div(class='item clickable')
              h3 What if I buy the wrong size or thickness of the pad?
              div(class='info') 
                div(class='inner-info') Test
            div(class='item clickable')
              h3 I have a general purpose saddle. Which pad should I choose?
              div(class='info') 
                div(class='inner-info') Test
        div(class='column')
          h2(class='d-none-lg') CONTACT US
          div(class='support')
            div(class='content')
              div(class='avatars')
                div(class='avatar')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-1.png' alt='TODO')
                div(class='avatar')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-2.png' alt='TODO')
                div(class='avatar')
                  picture(class='rwd-background lazy-picture')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
                    //- source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
                    img(src='images/1px.gif' data-src='images/tmp-shop-collections-avatars-3.png' alt='TODO')
              div(class='text')
                | We are here to help
                br
                | Ask away!
              div(class='icon') 
                span(class='circular-icon') 
                    img(src='images/1px.gif' data-src='images/icons-speech-bubble.svg' alt='TODO' width='48' height='48' class='lazy-image')
                    //- img(src='images/1px.gif' data-src='images/icons-customer-support-gray.svg' alt='TODO' width='48' height='48' class='lazy-image')
              div(class='contacts')
                p CUSTOMER SUPPORT
                div(class='contact')
                  a(href='mailto:support@winderen.com' title='TODO') support@winderen.com
                div(class='contact')
                  a(href='tel:+48666111266' title='TODO') +48 666 111 266