a {
  color: $color-white;
  text-decoration: none;
}

.animate {
  opacity: 0;
  transform: translateY(-150px);

  &.animation-enabled {
    @include transitionAdvanced('opacity, transform', 0.5s, 0s);
  }

  &.animated {
    opacity: 1;
    transform: translateY(0px);
  }
}

.lazy-image {
  opacity: 0;
  display: block;
  position: relative;
  @include transitionAdvanced('opacity', 0.5s, 0s);

  &-loading-finished {
    opacity: 1;
  }
}

.lazy-picture {
  opacity: 0;
  display: block;
  @include transitionAdvanced('opacity', 0.5s, 0s);

  &-loading-finished {
    opacity: 1;
  }
}

.rwd-background {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  &-overlay {
    &:after {
      top: 0px;
      left: 0px;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba($color-black, 0.25);
    }
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }
}

.button {
  z-index: 1;
  height: 40px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
  background-position: top left, top right, bottom right, bottom left, center center;
  background-image: url('../images/border-stroke-white-top-left.svg'), 
                    url('../images/border-stroke-white-top-right.svg'), 
                    url('../images/border-stroke-white-bottom-right.svg'), 
                    url('../images/border-stroke-white-bottom-left.svg');
  
  +.button {
    margin: 0px 0px 0px 20px;
  }

  &.button-blue {
    background-image: url('../images/border-stroke-blue-top-left.svg'), 
                      url('../images/border-stroke-blue-top-right.svg'), 
                      url('../images/border-stroke-blue-bottom-right.svg'), 
                      url('../images/border-stroke-blue-bottom-left.svg');
    
    &:before {
      background: $color-malibu;
    }
  
    &:after {
      background: $color-malibu;
    }

    .button-label {
      color: $color-malibu;

      &:before {
        background: $color-malibu;
      }
  
      &:after {
        background: $color-malibu;
      }
    }
  }

  &.button-black {
    background-image: url('../images/border-stroke-black-top-left.svg'), 
                      url('../images/border-stroke-black-top-right.svg'), 
                      url('../images/border-stroke-black-bottom-right.svg'), 
                      url('../images/border-stroke-black-bottom-left.svg');
    
    &:before {
      background: $color-black;
    }
  
    &:after {
      background: $color-black;
    }

    .button-label {
      color: $color-black;

      &:before {
        background: $color-black;
      }
  
      &:after {
        background: $color-black;
      }
    }
  }

  &.button-orange {
    background-image: url('../images/border-stroke-orange-top-left.svg'), 
                      url('../images/border-stroke-orange-top-right.svg'), 
                      url('../images/border-stroke-orange-bottom-right.svg'), 
                      url('../images/border-stroke-orange-bottom-left.svg');
    
    &:before {
      background: $color-neon-carrot;
    }
  
    &:after {
      background: $color-neon-carrot;
    }

    .button-label {
      color: $color-neon-carrot;

      &:before {
        background: $color-neon-carrot;
      }
  
      &:after {
        background: $color-neon-carrot;
      }
    }
  }

  &.button-gray {
    background-image: url('../images/border-stroke-gray-top-left.svg'), 
                      url('../images/border-stroke-gray-top-right.svg'), 
                      url('../images/border-stroke-gray-bottom-right.svg'), 
                      url('../images/border-stroke-gray-bottom-left.svg');
    
    &:before {
      background: $color-gray;
    }
  
    &:after {
      background: $color-gray;
    }

    .button-label {
      color: $color-gray;

      &:before {
        background: $color-gray;
      }
  
      &:after {
        background: $color-gray;
      }
    }
  }

  &.button-with-background {
    color: $color-black;
    background-image: url('../images/border-full-white-top-left.svg'), 
                      url('../images/border-full-white-top-right.svg'), 
                      url('../images/border-full-white-bottom-right.svg'), 
                      url('../images/border-full-white-bottom-left.svg');

    &:before {
      height: 10px;
    }
  
    &:after {
      height: 10px;
    }

    .button-label {
      background: $color-white;

      &:before {
        width: 10px;
        background: $color-white;
      }
  
      &:after {
        width: 10px;
        background: $color-white;
      }
    }

    &.button-blue {
      background-image: url('../images/border-full-blue-top-left.svg'), 
                        url('../images/border-full-blue-top-right.svg'), 
                        url('../images/border-full-blue-bottom-right.svg'), 
                        url('../images/border-full-blue-bottom-left.svg');
      
      &:before {
        background: $color-malibu;
      }
    
      &:after {
        background: $color-malibu;
      }
  
      .button-label {
        color: $color-black;
        background: $color-malibu;
  
        &:before {
          background: $color-malibu;
        }
    
        &:after {
          background: $color-malibu;
        }
      }
    }
  
    &.button-black {
      background-image: url('../images/border-full-black-top-left.svg'), 
                        url('../images/border-full-black-top-right.svg'), 
                        url('../images/border-full-black-bottom-right.svg'), 
                        url('../images/border-full-black-bottom-left.svg');
      
      &:before {
        background: $color-black;
      }
    
      &:after {
        background: $color-black;
      }
  
      .button-label {
        color: $color-malibu;
        background: $color-black;
  
        &:before {
          background: $color-black;
        }
    
        &:after {
          background: $color-black;
        }
      }
    }
  
    &.button-orange {
      background-image: url('../images/border-full-orange-top-left.svg'), 
                        url('../images/border-full-orange-top-right.svg'), 
                        url('../images/border-full-orange-bottom-right.svg'), 
                        url('../images/border-full-orange-bottom-left.svg');
      
      &:before {
        background: $color-neon-carrot;
      }
    
      &:after {
        background: $color-neon-carrot;
      }
  
      .button-label {
        color: $color-black;
        background: $color-neon-carrot;
  
        &:before {
          background: $color-neon-carrot;
        }
    
        &:after {
          background: $color-neon-carrot;
        }
      }
    }
  
    &.button-gray {
      background-image: url('../images/border-full-gray-top-left.svg'), 
                        url('../images/border-full-gray-top-right.svg'), 
                        url('../images/border-full-gray-bottom-right.svg'), 
                        url('../images/border-full-gray-bottom-left.svg');
      
      &:before {
        background: $color-gray;
      }
    
      &:after {
        background: $color-gray;
      }
  
      .button-label {
        color: $color-black;
        background: $color-gray;
  
        &:before {
          background: $color-gray;
        }
    
        &:after {
          background: $color-gray;
        }
      }
    }
  }

  &.button-with-icon {
    .button-label {
      padding: 0px 20px 0px 40px;
    }
  }

  &:before {
    top: 0px;
    left: 9px;
    height: 1px;
    content: '';
    z-index: -1;
    position: absolute;
    background: $color-white;
    width: calc(100% - 18px);
  }

  &:after {
    left: 9px;
    bottom: 0px;
    height: 1px;
    content: '';
    z-index: -1;
    position: absolute;
    background: $color-white;
    width: calc(100% - 18px);
  }

  .button-icon {
    left: 15px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;

    img {
      width: 15px;
      height: 15px;
      object-fit: contain;
      object-position: center;
    }

    +.button-icon {
      opacity: 0;
    }
  }

  .button-flag {
    width: 15px;
    height: 15px;
    overflow: hidden;
    border-radius: 50%;

    img {
      object-fit: cover;
    }
  }

  .button-label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    @include letterSpacing(55);
    @include font(14px, 14px, 400);
    font-family: $font-gt-america-extended-regular;

    &:before {
      top: 10px;
      left: 0px;
      width: 1px;
      content: '';
      z-index: -1;
      position: absolute;
      background: $color-white;
      height: calc(100% - 20px);
    }

    &:after {
      top: 10px;
      right: 0px;
      width: 1px;
      content: '';
      z-index: -1;
      position: absolute;
      background: $color-white;
      height: calc(100% - 20px);
    }
  }
}

.circular-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  border: 1px solid $color-white;
  @include transitionAdvanced('border', 0.5s, 0s);

  &.no-border {
    border: none;

    img {
      top: 0px;
      left: 0px;
      width: 40px;
      height: 40px;
    }
  }

  span {
    top: -2px;
    width: 20px;
    height: 20px;
    right: -10px;
    display: none;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    color: $color-black;
    background: $color-malibu;
    @include letterSpacing(55);
    @include font(12px, 21px, 400);
    font-family: $font-gt-america-regular;
  }

  img {
    width: 18px;
    height: 18px;
    position: absolute;
    object-fit: contain;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    object-position: center;
    @include transitionAdvanced('opacity', 0.5s, 0s);

    +img {
      opacity: 0;
    }
  }
}

.new-label {
  top: 0px;
  right: 0px;
  position: absolute;
  color: $color-black;
  text-transform: uppercase;
  @include letterSpacing(55);
  padding: 5px 10px 5px 10px;
  background: $color-neon-carrot;
  @include font(10px, 10px, 400);
  font-family: $font-gt-america-regular;
}

.support {
  .content {
    top: 20px;
    height: auto;
    display: flex;
    max-height: none;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    background: linear-gradient(to bottom, $color-blumine, $color-malibu);
  }

  .avatars {
    display: flex;
    justify-content: center;
  }

  .avatar {
    width: 62px;
    height: 62px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0px 5px 0px 5px;
    border: 8px solid rgba($color-concrete, 0.2);
  }

  .text {
    text-align: center;
    margin: 10px 0px 0px 0px;
    @include letterSpacing(25);
    @include font(16px, 22px, 400);
    font-family: $font-gt-america-regular;
  }

  .icon {
    text-align: center;
    margin: 30px 0px 0px 0px;
  }

  .contacts {
    margin: 10px 0px 0px 0px;
  }

  .contact {
    text-align: center;
    @include letterSpacing(25);
    @include font(16px, 22px, 400);
    font-family: $font-gt-america-regular;
  }
}

.logo-icon-with-label {
  .logo {
    display: flex;
    justify-content: center;

    +h1 {
      margin: 12px 0px 0px 0px;
    }

    +h2 {
      margin: 12px 0px 0px 0px;
    }

    +h3 {
      margin: 12px 0px 0px 0px;
    }

    +.quotation {
      margin: 12px 0px 0px 0px;
    }

    img {
      width: 23px;
      height: auto;
    }
  }

  .icon {
    display: flex;
    justify-content: center;

    +h1 {
      margin: 12px 0px 0px 0px;
    }

    +h2 {
      margin: 12px 0px 0px 0px;
    }

    +h3 {
      margin: 12px 0px 0px 0px;
    }

    +.quotation {
      margin: 12px 0px 0px 0px;
    }
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    @include letterSpacing(25);
    @include font(20px, 24px, 400);
    font-family: $font-gt-america-extended-medium;

    +h2 {
      margin: 5px 0px 0px 0px;
      @include font(16px, 24px, 400);
      font-family: $font-gt-america-extended-regular;
    }

    +.quotation {
      margin: 12px 0px 0px 0px;
    }
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    @include letterSpacing(25);
    @include font(20px, 24px, 400);
    font-family: $font-gt-america-extended-medium;

    +h3 {
      margin: 5px 0px 0px 0px;
      @include font(16px, 24px, 400);
    }

    +.quotation {
      margin: 12px 0px 0px 0px;
    }
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    @include letterSpacing(25);
    @include font(20px, 24px, 400);
    font-family: $font-gt-america-extended-regular;

    +.quotation {
      margin: 12px 0px 0px 0px;
    }
  }

  .quotation {
    text-align: center;
    @include letterSpacing(25);
    @include font(16px, 20px, 400);
    font-family: $font-gt-america-extended-regular;
  }
}

.text-with-button {
  margin: 50px 0px 0px 0px;
  
  h2 {
    text-align: center;
    @include letterSpacing(25);
    @include font(18px, 24px, 400);
    font-family: $font-gt-america-extended-regular;

    +.buttons {
      margin: 20px 0px 0px 0px;
    }
  }
  
  h3 {
    text-align: center;
    @include letterSpacing(25);
    @include font(18px, 24px, 400);
    font-family: $font-gt-america-extended-regular;

    +.buttons {
      margin: 20px 0px 0px 0px;
    }
  }
  
  h4 {
    text-align: center;
    @include letterSpacing(25);
    @include font(18px, 24px, 400);
    font-family: $font-gt-america-extended-regular;

    +.buttons {
      margin: 20px 0px 0px 0px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}

.scroll-down {
  .text {
    text-align: center;
    margin: 0px 0px 20px 0px;
    text-transform: uppercase;
    @include letterSpacing(55);
    @include font(16px, 16px, 400);
    font-family: $font-gt-america-regular;
  }

  .icon {
    img {
      margin: 0px auto 0px auto;
    }
  }
}

.iframe {
  /* display: flex;
  justify-content: center;
  margin: 35px 0px 0px 0px; */

  .outer-iframe {
    width: 100%;
    /* max-width: 796px; */
  }

  .inner-iframe {
    position: relative;
    @include videoRatio(560, 315);
    border-bottom: 8px solid rgba($color-black, 0.2);
  }

  iframe {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.form {
  .form-row {
    display: flex;
  }

  .form-row-hidden {
    display: none;
  }

  /* .form-column {
    &.error {
      .error {
        display: block;
      }
    }

    .error {
      display: none;
      color: $color-red;
      font-style: italic;
      padding: 2px 0px 0px 0px;
      @include letterSpacing(10);
      @include font(10px, 10px, 400);
      font-family: $font-gt-america-extended-regular;
    }
  } */

  /* .field-label {
    color: $color-mine-shaft;
    text-transform: uppercase;
    @include letterSpacing(10);
    @include font(12px, 12px, 400);
    font-family: $font-gt-america-extended-regular;

    +.form-field {
      margin: 10px 0px 0px 0px;
    }

    abbr {
      text-decoration: none;
    }
  } */

  /* .field-info {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(10);
    @include font(12px, 24px, 400);
    font-family: $font-gt-america-extended-regular;

    a {
      text-decoration: underline;
    }
  } */

  /* .field-link {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(10);
    @include font(12px, 12px, 400);
    font-family: $font-gt-america-extended-regular;
  } */

  /* .field-text {
    margin: 20px 0px 0px 0px;
    
    input[type='text'] {
      border: 0px;
      width: 100%;
      height: 40px;
      /* color: $color-mine-shaft; *---/
      @include letterSpacing(0);
      padding: 0px 20px 0px 20px;
      /* background: $color-gallery; *---/
      @include font(12px, 12px, 400);
      font-family: $font-gt-america-extended-regular;
      /* @include placeholder($font-open-sans, normal, $color-dove-gray); *---/
    }
  } */

  /* .field-password {
    margin: 20px 0px 0px 0px;
    
    input[type='password'] {
      border: 0px;
      width: 100%;
      height: 40px;
      /* color: $color-mine-shaft; *---/
      @include letterSpacing(0);
      padding: 0px 20px 0px 20px;
      /* background: $color-gallery; *---/
      @include font(12px, 12px, 400);
      font-family: $font-gt-america-extended-regular;
      /* @include placeholder($font-open-sans, normal, $color-dove-gray); *---/
    }
  } */

  /* .field-email {
    margin: 20px 0px 0px 0px;
    
    input[type='email'] {
      border: 0px;
      width: 100%;
      height: 40px;
      /* color: $color-mine-shaft; *---/
      @include letterSpacing(0);
      padding: 0px 20px 0px 20px;
      /* background: $color-gallery; *---/
      @include font(12px, 12px, 400);
      font-family: $font-gt-america-extended-regular;
      /* @include placeholder($font-open-sans, normal, $color-dove-gray); *---/
    }
  } */

  /* .field-tel {
    margin: 20px 0px 0px 0px;
    
    input[type='tel'] {
      border: 0px;
      width: 100%;
      height: 40px;
      /* color: $color-mine-shaft; *---/
      @include letterSpacing(0);
      padding: 0px 20px 0px 20px;
      /* background: $color-gallery; *---/
      @include font(12px, 12px, 400);
      font-family: $font-gt-america-extended-regular;
      /* @include placeholder($font-open-sans, normal, $color-dove-gray); *---/
    }
  } */

  /* .field-number {
    margin: 20px 0px 0px 0px;
    
    input[type='number'] {
      border: 0px;
      width: 100%;
      height: 40px;
      /* color: $color-mine-shaft; *---/
      @include letterSpacing(0);
      padding: 0px 0px 0px 10px;
      /* background: $color-gallery; *---/
      @include font(12px, 12px, 400);
      font-family: $font-gt-america-extended-regular;
      /* @include placeholder($font-open-sans, normal, $color-dove-gray); *---/
    }
  } */

  /* .number-wrapper {
    position: relative;
    margin: 0px 0px 0px 12px;

    &:before {
      top: 0px;
      right: 1px;
      height: 100%;
      width: 18px;
      content: '';
      position: absolute;
      background: $color-white;
    }

    span {
      &.increment {
        top: 0px;
        right: 0px;
        width: 19px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        text-align: center;
        @include noSelect();
        border: 1px solid $color-black;
      }

      &.decrement {
        top: 22px;
        right: 0px;
        width: 19px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        text-align: center;
        @include noSelect();
        border: 1px solid $color-black;
      }
    }
  } */

  .field-select {
    position: relative;
    margin: 20px 0px 0px 0px;
    
    select {
      border: 0px;
      width: 100%;
      height: 40px;
      /* height: 48px; */
      background: none;
      @include noOutline();
      @include noAppearance();
      /* color: $color-mine-shaft; */
      padding: 0px 0px 0px 16px;
      @include letterSpacing(55);
      /* background: $color-gallery; */
      @include font(16px, 16px, 400);
      /* @include font(18px, 18px, 400); */
      border: 1px solid $color-black;
      font-family: $font-gt-america-extended-regular;
      /* @include placeholder($font-open-sans, normal, $color-dove-gray); */
    }

    option {
      color: red;
      font-family: $font-gt-america-compressed-medium;
    }

    &:after {
      right: 10px;
      content: '';
      width: 10px;
      height: 6px;
      position: absolute;
      top: calc(50% - (6px / 2));
      background: url('../images/icons-arrow-bottom-black.svg') no-repeat center center;
    }
  }

  /* .field-checkbox {
    overflow: hidden;
    margin: 20px 0px 0px 0px;
    
    &.checked {
      label {
        &:after {
          opacity: 1;
        }
      }
    }

    .field {
      /* position: relative; *---/
      padding: 5px 0px 5px 0px;
      @include letterSpacing(10);
      /* font-family: $font-open-sans; *---/
      @include font(12px, 12px, 400);
      font-family: $font-gt-america-extended-regular;
    }

    label {
      height: 26px;
      display: block;
      position: relative;
      padding: 5px 0px 0px 30px;

      &:before {
        top: 0px;
        left: 0px;
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        border: 1px solid $color-black;
      }

      &:after {
        top: 6px;
        left: 6px;
        opacity: 0;
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        background: $color-black;
      }
    }
    
    input[type='checkbox'] {
      opacity: 0;
      right: 0px;
      /* right: -14px; *---/
      position: absolute;
    }
    
    a {
      text-decoration: underline;
    }

    .error {
      padding: 0px 0px 0px 30px;
    }
  } */

  /* .field-textarea {
    margin: 20px 0px 0px 0px;
    
    textarea {
      border: 0px;
      width: 100%;
      height: 150px;
      /* color: $color-mine-shaft; *---/
      @include letterSpacing(0);
      /* background: $color-gallery; *---/
      padding: 20px 20px 20px 20px;
      @include font(12px, 12px, 400);
      font-family: $font-gt-america-extended-regular;
      /* @include placeholder($font-open-sans, normal, $color-dove-gray); *---/
    }
  } */

  /* textarea {
    width: 100%;
    height: 150px;
    background: none;
    color: $color-white;
    padding: 5px 5px 5px 5px;
    @include font(16px, 16px, 400);
    border: 1px solid $color-ship-cove;
    font-family: $font-simplon-norm-light;
    @include placeholder($font-simplon-norm-light, normal, $color-ship-cove);
  } */

  .field-submit {
    margin: 20px 0px 0px 0px;

    .form-field {
      margin: 0px 0px 0px 0px;
    }
    
    button {
      /* cursor: pointer; */
      border: none;
      /* background: none; */
      background-color: transparent;
      /* border-radius: 37px; */
      @include noOutline();
      @include noAppearance();
      /* text-transform: uppercase;
      @include letterSpacing(75);
      padding: 13px 45px 13px 45px;
      @include font(15px, 15px, 400);
      border: 1px solid $color-black;
      font-family: $font-gt-america-extended-regular; */

      &.disable {
        display: none;
      }
    }

    input[type='submit'] {
      /* cursor: pointer; */
      /* background: none; */
      background-color: transparent;
      /* border-radius: 37px;
      text-transform: uppercase;
      @include letterSpacing(75);
      padding: 13px 45px 13px 45px;
      @include font(15px, 15px, 400);
      border: 1px solid $color-black;
      font-family: $font-gt-america-extended-regular; */

      &.disable {
        display: none;
      }
    }
  }

  /* .description {
    font-style: italic;
    padding: 2px 0px 0px 0px;
    /* color: $color-mine-shaft; *---/
    @include letterSpacing(10);
    @include font(10px, 10px, 400);
    font-family: $font-gt-america-extended-regular;
  } */
}


.wysiwyg {
  > * {
    margin: 0px 0px 0px 0px;
  }

  /* h1 {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(-15);
    @include font(35px, 41px, 600);
    font-family: $font-cormorant-garamond;
  }
  
  h2 {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(-15);
    @include font(32px, 38px, 600);
    font-family: $font-cormorant-garamond;
  }
  
  h3 {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(-15);
    @include font(29px, 35px, 600);
    font-family: $font-cormorant-garamond;
  }
  
  h4 {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(-15);
    @include font(26px, 32px, 600);
    font-family: $font-cormorant-garamond;
  }
  
  h5 {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(-15);
    @include font(23px, 29px, 600);
    font-family: $font-cormorant-garamond;
  }
  
  h6 {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(-15);
    @include font(20px, 26px, 600);
    font-family: $font-cormorant-garamond;
  } */
  
  p {
    margin: 20px 0px 0px 0px;
    /* @include letterSpacing(10);
    font-family: $font-open-sans;
    @include font(14px, 24px, 400); */

    &:first-child {
      margin: 0px 0px 0px 0px;
    }
  }

  /* ul {
    margin: 20px 0px 0px 0px;
    @include letterSpacing(10);
    font-family: $font-open-sans;
    @include font(14px, 24px, 400);

    li {
      position: relative;
      padding: 0px 0px 0px 25px;

      &:before {
        top: 8px;
        left: 0px;
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        background: $color-mine-shaft;
      }

      +li {
        margin: 10px 0px 0px 0px;
      }
    }
  }

  ol {
    list-style-type: decimal;
    margin: 20px 0px 0px 15px;
    @include letterSpacing(10);
    font-family: $font-open-sans;
    @include font(14px, 24px, 400);

    li {
      position: relative;
      padding: 0px 0px 0px 10px;

      +li {
        margin: 10px 0px 0px 0px;
      }
    }
  }

  img {
    &.loaded {
      width: 100%;
      height: auto;
      display: block;
    }
  } */
}

#privacy-policy-info {
  bottom: 0px;
  width: 100%;
  display: none;
  z-index: 99999;
  position: fixed;
  color: $color-white;
  box-sizing: border-box;
  background: $color-black;
  padding: 25px 0px 25px 0px;
  border-top: 1px solid $color-tundora;

  &.active {
    display: block;
  }

  .inner-container {
    display: flex;
  }
  
  .descriptiom {
    width: 60%;
    @include letterSpacing(0);
    @include font(12px, 24px, 400);
    font-family: $font-gt-america-regular;
  }

  .options {
    width: 40%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    > * {
      height: 28px;
      /* color: $color-white; */
      display: inline-block;
      box-sizing: border-box;
      text-transform: uppercase;
      @include letterSpacing(0);
      padding: 5px 0px 0px 20px;
      /* padding: 5px 20px 0px 20px; */
      @include font(14px, 14px, 400);
      font-family: $font-gt-america-regular;
      /* font-family: $font-mikro-medium; */

      /* + {
        margin-left: 20px;
      } */
    }

    span {
      cursor: pointer;
    }
  }
}