@media all and (min-width: $width-large) {
  .button {
    min-width: 200px;

    .button-icon {
      @include transitionAdvanced('opacity', 0.5s, 0s);
    }

    .button-label {
      @include transitionAdvanced('color', 0.5s, 0s);
    }

    &.button-with-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-stroke-white-top-left.svg'), 
                          url('../images/border-stroke-white-top-right.svg'), 
                          url('../images/border-stroke-white-bottom-right.svg'), 
                          url('../images/border-stroke-white-bottom-left.svg');

        &:before {
          height: 1px;
          background: $color-white;
        }
      
        &:after {
          height: 1px;
          background: $color-white;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-white;
          background: transparent;
    
          &:before {
            width: 1px;
            background: $color-white;
          }
      
          &:after {
            width: 1px;
            background: $color-white;
          }
        }
      }
    }

    &.button-with-black-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-stroke-black-top-left.svg'), 
                          url('../images/border-stroke-black-top-right.svg'), 
                          url('../images/border-stroke-black-bottom-right.svg'), 
                          url('../images/border-stroke-black-bottom-left.svg');

        &:before {
          height: 1px;
          background: $color-black;
        }
      
        &:after {
          height: 1px;
          background: $color-black;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-black;
          background: transparent;
    
          &:before {
            width: 1px;
            background: $color-black;
          }
      
          &:after {
            width: 1px;
            background: $color-black;
          }
        }
      }
    }

    &.button-with-blue-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-stroke-blue-top-left.svg'), 
                          url('../images/border-stroke-blue-top-right.svg'), 
                          url('../images/border-stroke-blue-bottom-right.svg'), 
                          url('../images/border-stroke-blue-bottom-left.svg');

        &:before {
          height: 1px;
          background: $color-malibu;
        }
      
        &:after {
          height: 1px;
          background: $color-malibu;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-malibu;
          background: transparent;
    
          &:before {
            width: 1px;
            background: $color-malibu;
          }
      
          &:after {
            width: 1px;
            background: $color-malibu;
          }
        }
      }
    }

    &.button-with-orange-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-stroke-orange-top-left.svg'), 
                          url('../images/border-stroke-orange-top-right.svg'), 
                          url('../images/border-stroke-orange-bottom-right.svg'), 
                          url('../images/border-stroke-orange-bottom-left.svg');

        &:before {
          height: 1px;
          background: $color-neon-carrot;
        }
      
        &:after {
          height: 1px;
          background: $color-neon-carrot;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-neon-carrot;
          background: transparent;
    
          &:before {
            width: 1px;
            background: $color-neon-carrot;
          }
      
          &:after {
            width: 1px;
            background: $color-neon-carrot;
          }
        }
      }
    }

    &.button-with-gray-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-stroke-gray-top-left.svg'), 
                          url('../images/border-stroke-gray-top-right.svg'), 
                          url('../images/border-stroke-gray-bottom-right.svg'), 
                          url('../images/border-stroke-gray-bottom-left.svg');

        &:before {
          height: 1px;
          background: $color-tundora;
        }
      
        &:after {
          height: 1px;
          background: $color-tundora;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-tundora;
          background: transparent;
    
          &:before {
            width: 1px;
            background: $color-tundora;
          }
      
          &:after {
            width: 1px;
            background: $color-tundora;
          }
        }
      }
    }

    &.button-with-background-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-full-white-top-left.svg'), 
                          url('../images/border-full-white-top-right.svg'), 
                          url('../images/border-full-white-bottom-right.svg'), 
                          url('../images/border-full-white-bottom-left.svg');

        &:before {
          height: 10px;
          background: $color-white;
        }
      
        &:after {
          height: 10px;
          background: $color-white;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-black;
          background: $color-white;
    
          &:before {
            width: 10px;
            background: $color-white;
          }
      
          &:after {
            width: 10px;
            background: $color-white;
          }
        }
      }
    }

    &.button-with-black-background-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-full-black-top-left.svg'), 
                          url('../images/border-full-black-top-right.svg'), 
                          url('../images/border-full-black-bottom-right.svg'), 
                          url('../images/border-full-black-bottom-left.svg');

        &:before {
          height: 10px;
          background: $color-black;
        }
      
        &:after {
          height: 10px;
          background: $color-black;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-white;
          background: $color-black;
    
          &:before {
            width: 10px;
            background: $color-black;
          }
      
          &:after {
            width: 10px;
            background: $color-black;
          }
        }
      }
    }

    &.button-with-blue-background-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-full-blue-top-left.svg'), 
                          url('../images/border-full-blue-top-right.svg'), 
                          url('../images/border-full-blue-bottom-right.svg'), 
                          url('../images/border-full-blue-bottom-left.svg');

        &:before {
          height: 10px;
          background: $color-malibu;
        }
      
        &:after {
          height: 10px;
          background: $color-malibu;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-black;
          background: $color-malibu;
    
          &:before {
            width: 10px;
            background: $color-malibu;
          }
      
          &:after {
            width: 10px;
            background: $color-malibu;
          }
        }
      }
    }

    &.button-with-orange-background-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-full-orange-top-left.svg'), 
                          url('../images/border-full-orange-top-right.svg'), 
                          url('../images/border-full-orange-bottom-right.svg'), 
                          url('../images/border-full-orange-bottom-left.svg');

        &:before {
          height: 10px;
          background: $color-neon-carrot;
        }
      
        &:after {
          height: 10px;
          background: $color-neon-carrot;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-black;
          background: $color-neon-carrot;
    
          &:before {
            width: 10px;
            background: $color-neon-carrot;
          }
      
          &:after {
            width: 10px;
            background: $color-neon-carrot
          }
        }
      }
    }

    &.button-with-gray-background-hover {
      &:hover {
        color: $color-black;
        background-image: url('../images/border-full-gray-top-left.svg'), 
                          url('../images/border-full-gray-top-right.svg'), 
                          url('../images/border-full-gray-bottom-right.svg'), 
                          url('../images/border-full-gray-bottom-left.svg');

        &:before {
          height: 10px;
          background: $color-tundora;
        }
      
        &:after {
          height: 10px;
          background: $color-tundora;
        }

        &.button-with-icon {
          .button-icon {
            +.button-icon {
              opacity: 1;
            }
          }
        }
    
        .button-label {
          color: $color-black;
          background: $color-tundora;
    
          &:before {
            width: 10px;
            background: $color-tundora;
          }
      
          &:after {
            width: 10px;
            background: $color-tundora;
          }
        }
      }
    }
  }

  .new-label {
    @include font(14px, 14px, 400);
  }

  .support {
    .contact {
      a {
        @include transitionAdvanced('color', 0.5s, 0s);

        &:hover {
          color: $color-tundora;
        }
      }
    }
  }

  .logo-icon-with-label {
    .logo {
      +.quotation {
        margin: 40px 0px 0px 0px;
      }

      img {
        width: 34px;
      }
    }

    .icon {
      +.quotation {
        margin: 40px 0px 0px 0px;
      }
    }

    h1 {
      +.quotation {
        margin: 40px 0px 0px 0px;
      }
    }

    h2 {
      +.quotation {
        margin: 40px 0px 0px 0px;
      }
    }

    h3 {
      +.quotation {
        margin: 40px 0px 0px 0px;
      }
    }
  }
}