@media all and (min-width: $width-medium) {
  .circular-icon {
    width: 48px;
    height: 48px;

    img {
      width: 22px;
      height: 22px;
      top: calc(50% - 11px);
      left: calc(50% - 11px);
    }
  }

  .new-label {
    @include font(12px, 12px, 400);
  }
  
  .support {
    .text {
      @include font(18px, 26px, 400);
    }

    .icon {
      margin: 50px 0px 0px 0px;
    }

    .contact {
      @include font(18px, 26px, 400);
    }
  }

  .logo-icon-with-label {
    .logo {
      +h1 {
        margin: 20px 0px 0px 0px;
      }

      +h2 {
        margin: 20px 0px 0px 0px;
      }

      +h3 {
        margin: 20px 0px 0px 0px;
      }

      +.quotation {
        margin: 20px 0px 0px 0px;
      }

      img {
        width: 28px;
      }
    }

    .icon {
      +h1 {
        margin: 20px 0px 0px 0px;
      }

      +h2 {
        margin: 20px 0px 0px 0px;
      }

      +h3 {
        margin: 20px 0px 0px 0px;
      }

      +.quotation {
        margin: 20px 0px 0px 0px;
      }
    }

    h1 {
      @include font(26px, 30px, 400);

      +h2 {
        margin: 10px 0px 0px 0px;
        @include font(20px, 30px, 400);
      }

      +h3 {
        margin: 10px 0px 0px 0px;
        @include font(20px, 30px, 400);
      }

      +.quotation {
        margin: 20px 0px 0px 0px;
      }
    }

    h2 {
      @include font(26px, 30px, 400);

      +h3 {
        margin: 10px 0px 0px 0px;
        @include font(20px, 30px, 400);
      }

      +.quotation {
        margin: 20px 0px 0px 0px;
      }
    }

    h3 {
      @include font(26px, 30px, 400);

      +.quotation {
        margin: 20px 0px 0px 0px;
      }
    }

    .quotation {
      @include font(18px, 24px, 400);
    }
  }

  .text-with-button {
    margin: 100px 0px 0px 0px;

    h2 {
      @include font(24px, 32px, 400);
    }

    h3 {
      @include font(24px, 32px, 400);
    }

    h4 {
      @include font(24px, 32px, 400);
    }
  }
  
  .wysiwyg {
    /* h1 {
      margin: 28px 0px 0px 0px;
      @include font(37px, 45px, 600);
    }
    
    h2 {
      margin: 28px 0px 0px 0px;
      @include font(34px, 42px, 600);
    }
    
    h3 {
      margin: 28px 0px 0px 0px;
      @include font(31px, 39px, 600);
    }
    
    h4 {
      margin: 28px 0px 0px 0px;
      @include font(28px, 36px, 600);
    }
    
    h5 {
      margin: 28px 0px 0px 0px;
      @include font(25px, 33px, 600);
    }
    
    h6 {
      margin: 28px 0px 0px 0px;
      @include font(22px, 30px, 600);
    } */
  
    p {
      margin: 28px 0px 0px 0px;
      /* @include font(16px, 28px, 400); */
    }

    /* ul {
      margin: 28px 0px 0px 0px;
      @include font(16px, 28px, 400);

      li {
        &:before {
          top: 7px;
        }
      }
    }

    ol {
      margin: 28px 0px 0px 17px;
      @include font(16px, 28px, 400);

      li {
        padding: 0px 0px 0px 8px;
      }
    } */
  }
  
	#privacy-policy-info {
    .inner-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

		.descriptiom {
      text-align: left;
      @include font(16px, 22px, 400);
		}
	
		.options {
      text-align: right;
      margin: 0px 0px 0px 0px;
      
      > * {
        height: 49px;
        min-width: 155px;
        text-align: center;
        padding: 14px 20px 0px 20px;
        @include font(18px, 18px, 400);
      }
		}
  }
}