@media all and (min-width: $width-extra) {
  #privacy-policy-info {
    padding: 30px 0px 30px 0px;
	
    .options {
      > * {
        height: 35px;
        padding: 9px 35px 0px 35px;

        + {
          margin: 0px 0px 0px 20px;
        }
      }
    }
  }
}