extends layouts/_layout

block vars
  //- set the page title
  - var pageTitle = "www.winderen.com";
  
block head
  //- put any <head> content specific to this page here

block content
  //- put any page content specific to this page here

  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-background')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-hover')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-background-hover')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-hover button-with-background')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-background-hover button-with-background')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue button-with-background')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue button-with-hover')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue button-with-background-hover')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue button-with-hover button-with-background')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-blue button-with-background-hover button-with-background')
      span(class='button-label') Buy now
  div
    br
    br
    br
    br
    br
    br





  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-with-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-with-background-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-with-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-with-background-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-blue')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-blue button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-blue button-with-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-blue button-with-background-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-blue button-with-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-blue button-with-background-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
    br
    br
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-black')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-black button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-black button-with-blue-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-black button-with-blue-background-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-black button-with-black-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-black button-with-background-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-blue.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
    br
    br
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-orange')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-orange button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-orange button-with-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-orange button-with-background-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-orange.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-orange button-with-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-orange button-with-background-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
    br
    br
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-gray')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-gray.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-gray button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br
  div(style='text-align:center;')
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-gray button-with-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-gray.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-gray button-with-background-hover')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-gray.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-gray button-with-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
    a(href='https://www.winderen.com/pl/shop_offer/' title='TODO' class='button button-with-icon button-gray button-with-background-hover button-with-background')
      span(class='button-icon')
        img(src='images/1px.gif' data-src='images/icons-bag-black.svg' alt='TODO' width='1' height='1' class='lazy-image')
      span(class='button-label') Buy now
  div
    br
    br