extends layouts/_layout

block vars
  //- set the page title
  - var pageTitle = "www.winderen.com | Discover The Products | Gel Bits System";
  
block head
  //- put any <head> content specific to this page here

block content
  //- put any page content specific to this page here
  
  section(id='banner')
    div(class='background')
      div(class='inner-background')
        picture(class='rwd-background rwd-background-overlay lazy-picture')
          source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-desktop.jpg' media='(min-width: 1200px)')
          source(srcset='images/1px.gif' data-srcset='images/banner-discover-the-products-gel-bits-system-tablet.jpg' media='(min-width: 768px)')
          img(src='images/1px.gif' data-src='images/banner-discover-the-products-gel-bits-system-mobile.jpg' alt='TODO')
    div(class='content logo-icon-with-label')
      div(class='logo') 
        img(src='images/1px.gif' data-src='images/logo-gel-bits-system.svg' alt='TODO' width='34' height='48' class='lazy-image')
      h1 Gel Bits System
    //- div(class='scroll-down')
      div(class='text') Scroll To Discover More
      div(class='icon') 
        img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')

  include ./includes/components/gel-bits-system/advantages.pug
  include ./includes/components/gel-bits-system/video.pug
  include ./includes/components/gel-bits-system/designed-especially-for.pug
  include ./includes/components/gel-bits-system/banner-1.pug
  include ./includes/components/gel-bits-system/horse-friendly-bits.pug
  include ./includes/components/gel-bits-system/safe-for-horses.pug
  include ./includes/components/gel-bits-system/banner-2.pug
  include ./includes/components/gel-bits-system/durable-against-destruction-from-chewing.pug
  include ./includes/components/gel-bits-system/gel-bits-system.pug
  include ./includes/components/gel-bits-system/interchangeable-system.pug
  include ./includes/components/gel-bits-system/compliance-with-fei-requirements.pug
  include ./includes/components/gel-bits-system/our-gel-bits-system.pug
  include ./includes/components/gel-bits-system/tested-by-professionals.pug
  include ./includes/components/gel-bits-system/banner-3.pug
  include ./includes/components/gel-bits-system/banner-4.pug