extends layouts/_layout

block vars
  //- set the page title
  - var pageTitle = "www.winderen.com | Friends";
  
block head
  //- put any <head> content specific to this page here

block content
  //- put any page content specific to this page here

  section(id='banner')
    div(class='background')
      div(class='inner-background')
        picture(class='rwd-background rwd-background-overlay lazy-picture')
          source(srcset='images/1px.gif' data-srcset='images/banner-friends-1-desktop.jpg' media='(min-width: 1200px)')
          source(srcset='images/1px.gif' data-srcset='images/banner-friends-1-tablet.jpg' media='(min-width: 768px)')
          img(src='images/1px.gif' data-src='images/banner-friends-1-mobile.jpg' alt='TODO')
    div(class='content logo-icon-with-label')
      div(class='logo') 
        img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
      h1 Winderen friends
  
  include ./includes/components/content-friends-infobox.pug
  include ./includes/components/content-friends.pug