extends layouts/_layout

block vars
  //- set the page title
  - var pageTitle = "www.winderen.com | Discover The Products";
  
block head
  //- put any <head> content specific to this page here

block content
  //- put any page content specific to this page here

  section(id='banner' class='simple instruction')
    div(class='background')
      div(class='inner-background')
        picture(class='rwd-background rwd-background-overlay lazy-picture')
          source(srcset='images/1px.gif' data-srcset='images/instruction-bits-banner-desktop.jpg' media='(min-width: 1200px)')
          source(srcset='images/1px.gif' data-srcset='images/instruction-bits-banner-desktop.jpg' media='(min-width: 768px)')
          img(class='left' src='images/1px.gif' data-src='images/instruction-bits-banner-mobile.jpg' alt='TODO')
    div(class='content logo-icon-with-label')
        div(class='hero')
          div(class='icon')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-book-white.svg' alt='TODO' width='48' height='48' class='lazy-image')
          h1 GEL BITS system
          div(class='logo-icon-with-label')
            div(class='logo') 
              img(src='images/1px.gif' data-src='images/logo-gel-bits-system.svg' alt='TODO' width='34' height='48' class='lazy-image')
          div(class='name') 
            |All Gel Bits System 
            br
            |components are fully compatible


  section(id='videos' class='videos-instruction bits')
    div(class='container')
      div(class='inner-container')
        div(class='header logo-icon-with-label')
          div(class='icon')
            div(class='circular-icon')
              img(src='images/1px.gif' data-src='images/icons-setting-white.svg' alt='TODO' width='48' height='48' class='lazy-image')
          h2
            | BITS ASSEMBLY
            br
            | MANUAL
          div(class='scroll-down')
            div(class='text') Select video to watch
            div(class='icon') 
              img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')
        div(class='all-videos-bits')
          div(class='box')
            div(class='videos')
              div(class='video')
                div(class='iframe')
                  div(class='outer-iframe')
                    div(class='inner-iframe')
                      //- iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
                      iframe(src='https://player.vimeo.com/video/521822138?h=534e34a55f&title=0&byline=0&portrait=0' width='640' height='360' frameborder='0' allow='autoplay; fullscreen; picture-in-picture' allowfullscreen='true')
            div(class='text')
              h3 Gel bits system 
              p Eggbutt




  include ./includes/components/instruction/faq.pug



  section(class='content-simple-banner')
    div(class='background')
      div(class='inner-background')
        picture(class='rwd-background rwd-background-overlay lazy-picture')
          source(srcset='images/1px.gif' data-srcset='images/instruction-bits-above-footer-desktop.jpg' media='(min-width: 1200px)')
          source(srcset='images/1px.gif' data-srcset='images/instruction-bits-above-footer-desktop.jpg' media='(min-width: 768px)')
          img(src='images/1px.gif' data-src='images/instruction-bits-above-footer-mobile.jpg' alt='TODO')