.img-fill {
  max-width: 100%;
  height: auto;
  max-height: 500px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-table {
  display: flex;
  width: 100%;
  margin-bottom: 65px;
}

.icon-table .icon {
  display: table-cell;
  max-width: 85px;
  max-height: 85px;
  margin-right: 40px;
}

.dropdown-content, .dropdown-content-up {
  display: none;
  position: absolute;
  background-color: $black;
  font-weight: 300;
  font-size: 14px;
  z-index: 2;
}

.dropdown-content-right {
  right: 0;
  left: auto;
}

.dropdown.show .dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: auto;
  height: auto;
  text-align: right;
  text-transform: uppercase;
  transform: translateX(-50%);
  left: 50%;

  @media(min-width: $breakpoint-med) {
    transform: initial;
    left: auto;
  }
}

.dropdown.show .dropdown-content-up {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: auto;
  height: auto;
  text-align: right;
  text-transform: uppercase;
  bottom: 30px;
  transform: translateX(0);

  @media(min-width: $breakpoint-med) {
    transform: initial;
    left: auto;
  }
}

.dropdown-content a,
.dropdown-content-up a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 10px;
  width: 100%;
  white-space: nowrap;

  &:hover {
    color: $blue;
  }
}

.dropdown-content button {
  color: white;

  &:hover {
    color: $blue;
  }
}

.dropdown-content-right a {
  justify-content: flex-end;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.button-primary {
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 2px;

  color: $text;
  font-family: $mainFont;
  font-size: 16px;
  font-weight: 600;
  text-align: center;

  &:hover {
    background-color: $blueLight;
  }

  &:disabled, &:disabled:hover {
    cursor: default;
    background-color: $separator;
  }
}


.button-secondary {
  background-color: $shop-sidebar-background;
  border: 0;
  border-radius: 2px;

  color: $text;
  font-family: $mainFont;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: $blueLight;
  }

  &:disabled, &:disabled:hover {
    cursor: default;
    background-color: $separator;
  }
}

.button-transparent {
  border: 1px solid $text;
  background: transparent;
  font-size: 18px;
  font-weight: 300;
}

.button-transparent:hover {
  background: $blueLight;
  color: #fff;
}

.button-rounded {
  border-radius: 2px;
}

.help-button {
  display: inline-block;
  margin-left: 5px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  cursor: pointer;

  background: transparent;
  border: none;
  color: $text;
  font-family: $mainFont;
  font-weight: 600;
  font-size: 18px;
}

.help-button:hover {
  color: $blueLight;
}

.popover-button {
  position: relative;
}

.popover-button:hover .popover-content,
.popover-button:focus .popover-content {
  display: block;
}

.popover-content {
  display: none;
  position: absolute;

  bottom: 20px;
  right: 0;
  width: 350px;

  padding: 5px;

  background: $text;
  color: $black;
  font-family: $mainFont;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid $black;

  @media only screen and (max-width: $breakpoint-med) {
    width: 200px;
    font-size: 12px;
  }
}

.dropdown-notification {
  position: absolute;
  top: -1px;
  right: -1px;
}

.notification {
  min-width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;

  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.notification-white {
  background: $text;
  color: $textDark;
}

.notification-red {
  background: $red;
  color: $text;
}

.table thead {
  border-bottom: 1px solid $text;
}

.table th {
  padding: 10px 0;

  font-size: 16px;
  font-family: $mainFont;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;

  @media only screen and (max-width: $breakpoint-med) {
    font-size: 10px;
  }
}

.table th.right {
  text-align: right;
}

.table th.center {
  text-align: center;
}

.table td {
  padding: 5px;

  font-size: 16px;
  font-family: $mainFont;
  font-weight: 400;
  color: $footerCopy;

  @media only screen and (max-width: $breakpoint-med) {
    font-size: 12px;
  }

  a:link,
  a:visited {
      color: $footerCopy;
  }

  a:hover {
      color: $blue;
  }
}