.shop-creator1-main {

    .col-8 {
        margin-left: 0px !important;
    }

    .shop-creator1-step1 {
        margin-bottom: 1rem;

        li {
            text-align: center;
            display: inline-block;
            padding: 0.5rem;
            border: 1px solid #323232;
            border-radius: 0.25rem;
            margin-right: 1rem;
            transition: all 0.3s linear;
            cursor: pointer;
        }

        li:hover {
            border: 1px solid $blue;
            background-color: #6F6F6F;
            transition: all 0.3s linear;
        }

        .active {
            border: 1px solid $blue;
            background-color: #6F6F6F;
            transition: all 0.3s linear;
        }

        span {
            font-size: 16px;
        }
    }

    .shop-creator1-step2 {
        margin-bottom: 1rem;

        li {
            min-width: 80px;
            text-align: center;
            text-transform: capitalize;
            font-size: 80%;
            display: inline-block;
            padding: 0.5rem;
            border: 1px solid #323232;
            border-radius: 0.25rem;
            margin-right: 0.2rem;
            margin-bottom: 0.5rem;
            transition: all 0.3s linear;
            cursor: pointer;
        }

        li:hover {
            border: 1px solid $blue;
            background-color: #6F6F6F;
            transition: all 0.3s linear;
        }

        .active {
            border: 1px solid $blue;
            background-color: #6F6F6F;
            transition: all 0.3s linear;
        }
    }

    .shop-creator1-haft {
        padding-top: 1rem;

        li {
            display: inline-block;
        }

        .active {
            span {
                background-color: #414141;
                color: #fff;
                transition: all 0.3s linear;
            }
        }

        .shop-creator1-button {
            text-transform: uppercase;
            display: inline;
            border: 1px solid #323232;
            border-radius: 0.25rem;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            transition: all 0.3s linear;
            font-size: 16px;
            cursor: pointer;
        }

        .shop-creator1-button:hover {
            background-color: #414141;
            color: #fff;
            transition: all 0.3s linear;
        }
    }

    .shop_creator1_prev {
        margin: 0;
        margin-top: 1rem;
        text-align: center;
    }

    .shop_creator1_img {
        display: block;
        height: 100%;
        min-height: 700px;
        background: linear-gradient(180deg, #fff 0%, #868686 100%);

        img {
            position: absolute;
            top: 0px;
            left: 0px;
        }

        #shop_creator1_img1 {
            z-index: 1;
        }

        #shop_creator1_img2 {
            z-index: 2;
        }

        #shop_creator1_img3 {
            z-index: 3;
        }

        #shop_creator1_img4 {
            z-index: 4;
        }

        #shop_creator1_img5 {
            z-index: 5;
        }
    }


}

.shop-creator1-cart {
    .shop-cart-ilosc {
        margin-left: auto;
        max-width: 150px !important;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 140%;
        font-weight: 300;
        margin-top: 0px !important;
    }


}

.shop-creator1-sumary {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 90%;
}