.partnership-content {
    margin-bottom: 60px;
}

.partnership-promo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $footerBackground;
    padding: 30px;
}

.partnership-promo small {
    font-size: 14px;
    font-weight: 400;
    color: #888;
}

@media(min-width: $breakpoint-med) {
    .row [class^="col"].partnership-promo-code {
        float: none;
        margin-left: auto;
        margin-right: 15px;
    }

    .row [class^="col"].partnership-promo-link {
        float: none;
        margin-left: 15px;
        margin-right: auto;
        padding-bottom: 50px;
    }
}

.partnership-promo input[type=text] {
    padding: 4px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: $text;
    background-color: $separator;
    border: 0;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.partnership-promo-code-value {
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: $mainFont;
    font-size: 30px;
    font-weight: 300;
}

.partnership-promo-how-to {
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 300;

    &:hover {
        color: $blue;
    }
}

.partnership-promo-link {
    justify-content: center;
}

.partnership-promo-link-description {
    margin-bottom: 30px;
}

.partnership-features {
    padding: 40px 20px 0 20px;
    border: 1px solid $blue;
}

.partnership-features legend {
    padding: 0 10px;

    text-align: center;
    font-size: 24px;
    font-family: $mainFont;
    font-weight: 400;
    color: $textLight;
}

.partnership-features .icon-table {
    margin-bottom: 40px;
}

.partnership-showcase {
    background-color: $footerBackground;

    padding: 20px;
}

.partnership-showcase-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.partnership-showcase-name {
    text-transform: uppercase;
}

.partnership-showcase p.partnership-showcase-detail {
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.partnership-showcase p.partnership-showcase-detail-space-top {
    margin-top: 10px;
}

.partnership-showcase p.partnership-showcase-detail.partnership-showcase-detail-highlight {
    color: $blue;
}

.partnership-section-row .partnership-summary-points {
    color: $blue;
}

.page-content .partnership-section-row h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text;
}

.partnership-showcase-image {
    width: 200px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.partnership-section-row {
    margin-top: 60px;
    margin-bottom: 15px;
}

.partnership-section-row h3.partnership-section-row-header {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 24px;

    margin-bottom: 30px;
}

.partnership-section-partner .row {
    background: $welcomeDetailsLight url('../img/partnership/cytat.png') 97% 90% no-repeat;

    strong {
        color: $blue;
    }

    p {
        margin: 1rem;
    }
}

.partnership-section-partner .row [class^="col"] {
    margin: 0rem;
}

.partnership-top-menu {
    margin-bottom: 3rem;
}

.partnership-top-menu h1 {
    font-size: 30px;
}

.partnership-top-menu .partnership-top-menu-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;

    .active {
        color: $blue;
        font-weight: 600;
    }
    .partnership-contest {
        color:#FEB50A;
    }

    @media(min-width: $breakpoint-med) {
        font-size: 18px;
        flex-direction: row;
    }
}
.partnership-contest-points {
    padding-top: 2rem;
    color:#FEB50A;
}


.row-partnership-description-header {
    margin-top: 60px;
    margin-bottom: 120px;
}

.row-partnership-description-testimonial {
    background-color: $footerBackground;
}

.row [class^="col"].row-partnership-description-testimonial-photo {
    min-height: 300px;
    margin: 0;

    background-image: url(/templates/1/img/partnership/testimonial.jpg);
    background-position: center center;
    background-size: cover;
}

.partnership-description-testimonial-name {
    color: $blue;
}

@media(min-width: $breakpoint-med) {
    .partnership-signup {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.partnership-signup-social {
    width: 100%;

    i {
        line-height: 120%;
        font-size: 200%;
        text-align: center;
        color: #fff;
    }
}

.partnership-signup-option-field label {
    display: block;
}

.partnership-signup-option-field input[type=checkbox] {
    margin-right: 10px;
    margin-top: -3px;
    vertical-align: middle;
}

.partnership-signup-option-field input[type=checkbox]:after {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $separator;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid $text;
}

.partnership-signup-option-field input[type=checkbox]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $blue;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid $text;
}

.partnership-signup-section.hidden {
    display: none;
}

.partnership-faq-content {
    padding-bottom: 2.5rem;
}

.partnership-faq-content h3 {
    font-size: 24px;
    color: #DBDBDB;
    font-weight: 400;
}

.partnership-faq-content a {
    color: $blue;
}

.partnership-faq-content p {
    font-size: 16px;
    color: #888;
    font-weight: 400;
}

.partnership-faq-content strong {
    font-size: 20px;
    color: #DBDBDB;
    font-weight: 600;
}

.partnership-faq-content {

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-c3ow {
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
}