// Cart content and common

.reviews-header {
    text-align: center;
    font-size: 100%;
    margin: 1rem;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    background: $contentBackground;

    @media only screen and (min-width: $breakpoint-med) {
        margin: 40px auto;
    }
}

.reviews-items {
    padding: 0;
}

.reviews-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #282828;
    border: 1px solid #555;

    @media only screen and (min-width: $breakpoint-med) {
        flex-wrap: nowrap;
    }
}

.reviews-item-name {
    color: $text;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}


.reviews-item-textarea {

    textarea {
        width: 100%;
        border: 1px solid #424344;
        background: #424344;
        padding: 0.5rem;

        color: $text;
        font-family: $mainFont;
        font-size: 14px;
        font-weight: 600;
    }
}

.reviews-item-button {
    margin-bottom: 15px;
    text-align: center;

    @media only screen and(min-width: $breakpoint-med) {
        text-align: right;
    }

    .flag-icon {
        transform: scale(1.3);
        margin-right: 0.5rem;
    }

    input {
        width: 75%;
        border: 1px solid #424344;
        background: #424344;
        padding: 0.7rem;
        margin-bottom: 0.5rem;

        color: $text;
        font-family: $mainFont;
        font-size: 14px;
        font-weight: 600;

        @media only screen and(min-width: $breakpoint-med) {
            width: 20%;
        }
    }
}

.reviews-msg {
    padding: 0.5rem;
}

.reviews-item-date {
    font-size: 14px;
    color: #999;
    font-weight: 400;
}

.reviews-item-picture-container {
    margin: 20px;
    width: 100%;

    @media only screen and(min-width: $breakpoint-med) {
        width: 90%;
        max-width: 200px;
        width: 25%;
    }
}

.reviews-item-picture-container img {
    width: 100%;
    height: auto;
}

.reviews-item-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;

    @media only screen and (min-width: $breakpoint-med) {
        text-align: left;
    }
}

.reviews-item-rate {
    min-width: 150px;
    text-align: center;
    font-size: 200%;
    padding: 1.5rem;

    @media only screen and (min-width: $breakpoint-med) {}

    .rate-base-layer {
        color: #aaa;
    }

    .rate-hover-layer {
        color: #F0B209;
    }
}

.reviews-content {
    .reviews-menu {
        padding-bottom: 2rem;
        padding-top: 2rem;
        font-size: 16px;


        li {
            display: inline-block;
            padding-bottom: 15px;

            a {
                color: $text;
                padding: 0.5rem;
                font-size: 100%;
                text-transform: uppercase;
            }

            .active {
                color: $blueLight;
                border-bottom: 2px solid $blueLight;
            }
        }

        padding-bottom: 2rem;
    }

    .reviews-item {
        padding: 25px;
        margin-bottom: 1rem;
        text-align: justify;
        font-weight: 300;
        font-size: 18px;

        @media only screen and(max-width: $breakpoint-med) {
            font-size: 15px;
        }

        h3 {
            padding-bottom: 1rem;
        }

        .reviews-item-image {
            text-align: center;
        }

        .reviews-item-image img {
            max-width: 220px;
            height: auto;
        }

        .reviews-item-author {
            margin-top: 1rem;
            text-align: right;

            span {
                margin-left: 0.5rem;
            }
        }

        .reviews-item-stars {
            width: 100%;
            text-align: center;
        }

        .reviews-item-stars5 {
            display: inline-block;
            width: 100px;
            height: 30px;
            background-size: 100px;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url('../img/reviews/stars.png');
        }
    }
}


/* Inny wyglad jak na stronie produktu - pierdolnik */
.shop-item-section {
    .reviews-item {
        .col-6 {
            width: 50%;
            margin: 0px;
        }

        .reviews-item-stars {
            margin-top: 1rem;
            text-align: left;
        }
    }
}