.shop-home-products2 {
    position: relative;

    a {
        display: block;
    }

    a:hover {
        picture img {
            filter: brightness(1.1);
            transition: 0.2s all linear;
        }
    }

    picture {
        display: block;

        img {
            width: 100%;
            height: auto;
            transition: 0.2s all linear;
            background-color: #E0E0E0;
        }
    }

    .shop-home-products2-block {
        width: 49.3%;
        float: left;
        margin: 0.25rem;
        margin-bottom: 0rem;

        @media only screen and (max-width: $breakpoint-med) {
            width: 100%;
            height: auto;
        }
    }

    .shop-home-products2-info {
        text-align: left;
        position: absolute;
        left: 2rem;
        bottom: 10%;

        @media only screen and (max-width: $breakpoint-med) {
            width: 80%;
            top: auto;
            bottom: 1rem;
        }

        h3 {
            color: #000;
            font-weight: 300;
            font-size: 30px;
            margin-bottom: 12px;
            line-height: 33px;

            @media only screen and (max-width: $breakpoint-med) {
                font-size: 25px;
                line-height: 20px;
                margin-right: 5px;
                margin-bottom: 12px;
            }
        }
    }

    .shop-home-products2-button {
        font-size: 14px;
        text-transform: uppercase;
        display: inline;
        color: #000;
        border: 1px solid #000;
        padding: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: all 0.3s linear;

        @media only screen and (max-width: $breakpoint-med) {
            text-align: center;
            display: block;
            width: 100%;
        }
    }

    .shop-home-products2-button:hover {
        background-color: #0290c1;
        color: #fff;
        transition: all 0.3s linear;
        border: 1px solid #0290c1;
    }

}


.shop-home-sport {

    .row {
        margin: 0px;
        width: 100%;
    }

    .col-6 {
        margin: 0px;
        width: 49.0%;
        color: #000;
        overflow: hidden;

        @media only screen and (max-width: $breakpoint-med) {
            width: auto;
        }

        h4,
        h5,
        p {
            color: #000;
        }

        p {
            font-size: 80%;
        }

    }

    .shop-home-sport-button {
        text-transform: uppercase;
        display: inline;
        border: 1px solid #b7b7b7;
        padding: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: all 0.3s linear;
        font-size: 16px;
        color: #000;
    }

    .shop-home-sport-button:hover {
        background-color: $blue;
        color: #fff;
        transition: all 0.3s linear;
    }

    .shop-home-sport-box {
        padding: 1rem;
    }

    .shop-home-sport-white {
        background-color: #fff;
        background: linear-gradient(180deg, #fff 0%, #C1C1C1 100%);
    }

    .shop-home-sport-img {}
}




.shop-home-container {

    .welcome-details-img {
        max-height: 140px;
        width: auto;

        @media only screen and (max-width: $breakpoint-med) {
            height: 100px;
            width: auto;
        }
    }

    .welcome-wiedza {
        margin-top: 1rem;
        background-color: #101618;
        background-image: url('../img/welcome2/home_5.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        height: 400px;

        .col-l {
            margin: 0px;
            padding: 2rem;
            background-color: rgba($color: #000000, $alpha: 0.7);
            width: 50%;
            height: 400px;

            @media only screen and (max-width: $breakpoint-med) {
                width: 100%;
            }
        }

        .col-r {
            margin: 0px;
            padding: 0px;
            width: 50%;
        }

        @media only screen and (max-width: $breakpoint-med) {
            background-image: url('../img/welcome2/home_5.mobi.jpg');
            object-fit: cover;
            background-size: cover;
        }
    }
}













.shop-offer-worldwide-shipping {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    color: $text;
    font-size: 12px;
    font-family: $mainFont;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;

    @media(min-width: $breakpoint-med) {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: row;
        font-size: 16px;
    }
}

.shop-offer-worldwide-shipping i {
    margin-right: 10px;
}

.shop-offer-container {
    display: flex;
    flex-direction: column;
    padding: 0px;

    min-height: 40vh;
    margin-bottom: 45px;

    background: $contentBackground;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.shop-offer-content {
    width: 100%;

    h1 {
        padding-top: 1rem;
        font-size: 32px;
        line-height: 32px;
    }

    .shop-offer-header-info {
        padding: 2rem;
        font-size: 16px;
        font-weight: 300;
    }
}

.shop-offer-header {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: $mainFont;

    @media(min-width: $breakpoint-med) {
        display: none;
        flex-direction: row;
        justify-content: space-between;
    }

    &-guide {
        display: flex;
        align-items: center;
    }
}

.shop-offer-header-guide {
    display: none;

    @media(min-width: $breakpoint-med) {
        display: flex;
    }
}

.shop-offer-mobile-guide {
    display: flex;
    margin: 20px auto;
    padding: 0 20px;
    align-items: center;
    justify-content: center;

    p {
        display: inline-block;
    }

    @media(min-width: $breakpoint-med) {
        /*display: none;*/
    }
}

@media(min-width: $breakpoint-med) {
    .shop-offer-header-text {
        margin-left: auto;
        margin-right: 0;
    }

    .shop-offer-header-button {
        margin-left: 15px;
    }
}

@media(max-width: $breakpoint-med) {
    .shop-offer-header-button {
        margin-top: 15px;
    }
}

.shop-offer-menu {
    button {
        background-color: transparent;
        border: none;
        color: $text;
        display: block;
        font-family: $mainFont;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        outline: none;
        padding: 10px 20px;

        @media only screen and (min-width: $breakpoint-med) {
            font-size: 20px;
            line-height: 32px;
        }
    }

    button:hover {
        background: $blue;
    }
}

.shop-offer-menu div.shop-offer-menu-category {

    a:link,
    a:visited {
        background: $welcomeProductsBackground;
    }

    a:hover {
        background: $blue;
    }
}

.shop-offer-menu-secondary {
    padding-top: 0;
    padding-bottom: 35px;
    padding-left: 20px;
}

.shop-offer-menu-secondary div {

    a:link,
    a:visited {
        color: $text;
        font-size: 14px;
        font-family: $mainFont;
        font-weight: 300;
    }

    i {
        margin-right: 5px;
    }

    a:hover {
        background: $blue;
    }

}

.shop-offer-menu div.active a {
    background: $blue;
}

/* Zmiana jezyka / kraju dostawy */
.country-select {
    .country-select-label {
        display: inline-block;
        font-size: 100%;
    }

    .country-select-menu {
        display: inline-block;
    }
}


.shop-offer-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(180deg, #fff 0%, #C1C1C1 100%);
}

.shop-offer-products-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.shop-offer-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #fff 0%, #939393 100%);
    transition: 0.2s all linear;

    @media only screen and (min-width: $breakpoint-med) {
        width: 396px;
        max-height: 400px;
        margin: 2px;
        /*margin-left: 15px;*/
    }
}

.shop-offer-product:hover {
    filter: brightness(1.1);
    transition: 0.2s all linear;
}

.shop-offer-product-image-container {
    margin: auto 15px;

    img {
        width: 100%;
        height: auto;
    }
}

.shop-offer-product-image {
    width: 100%;
}

.shop-offer-product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    justify-self: flex-end;
    padding: 15px;
    min-height: 96px;
    /*background: $welcomeProductsBackground;*/
    background: #e7e7e7;
}

.shop-offer-product-name {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    /*
    color: $text;
    font-size: 16px;
    font-weight: 500;
    */
    font-family: $mainFont;


    align-self: flex-start;
    margin-left: 0;
    margin-right: auto;
    min-height: 50px;
    line-height: 22px;
}

.shop-offer-product-price {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    /*
    color: #cfcfcf;
    font-size: 16px;
    font-weight: 300;
    */
    font-family: $mainFont;
}

.shop-offer-pagination {
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    @media only screen and (min-width: $breakpoint-med) {
        width: 82%;
    }
}

.shop-offer-pagination li a:link,
.shop-offer-pagination li a:visited {
    display: block;
    padding: 5px 10px;
    margin-left: 5px;
    color: $text;
    text-decoration: none;
}

.shop-offer-pagination li a:hover,
.shop-offer-pagination li.active a:link,
.shop-offer-pagination li.active a:visited {
    background: $blue;
    color: $text;
    text-decoration: none;
}

.shop-offer-menu-subcategory-system {
    display: none;
}

.shop-offer-menu-subcategory.system .shop-offer-menu-subcategory-system {
    display: inline;
}


.shop-offer-menu-secondary li.configurator {

    a:link,
    a:visited {
        font-weight: 600;
        color: $orange;
    }

    .shop-offer-menu-subcategory-system {
        display: inline;
    }
}

.button-prev,
.button-next {
    display: block;
    position: absolute;
    transform: translateY(50%);
    z-index: 10;
    top: 75px;
    transform: translateY(-50%);

    @media only screen and (min-width: $breakpoint-med) {
        display: none;
    }
}

.button-next {
    right: 5px;
}

.button-prev {
    left: 5px;
}

@-moz-document url-prefix() {
    .shop-offer-submenu-options {
        scrollbar-width: none;
    }
}

.shop-offer-submenu-options {
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: $text;
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
    position: relative;
    width: 100%;
    height: 150px;
    z-index: 0;

    @media only screen and (min-width: $breakpoint-med) {}

    @media only screen and (min-width: $breakpoint-large) {
        /*display: none;*/
    }

    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px;
    }

    .shop-offer-submenu-option {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        /*min-width: 120px;*/
        max-width: 150px;
        margin: 0 5px;

        a:hover {
            color: #0290c1;
        }
    }

    .shop-offer-submenu-option>a {
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
        font-size: 12px;
        line-height: 16px;
        max-height: 100%;
        font-weight: 300;
        height: 100%;
        text-transform: uppercase;
        float: left;
        padding: 0 0 0 20px;
        text-align: center;
        align-items: center;
        justify-content: center;

        img {
            height: 60px;
            width: auto;
            margin: 0px 0px 10px;
            max-height: 60px;
        }

        &.active {
            border-bottom: 2px solid $blue;
        }
    }
}