.shop-item-gel-bits-container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 40px 0;
}

.shop-item-gel-bits-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background-color: $separator;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;

        padding: 30px 50px;
    }
}

.shop-item-gel-bits-header p {
    margin-bottom: 15px;

    font-size: 14px;
    font-weight: 300;
    font-family: $mainFont;
    text-align: center;

    @media(min-width: $breakpoint-med) {
        margin-bottom: 0;
        text-align: left;
    }
}

.shop-item-gel-bits-configurator-top {
    display: flex;
    flex-direction: column;

    background: $contentBackground;
}

.shop-item-gel-bits-configurator-header {
    font-size: 16px;
    font-weight: 600;
    font-family: $mainFont;
    text-align: center;

    @media(min-width: $breakpoint-med) {
        display: none;
    }
}

.shop-item-gel-bits-configurator-top-options {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.shop-item-gel-bits-configurator-top-option {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0;

    opacity: 0.5;
    cursor: pointer;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 600;
    color: $text;
    text-align: center;

    @media(min-width: $breakpoint-med) {
        width: 20%;
    }

    &:hover {
        opacity: 1;
        color: $blue;
    }

    &.active {
        opacity: 1;
        color: $blue;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.shop-item-gel-bits-configurator-top-option.shop-item-gel-bits-configurator-option-sizes-available,
.shop-item-gel-bits-configurator-left-option.shop-item-gel-bits-configurator-option-sizes-available {
    cursor: default;
}

.shop-item-gel-bits-configurator-top-option img {
    margin-bottom: 10px;
}

.shop-item-gel-bits-configurator-sizes {
    display: flex;

    margin-top: 10px;

    border: 1px solid $separator;
}

.shop-item-gel-bits-configurator-size {
    padding: 2px 3px;

    text-align: center;
    color: $separator;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;

    &.active,
    &:hover {
        color: $contentBackground;
        background-color: $blue;
    }
}

.shop-item-gel-bits-configurator-size:not(:last-child) {
    border-right: 1px solid $separator;
}

.shop-item-gel-bits-body {
    display: flex;
    flex-direction: column;

    width: 100%;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.shop-item-gel-bits-configurator-left {
    width: 100%;
    padding: 15px 30px;

    background: $contentBackground;

    @media(min-width: $breakpoint-med) {
        width: 45%;
        padding: 30px 50px;
    }
}

.shop-item-gel-bits-configurator-left-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.shop-item-gel-bits-configurator-left-option {
    display: flex;
    align-items: center;

    opacity: 0.5;
    width: 65%;

    font-weight: 600;

    cursor: pointer;

    @media(min-width: $breakpoint-med) {
        margin-right: 15px;
        margin-bottom: 5px;
        width: 45%;
    }

    &:hover {
        color: $blue;
        opacity: 1;
    }

    &.active {
        color: $blue;
        opacity: 1;
    }

    img {
        max-width: 70px;
        height: auto;
    }
}

.shop-item-gel-bits-configurator-left-option-name {
    display: flex;
    flex-direction: column;
}

.shop-item-gel-bits-configurator-left-option img {
    margin-right: 15px;
}

.shop-item-gel-bits-preview-container {
    width: 100%;
    min-height: 300px;

    background: $separator;

    @media only screen and (min-width: $breakpoint-med) {
        width: 55%;
    }
}

.shop-item-gel-bits-preview-container .shop-item-preview {
    padding: 20px;
}

.shop-item-picture-container.shop-item-gel-bits-picture-container {
    width: 100%;
    height: 100%;
}

.shop-item-gel-bits-footer {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 15px;

    background: $contentBackground;

    @media(min-width: $breakpoint-med) {
        justify-content: space-between;
        flex-direction: row;

        padding: 30px;
    }
}

.shop-item-gel-bits-configurator-summary {
    display: flex;
    flex-direction: column;

    width: 100%;

    @media(min-width: $breakpoint-med) {
        width: 40%;
    }
}

.shop-item-gel-bits-configurator-summary-selection {
    margin-bottom: 5px;

    font-size: 20px;
    font-weight: 600;
    font-family: $mainFont;
}

.shop-item-gel-bits-configurator-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;

        justify-self: flex-end;
        margin-top: auto;
    }
}

.shop-item-gel-bits-configurator-links li {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;

    @media(min-width: $breakpoint-med) {
        margin-right: 15px;
    }
}

.shop-item-gel-bits-configurator-links-name,
.shop-item-gel-bits-configurator-links-link {
    font-size: 14px;
    font-weight: 600;
    font-family: $mainFont;
}

a.shop-item-gel-bits-configurator-links-link:link,
a.shop-item-gel-bits-configurator-links-link:visited {
    color: $blue;
}

a.shop-item-gel-bits-configurator-links-link:hover {
    color: $blue;
    text-decoration: underline;
}

.shop-item-gel-bits-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;

    background: $contentBackground;

    @media(min-width: $breakpoint-med) {
        width: 60%;
    }

    .shop-item-price-tax {
        margin-top: 0;
    }

    .shop-item-price{
        margin-top: 0;
    }

    .shop-item-additional-info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;

        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;

        @media(min-width: $breakpoint-med) {
        }
    }

    .shop-item-additional-info {
        width: auto;
        margin-left: 15px;

        color: $footerCopy;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 300;
        text-align: center;

        @media only screen and (min-width: $breakpoint-med) {
            width: auto;
            text-align: right;
        }
    }
}