section(id='technology-advantages' class='items-4')
  div(class='container')
    div(class='inner-container')
      div(class='content')
        div(class='item')
          div(class='icon-wrapper')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Durable upper material
        div(class='item')
          div(class='icon-wrapper')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Felt fill
        div(class='item')
          div(class='icon-wrapper')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Embossed 100% cotton
        div(class='item')
          div(class='icon-wrapper')
            span(class='icon circular-icon') 
              img(src='images/1px.gif' data-src='images/icons-bulb.svg' alt='TODO' width='48' height='48' class='lazy-image')
          div(class='name') Perfect look after every machine wash