section(id='technology-banner-1' class='content-simple-banner')
  div(class='background')
    div(class='inner-background')
      picture(class='rwd-background rwd-background-overlay lazy-picture')
        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-desktop.jpg' media='(min-width: 1200px)')
        //-source(srcset='images/1px.gif' data-srcset='images/banner-homepage-1-tablet.jpg' media='(min-width: 768px)')
        img(src='images/1px.gif' data-src='images/banner-mini-discover-the-products-saddle-pads-1.jpg' alt='TODO')