section(id='perfect-shape' class='video-with-description')
  div(class='container')
    div(class='inner-container')
      div(class='header logo-icon-with-label')
        div(class='logo')
          img(src='images/1px.gif' data-src='images/logo-only-icon.svg' alt='TODO' width='34' height='48' class='lazy-image')
        //- div(class='label') 
        h2
          | The shape is perfectly matched to Winderen
          br
          | Back Protect Solution Saddle Half Pads.
      div(class='content')
        div(class='inner-content') Anatomic Top Line products are made of the finest materials and threads. Thanks to the use of natural felt and embossed 100% cotton, this saddle pad has excellent thermoregulation properties. Areas exposed to abrasions are given additional reinforcements to keep the saddle pad looking good, even in heavy use. In addition, the materials used for Anatomic Top Line are machine washable, and the saddle pad won’t shrink or lose its shape even after multiple washings.
      //- div(class='video')
        div(class='iframe')
          div(class='outer-iframe')
            div(class='inner-iframe')
              //- iframe(width='560' height='315' src='https://www.youtube.com/embed/GJCBlkSg0P4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
              iframe(src='https://player.vimeo.com/video/521819409?h=3536accda4&title=0&byline=0&portrait=0' width='640' height='360' frameborder='0' allow='autoplay; fullscreen; picture-in-picture' allowfullscreen='true')
      //- div(class='content')
        div(class='inner-content') The concern of a solid and unchangeable foot position in the stirrup is faced by many riders. During our researches, it turned out that in most cases stirrups move or fall out because of micromovements in the rigid connection point of stirrup leather with the stirrup. Our absorber-system, to a large extent, prevents that phenomenon, allowing the riders to feel a stable and comfortable leg position while jumping over fences and also during flat work. Simultaneously our stirrups significantly reduce the risk of shifting or losing a stirrup, leading to the loss balance often caused by stiff stirrups.
      div(class='scroll-down')
        div(class='text') Scroll To Discover More
        div(class='icon') 
          img(src='images/1px.gif' data-src='images/icons-scroll-down.svg' alt='TODO' width='20' height='20' class='lazy-image')