@font-face {
  font-family: 'GT-America-Standard-Regular-Trial';
  src: url('../fonts/GTAmerica/GT-America-Standard-Regular-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT-America-Standard-Medium-Trial';
  src: url('../fonts/GTAmerica/GT-America-Standard-Medium-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT-America-Compressed-Regular-Trial';
  src: url('../fonts/GTAmerica/GT-America-Compressed-Regular-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT-America-Compressed-Medium-Trial';
  src: url('../fonts/GTAmerica/GT-America-Compressed-Medium-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT-America-Compressed-Bold-Trial';
  src: url('../fonts/GTAmerica/GT-America-Compressed-Bold-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT-America-Condensed-Medium-Trial';
  src: url('../fonts/GTAmerica/GT-America-Condensed-Medium-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'GT-America-Compressed-Bold-Trial';
  src: url('../fonts/GTAmerica/GT-America-Compressed-Bold-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'GT-America-Extended-Regular-Trial';
  src: url('../fonts/GTAmerica/GT-America-Extended-Regular-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT-America-Extended-Medium-Trial';
  src: url('../fonts/GTAmerica/GT-America-Extended-Medium-Trial.woff2') format('woff2');
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}