$contact-body-width: 630px;

.contact-container {
    display: flex;
    flex-direction: column;
    background-color: $welcomeDetailsDark;

    button {
        max-width: 362px;
        max-height: 80px;
    }
}

.contact-header {
    text-align: center;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 2px solid $separator;
    font-size: 30px;
    font-weight: 300;
    font-family: $mainFont;

    @media only screen and (min-width: $breakpoint-med) {
        display: block;
        padding: 20px 10px;
    }
}

.contact-body-container {
    display: flex;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: $breakpoint-med) {
        padding: 0 10px;
    }
}

.contact-body {
    display: flex;
    flex-wrap: wrap;

    max-width: $contact-body-width;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;

    @media only screen and (max-width: $breakpoint-med) {
        text-align: center;
        padding: 20px 0;
    }
}

.contact-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;

    img {
        height: auto;
        max-width: 100%;
    }

    object {
        height: auto;
        max-width: 100%;

        @media only screen and (min-width: $breakpoint-med) {
            max-width: $contact-body-width;
        }
    }
}

.contact-body h2 {
    font-size: 24px;
    font-family: $mainFont;
    font-weight: 600;
}

.contact-body-column {
    width: 100%;

    h2 {
        color: $color-main;
    }

    .contact-body-heading {
        padding: 10px;
    }

    .job-title {
        text-transform: uppercase;
        color: #888;
        font-weight: 100;
    }

    .profile-image {
        border-radius: 50%;
        max-width: 176px;
        max-height: 176px;
    }

    @media(min-width: $breakpoint-med) {
        width: 50%;
    }
}

.contact-form-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.contact-lines {
    width: 100%;

    @media only screen and (min-width: $breakpoint-med) {
        max-width: 270px;
    }
}

.contact-lines li {
    padding: 10px 10px 10px 0;
    font-size: 16px;
    font-family: $mainFont;
    font-weight: 300;
}

.contact-lines li:not(:last-child) {
    border-bottom: 1px solid $separator;
}

.contact-lines li.lead {
    font-size: 20px;
}

.contact-lines-wa {
    display: block;

    @media only screen and (min-width: $breakpoint-med) {
        display: none;
    }
}

.contact-help-container-title {
    text-align: center;
}

.contact-help-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: center;

    @media only screen and (min-width: $breakpoint-med) {
        margin: 0 15px 15px;
    }

    .contact-help-tile {
        align-items: center;
        background-color: $separator;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 140px;
        height: 140px;
        margin: 5px;

        @media only screen and (min-width: $breakpoint-med) {
            width: 160px;
            height: 160px;
        }

        object {
            width: 66px;
            height: 66px;
            pointer-events: none;

            @media only screen and (min-width: $breakpoint-med) {
                width: 50px;
                height: 50px;
            }
        }
    }

    .contact-help-tile-label {
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }

    &-title {
        margin: 20px 20px 20px 60px;
    }
}

.link-button-container {
    display: flex;
    justify-content: center;
    margin: 20px;

    button {
        font-weight: 100;
    }
}