.with-border>.payment-and-help-box-container {
    border-top: 1px solid $productBackground;
}

.payment-and-help-box-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px 15px;
    min-height: 210px;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.payment-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint-med) {
        margin: 20px 10px 20px 0;
    }

    .payment-item {
        display: flex;
        flex-direction: column;
        background-color: $welcomeDetailsLight;
        padding: 20px;

        @media only screen and (min-width: $breakpoint-med) {
            /*height: 100px;*/
            flex-direction: row;
        }

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        &-content {
            display: flex;
            margin-right: 10px;
        }

        &-title {
            align-items: center;
            color: $textLight;
            display: flex;
            flex: 1;
            text-transform: uppercase;
            font-size: 16px;

            @media only screen and (min-width: $breakpoint-med) {
                max-width: 150px;
                min-width: 150px;
            }
        }

        &-text {
            align-items: center;
            display: flex;
            text-transform: uppercase;
            margin-left: 10px;

            @media only screen and (min-width: $breakpoint-med) {
                flex: 1;
                min-width: 60px;
            }
        }

        &-image {
            align-items: center;
            display: flex;
            flex: 2;
            margin-top: 10px;

            @media only screen and (min-width: $breakpoint-med) {
                margin-top: 0;
            }

            img {
                max-width: 100%;
                max-height: 40px;
            }
        }

        &-image-small {
            align-items: center;
            display: flex;
            justify-content: center;

            @media only screen and (min-width: $breakpoint-med) {
                flex: 1;
            }

            img {
                max-height: 50px;
            }
        }
    }
}

.help-box-container {
    max-width: 50%;
    align-items: center;
    background-color: $welcomeDetailsLight;
    /*
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    */
    margin: 10px 0;
    padding: 20px;

    @media only screen and (max-width: $breakpoint-med) {
        max-width: 100%;
    }

    @media only screen and (min-width: $breakpoint-med) {
        margin: 20px 0 20px 10px;
        padding: 0;
    }

    .col-l {
        text-align: center;
    }

    h3 {
        text-align: right;
        padding: 10px 10px 0 10px;

        @media only screen and (max-width: $breakpoint-med) {
            text-align: center;
        }

        span {
            font-size: 70%;
            color: #999;
        }
    }

    .help-box-name {
        padding: 0 10px;
        text-align: right;
    }

    .help-box-profile-image {
        width: 100%;
        max-width: 200px;
        height: auto;

        @media only screen and (min-width: $breakpoint-med) {
            /*
            width: 300px;
            height: auto;
            */
        }
    }

    .contact-lines {
        width: 100%;

        @media only screen and (min-width: $breakpoint-med) {
            max-width: 270px;
        }
    }

    .help-box-contact-lines {
        position: relative;
        text-align: end;

        a {
            color: $textLight;
        }

        li {
            padding: 10px;
            color: $textLight;
            font-size: 16px;
            font-family: $mainFont;
            font-weight: 300;

            @media only screen and (max-width: $breakpoint-med) {
                text-align: center;
            }
        }

        li:not(:last-child) {
            border-bottom: 1px solid $textLight;
        }

        li.lead {
            font-size: 20px;
        }
    }
}