.profile-order-details-row {

    .col-name {
        margin-left: 0px;
        padding-left: 0px;
        color: #A1A1A1;
        text-transform: uppercase;
    }

    .col-value {
        margin-left: 0px;
        padding-left: 0px;
        font-weight: 600;
    }
}


.profile-container-offset {
    padding-top: 30px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    background-color: $welcomeDetailsDark;
}

.profile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;
    width: 100%;

    background-color: $welcomeProductsBackground;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.profile-header {
    width: 100%;
    font-size: 26px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    background: #151515;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 28px;
    text-align: center;

    &.page-header-light {
        background-color: $welcomeProductsBackground;
    }

    @media only screen and (max-width: $breakpoint-med) {
        font-size: 22px;
    }
}

.profile-menu li {
    padding: 10px 0;

    font-size: 16px;

    @media(min-width: $breakpoint-med) {
        padding: 25px 0;
    }
}

.profile-menu li a:link.active,
.profile-menu li a:hover,
.profile-menu li a:visited.active {
    color: $blue;
}

.profile-body-row {
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (max-width: $breakpoint-med) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.profile-body-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;

    @media(min-width: $breakpoint-med) {
        padding: 0;
    }

    h3 {
        text-align: center;
        margin-bottom: 5px;

        @media only screen and (max-width: $breakpoint-med) {
            text-align: center;
            margin-bottom: 0px;
            font-size: 120%;
        }
    }

    .profile-login-body p {
        line-height: 30px;
        font-size: 18px;
        text-align: center;
        padding-top: 25px;

        @media only screen and (max-width: $breakpoint-med) {
            line-height: 30px;
            font-size: 18px;
            text-align: center;
            padding: 10px;
        }
    }

    .profile-login-body li {
        margin-left: 0rem;
        list-style: none;
    }

    .profile-login-body {
        padding: 20px 0;

        @media only screen and (max-width: $breakpoint-med) {
            padding: 5px 0 5px 0;
        }
    }

    .accountinfo li {
        line-height: 250%;
        text-transform: uppercase;

        @media only screen and (max-width: $breakpoint-med) {
            line-height: 180%;
            text-transform: uppercase;
            text-align: center;
            font-size: 80%;
        }
    }

    .accountinfo li:before {
        content: "\2714\0020";
        margin-right: 0.5rem;
    }
}

.bg-grey {
    background: #303132;
}

.profile-body {
    max-width: 630px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
}

.profile-body h1 {
    padding: 10px;
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 600;

    @media only screen and (max-width: $breakpoint-med) {
        text-align: center;
    }
}

.profile-body.profile-body-narrow {
    max-width: 400px;
}

.profile-body.profile-body-wide {
    max-width: 900px;
}

.profile-edit-section {
    margin-bottom: 30px;
}

.profile-actions {
    display: flex;

    width: 100%;
    padding: 10px;
}

.profile-actions-save {
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.profile-actions-button-fill {
    margin-top: 20px;
    width: 100%;
    white-space: normal;
}

.profile-login-body {
    max-width: 400px;
}

.profile-login-body-text {
    margin-left: 10px;
    margin-bottom: 10px;

    @media only screen and (max-width: $breakpoint-med) {
        text-align: center;
    }
}

.profile-newsletter-body-text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.profile-login-links {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 10px;
}

.profile-login-links a:hover {
    color: $blue;
}

.profile-login-link-create-account {
    font-weight: 600;
}

.profile-create-account h2 {
    font-size: 24px;
    font-weight: 300;
    font-family: $mainFont;
}

.profile-create-account .profile-create-account-actions {
    margin-top: 30px;
}

.profile-create-account .profile-create-account-button-to-shop {
    margin-right: 15px;

    @media(max-width: $breakpoint-med) {
        margin-bottom: 10px;
    }
}

.profile-orders-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 30px;
}

.profile-orders-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-top: 1px solid $separator;
    padding-top: 15px;
    padding-bottom: 15px;

    @media(min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.profile-orders-header {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 10px 0;

    text-align: center;

    @media(min-width: $breakpoint-med) {
        width: 20%;
        margin: 0;

        text-align: left;
    }
}

.profile-orders-details {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    @media(min-width: $breakpoint-med) {
        width: 40%;
    }
}

.profile-orders-details dd,
.profile-orders-details dt {
    width: 45%;
}

.profile-orders-details dt {
    text-align: right;
    color: $footerCopy;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 300;
}

.profile-orders-details dd {
    margin-left: 15px;

    font-family: $mainFont;
    font-size: 16px;
    font-weight: 300;
}

.profile-orders-details.payment .profile-orders-details-status {
    color: $orange;
    font-weight: 600;
}

.profile-orders-details.in-progress .profile-orders-details-status {
    color: $blue;
    font-weight: 600;
}

.profile-orders-details.sent .profile-orders-details-status {
    color: $lightGreen;
    font-weight: 600;
}

.profile-orders-name {
    font-size: 16px;
    font-weight: 300;
    font-family: $mainFont;
}

.profile-orders-actions {
    justify-self: flex-end;
    margin-top: auto;

    @media only screen and (max-width: $breakpoint-med) {
        margin-top: 20px;
    }
}

.profile-orders-pagination {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.profile-orders-pagination-pages {
    display: flex;
    flex-direction: row;
}

.profile-orders-pagination-pages li {
    font-size: 16px;
    font-weight: 300;
    font-family: $mainFont;

    a {
        padding: 0.75rem;
    }

    &.active {
        background-color: $separator;
    }
}


@media(max-width: $breakpoint-med) {
    .profile-reseller-body {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.profile-reseller-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.profile-reseller-points {
    color: $blue;
    font-size: 30px;
    font-weight: 600;
}

.profile-reseller-table {
    margin-top: 60px;
}

.profile-reseller-table td,
.profile-reseller-table th {
    padding: 3px;
}

.profile-order-details-table,
.profile-reseller-table {
    width: 100%;
}

.profile-order-details-shipping {
    margin-top: 30px;
}

.profile-order-details-shipping th,
.profile-order-details-shipping td,
.profile-order-details-shipping-provider th,
.profile-order-details-shipping-provider td {
    width: percentage(1/3);
}

.profile-order-details-items,
.profile-order-details-shipping-provider {
    margin-top: 30px;
}

.profile-order-details-total-price {
    margin-top: 30px;

    text-align: right;
    font-size: 20px;
    font-family: $mainFont;
    font-weight: 600;
    color: $text;
}

.profile-order-details-status {
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    p,
    img {
        display: none;
    }
}

.profile-order-details-status-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
        text-align: left;
    }
}

.profile-order-details-status-info h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: $mainFont;
    color: $blue;
}

.profile-order-details-status-info.payment h3 {
    color: $orange;
}

.profile-order-details-status-info.in-progress h3 {
    color: $blue;
}

.profile-order-details-status-info.sent h3 {
    color: $lightGreen;
}

.profile-order-details-status-info p,
.profile-order-details-direct-transfer p {
    font-size: 16px;
    font-weight: 400;
    font-family: $mainFont;

    @media only screen and(max-width: $breakpoint-med) {
        font-size: 14px;
    }
}

.profile-order-details-direct-transfer {
    margin-top: 30px;

    @media only screen and(max-width: $breakpoint-med) {
        margin: 0 20px;
        padding-top: 20px;
    }
}

.profile-order-update-payment-container {
    display: flex;
    justify-content: space-around;

    margin-top: 60px;
    width: 100%;

    @media only screen and (max-width: $breakpoint-med) {
        margin-top: 20px;
    }
}

.profile-order-update-payment {
    width: 100%;
    margin: 0 10px;

    @media(min-width: $breakpoint-med) {
        width: 70%;
        margin: 0;
    }
}

.profile-order-update-payment .shop-checkout-actions input[type=submit] {
    align-self: flex-end;
    margin-left: auto;
}