.shop-item-breadcrumbs {
    display: none;
    flex-direction: column;
    padding: 20px;

    font-family: $mainFont;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;

    @media(min-width: $breakpoint-med) {
        display: flex;
        flex-direction: row;
    }
}

.shop-item-breadcrumbs li,
.shop-item-breadcrumbs li a:hover {
    color: $text;
}

.shop-item-breadcrumbs li a:link,
.shop-item-breadcrumbs li a:visited {
    color: $footerCopy;
}

.shop-item-breadcrumbs li i {
    margin: 0 10px;

    font-size: 14px;
    font-weight: 600;
}

.shop-item-container {
    display: flex;
    flex-direction: column;

    padding: 0 0 40px 0;
    margin: 0 auto;

    @media only screen and (min-width: $breakpoint-med) {
        flex-direction: row;
    }
}

.shop-item-preview-container {
    width: 100%;
    min-height: auto;
    background: linear-gradient(180deg, #fff 0%, #868686 100%);

    @media only screen and (min-width: $breakpoint-med) {
        width: percentage(8/12);
        min-height: 400px;
        max-width: 800px;
    }

    /*background-color: #C1C1C1;*/
}

.shop-item-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    @media only screen and (min-width: $breakpoint-med) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 40px;
        min-height: 650px;
    }
}

.shop-item-picture-container.swiper-container {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 200px;
}

.shop-item-picture-container {
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
    width: percentage(7/8);
    height: 70%;
    max-width: 700px;
    max-height: 500px;
}

.shop-item-picture-slide {
    display: flex;
    align-items: center;

    width: 500px;
    height: 300px;

    @media only screen and (min-width: $breakpoint-large) {
        width: 700px;
        height: 500px;
    }
}

.shop-item-picture {
    width: 100%;
    height: auto;
}

.shop-item-picture-navigation,
.shop-item-reviews-navigation {
    display: none;
}

.shop-item-picture-container:hover .shop-item-picture-navigation,
.shop-item-reviews:hover .shop-item-reviews-navigation {
    display: block;

    @media only screen and (pointer: none) {
        display: none;
    }
}

.shop-item-picture-navigation.swiper-button-prev,
.shop-item-reviews-navigation.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.shop-item-picture-navigation.swiper-button-next,
.shop-item-reviews-navigation.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.shop-item-picture-pagination .swiper-pagination-bullet-active {
    background: $text;
}

.swiper-pagination-bullet-active {
    background: white;
}

.shop-item-colors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: auto;
    justify-self: flex-end;
    padding-top: 20px;

    width: 100%;
    max-width: 700px;

    @media only screen and (min-width: $breakpoint-large) {
        max-width: 700px;
    }
}

.shop-item-color {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0px;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    cursor: pointer;

    @media only screen and (min-width: $breakpoint-large) {
        flex-basis: 10%;
    }
}

.shop-item-color .shop-item-color-sample {
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    border: 1px solid #767676;
}

.shop-item-color.active .shop-item-color-sample {
    border: 1px solid #eee;
    background-color: #ddd !important;
}

.shop-item-color.noactive .shop-item-color-sample:hover {
    border: 1px solid $blue;
}

.shop-item-color-sample {
    width: 50px;
    height: 50px;

    @media only screen and (min-width: $breakpoint-med) {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
}

.shop-item-color-name {
    display: none;
    font-size: 10px;
    line-height: 1em;


    @media only screen and (min-width: $breakpoint-med) {
        font-size: 12px;
    }
}


.shop-item-bits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: auto;
    justify-self: flex-end;
    padding-top: 20px;

    width: 100%;
    max-width: 300px;

    @media only screen and (min-width: $breakpoint-large) {
        max-width: 700px;
    }


    .shop-item-bit {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        margin-bottom: 10px;

        flex-basis: 20%;
        cursor: pointer;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background: rgba(0, 0, 0, 0.1);

        line-height: 1.1;
        font-size: 16px;
        padding-bottom: 10px;

        @media only screen and (min-width: $breakpoint-large) {
            flex-basis: 10%;
        }

        a {
            small {
                color: #fff;
            }
        }
    }

    .shop-item-bit.active {
        border: 1px solid $text;
    }

}


.shop-item-details-container {
    width: 100%;

    @media only screen and (min-width: $breakpoint-med) {
        width: percentage(4/12);
        max-width: 400px;
    }
}

.shop-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    background: $contentBackground;

    @media only screen and (min-width: $breakpoint-med) {
        align-items: flex-end;
    }
}

.shop-item-name {
    color: $text;
    font-family: $mainFont;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    line-height: 1.4em;

    @media only screen and (max-width: $breakpoint-med) {
        text-align: center;
    }
}

.shop-item-content {
    text-align: right;
    padding-top: 15px;
    font-weight: 300;
    font-size: 16px;
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;

    @media only screen and (max-width: $breakpoint-med) {
        text-align: center;
    }
}

.shop-item-size {
    display: flex;
    align-items: center;

    margin-top: 30px;

    color: $text;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 300;
}

.shop-item-size ul#item_rozmiary {
    display: flex;

    margin-left: 10px;
}

.shop-item-size ul#item_rozmiary li {

    a:link,
    a:visited {
        display: block;
        font-size: 14px;
        text-align: center;
        padding: 5px 13px;
        border: 1px solid $text;
        color: $text;
    }

    a:hover {
        background: $text;
        color: $contentBackground;
    }
}

.shop-item-size ul#item_rozmiary li.active a {
    background: $text;
    color: $contentBackground;
}

.shop-item-size-label {
    display: none;

    @media(max-width: $breakpoint-med) {
        display: none;
    }
}

.shop-item-size-matches {
    margin-top: 12px;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 300;
}

.shop-item-price-tax {
    text-align: right;
    margin-top: 35px;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
}

@media(max-width: $breakpoint-med) {
    .shop-item-price-tax {
        margin-top: 35px;
        text-align: center;
    }
}

.shop-item-price-old {
    margin: 0px 0;

    color: $separator;
    font-family: $mainFont;
    font-size: 24px;
    font-weight: 300;
    text-decoration: line-through;
}

.shop-item-price {
    margin: 5px 0 16px 0;
    font-family: $mainFont;
    font-size: 40px;
    font-weight: 300;
    display: flex;
    line-height: 26px;
}

.shop-item-shipping-price {
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    margin-bottom: 20px;
}

@media(max-width: $breakpoint-med) {
    .shop-item-shipping-price {
        text-align: center;
    }
}


.shop-item-add-to-cart-button {
    margin-top: 25px;
    padding: 7px 15px;
    cursor: pointer;

    i {
        margin-right: 10px;
    }
}

.shop-item-additional-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;

    width: 100%;

    @media only screen and (min-width: $breakpoint-med) {
        justify-content: flex-end;
    }
}

@media(max-width: $breakpoint-med) {
    .shop-item-additional-info-container {
        margin-top: 35px;
        margin-bottom: 35px;

    }
}


.shop-item-additional-info {
    width: 100%;
    color: $footerCopy;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    line-height: 22px;

    @media only screen and (min-width: $breakpoint-med) {
        width: 100%;
        text-align: right;
    }
}

.shop-item-additional-info em {
    color: $text;
    font-weight: 600;
    font-style: normal;
}

.shop-item-additional-info.shop-item-additional-info-highlighted em {
    color: lighten($blue, 25%);
}

.shop-item-additional-info.shop-item-additional-info-highlighted-orange em {
    color: $orange;
}

.shop-item-additional-resources {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $breakpoint-med) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

.shop-item-producent {
    padding-top: 15px;

    img {
        max-width: 250px;
        height: auto;
    }
}

a:link.shop-item-additional-resources-button,
a:visited.shop-item-additional-resources-button {
    border-radius: 2px;
    margin-bottom: 10px;

    color: $text;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 600;

    @media only screen and (min-width: $breakpoint-med) {
        margin-left: 10px;
    }
}

.shop-item-additional-resources-button i {
    margin-left: 10px;
}

.shop-item-review {
    display: flex;
    flex-direction: row;
}

.shop-item-review.swiper-slide {
    width: 100%;

    @media only screen and (min-width: $breakpoint-med) {
        width: 50%;
        padding-left: 50px;
        padding-right: 30px;
    }
}

.shop-item-review-photo {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-top: 20px;
}

.shop-item-review-details {
    display: flex;
    flex-direction: column;
}

.shop-item-review-details-header {
    font-size: 16px;
    font-weight: 600;
    color: $text;
    display: flex;
    align-items: center;
}

.shop-item-review-details-stars {
    padding-right: 5px;
}

.shop-item-review-details-content {
    font-size: 16px;
    font-weight: 400;
    color: $footerCopy;
}

.shop-item-review-details-content p {
    font-size: 14px;
    line-height: 26px;

    @media only screen and (min-width: 720px) {
        font-size: 18px;
    }
}

.shop-item-section {
    width: 100%;
    padding: 10px;

    background: $contentBackground;
}

.shop-item-section-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-item-section-header-reviews {
    padding-bottom: 10px;
}

.shop-item-section-header-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.shop-item-news.page .page-container-offset,
.shop-item-news.page .offset-navbar,
.shop-item-news.page .page-header,
.shop-item-news.page .page-footer-slider.page-footer-blog-image,
.shop-item-news.page .page-footer-go-to-shop {
    display: none;
}

.shop-item-section-news-closed .shop-item-news {
    display: none;
}

.shop-item-section-news .container {
    margin-top: 0px;
}