.shop-rent-header {
    background-color: $welcomeProductsBackground;
}

.page-content.shop-rent-content {
    margin: 30px auto;
}

.shop-rent-details p {
    margin-bottom: 15px;

    font-size: 16px;
    font-weight: 300;
    font-family: $mainFont;
}

.shop-rent-details strong {
    color: $text;
    font-size: 20px;
    font-weight: 600;
    font-family: $mainFont;
}

.shop-rent-offer-options {
    margin-top: 60px;
}

.shop-rent-offer-options li {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 10px;
    padding: 10px;

    background-color: $separator;
}

.shop-rent-offer-details {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.shop-rent-offer-name {
    font-size: 16px;
    font-family: $mainFont;
    font-weight: 600;
}

.shop-rent-offer-size {
    font-size: 14px;
    font-family: $mainFont;
    font-weight: 300;
}

.shop-rent-offer-photo {
    width: 50%;

    img {
        width: 100%;
        height: auto;
    }
}

.shop-rent-return {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
}